.section-2 {
  display: -ms-grid;
  -ms-grid-columns: auto minmax(0, 1fr);
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  margin-right: -130px;
  padding: 15px 30px;
  background-color: #171921;
}

.section-2__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 50px;
  font-family: 'SF Pro Display Meduim', sans-serif;
  font-size: 23px;
  color: $white;
  white-space: nowrap;
  img {
    min-width: 45px;
  }
}

.section-2__slider {
  .slick-list {
    margin: 0 -10px;
  }
  .slick-slide {
    max-width: 260px;
    padding: 0 10px;
    &:focus {
      outline: none;
    }
    a {
      &:focus {
        outline: none;
      }
    }
  }
}

.section-2__slider_item {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid $green;
  box-sizing: border-box;
  &.yellow {
    border-color: #fea429;
    .section-2__slider_item_img {
      border-color: #fea429;
    }
    .section-2__slider_item_percent_icon {
      fill: #fea429;
    }
  }
  &.orange {
    border-color: #ec5a3c;
    .section-2__slider_item_img {
      border-color: #ec5a3c;
    }
    .section-2__slider_item_percent_icon {
      fill: #ec5a3c;
    }
  }
  &.red {
    border-color: #fe4141;
    .section-2__slider_item_img {
      border-color: #fe4141;
    }
    .section-2__slider_item_percent_icon {
      fill: #fe4141;
    }
  }
  &.blue {
    border-color: #3072bb;
    .section-2__slider_item_img {
      border-color: #3072bb;
    }
    .section-2__slider_item_percent_icon {
      fill: #3072bb;
    }
  }
}

.section-2__slider_item_left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.section-2__slider_item_img {
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid $green;
  box-sizing: border-box;
  overflow: hidden;
  img {
    min-width: 100%;
    min-height: 100%;
    border-radius: 50%;
  }
}

.section-2__slider_item_name {
  margin: 0 10px;
  font-family: 'SF Pro Display Bold', sans-serif;
  font-size: 15px;
  color: #c2c5c8;
}

.section-2__slider_item_label {
  display: block;
  font-size: 13px;
  color: #b1b1b1;
  white-space: nowrap;
}

.section-2__slider_item_percent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5px;
}

.section-2__slider_item_percent_value {
  font-family: 'SF Pro Display Bold', sans-serif;
  font-size: 23px;
  color: $white;
}

.section-2__slider_item_percent_icon {
  width: 15px;
  margin-left: 5px;
  fill: $green;
}