.section-2 {
  display: -ms-grid;
  -ms-grid-columns: auto minmax(0, 1fr);
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  margin-right: -13em;
  padding: 1.5em 3em;
  background-color: #171921;
}

.section-2__title {
  -ms-grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 5em;
  font-family: 'SF Pro Display Meduim', sans-serif;
  color: $white;
  white-space: nowrap;
  span {
    font-size: 2.3em;
  }
  img {
    min-width: 4.5em;
    min-height: 6em;
  }
}

.section-2__slider {
  -ms-grid-column: 2;
  .slick-list {
    margin: -1.5em;
  }
  .slick-slide {
    max-width: 26em;
    padding: 1.5em 1em;
    &:focus {
      outline: none;
    }
    a {
      &:focus {
        outline: none;
      }
    }
  }
}

.section-2__slider_item {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid $green;
  box-sizing: border-box;
  &:hover {
    &.yellow {
      box-shadow: 0 0 1.5em 0 rgba(254, 65, 65, 0.2);
    }
    &.orange {
      box-shadow: 0 0 1.5em 0 rgba(254, 164, 41, 0.15);
    }
    &.red {
      box-shadow: 0 0 1.5em 0 rgba(254, 65, 65, 0.4);
    }
    &.blue {
      box-shadow: 0 0 1.5em 0 rgba(47, 119, 194, 0.3);
    }
  }
  &.yellow {
    border-color: #fea429;
    background-color: #2d2a27;
    .section-2__slider_item_img {
      border-color: #fea429;
    }
    .section-2__slider_item_percent_icon {
      fill: #fea429;
    }
  }
  &.orange {
    border-color: #ec5a3c;
    background-color: #362925;
    .section-2__slider_item_img {
      border-color: #ec5a3c;
    }
    .section-2__slider_item_percent_icon {
      fill: #ec5a3c;
    }
  }
  &.red {
    border-color: #fe4141;
    background-color: #342727;
    .section-2__slider_item_img {
      border-color: #fe4141;
    }
    .section-2__slider_item_percent_icon {
      fill: #fe4141;
    }
  }
  &.blue {
    border-color: #3072bb;
    background-color: #1e2c36;
    .section-2__slider_item_img {
      border-color: #3072bb;
    }
    .section-2__slider_item_percent_icon {
      fill: #3072bb;
    }
  }
}

.section-2__slider_item_left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.section-2__slider_item_img {
  width: 6em;
  min-width: 6em;
  height: 6em;
  border-radius: 50%;
  border: 0.3em solid $green;
  box-sizing: border-box;
  overflow: hidden;
  img {
    min-width: 100%;
    min-height: 100%;
    border-radius: 50%;
  }
}

.section-2__slider_item_name {
  margin: 0 1em;
  font-family: 'SF Pro Display Bold', sans-serif;
  color: #c2c5c8;
  span {
    font-size: 1.5em;
  }
}

.section-2__slider_item_label {
  display: block;
  font-size: 1.3em;
  color: #b1b1b1;
  white-space: nowrap;
}

.section-2__slider_item_percent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0.5em;
}

.section-2__slider_item_percent_value {
  font-family: 'SF Pro Display Bold', sans-serif;
  font-size: 2.3em;
  color: $white;
}

.section-2__slider_item_percent_icon {
  width: 1.5em;
  margin-left: 0.5em;
  fill: $green;
}