<div class="my-bonuses">

    <div class="settings__title">
        <img src="../../assets/img/svg/heart-outline.svg" alt="">
        <span>Мои бонусы</span>
    </div>
    <div class="settings__subtitle">Просматривайте и управляйте вашими бонусами</div>

    <div class="balance">
        <div class="balance__item_double">
            <div class="balance__item item-2">
                <div class="balance__item_top">
                    <div class="balance__item_left">
                        <div class="balance__item_user">
                            <div class="balance__item_user_balance">
                                20,000<span>.00 ₽</span>
                            </div>
                        </div>
                    </div>
                    <div class="balance__item_right">
                        <div class="balance__item_title">
                            <div class="popover">
                                <div class="popover-link"><span>?</span></div>
                                <div class="popover-content">
                                    <div class="popover-text">
                                        <b>На бонусный счет играть нельзя.</b><br>
                                        Но вы можете целиком получить этот бонус на ваш реальный счет. Достаточно отыграть бонус с вашим последним вагером.
                                    </div>
                                    <div class="popover-btn">
                                        <a href="#" class="btn">
                                            <span>Подробнее</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <span>Бонусный баланс</span>
                        </div>
                        <div class="balance__item_subtitle">Неиграбельный бонусный баланс</div>
                    </div>
                </div>
            </div>
            <!-- /.balance__item -->
        </div>
        <!-- /.balance__item_double -->
        <div class="balance__item promo">
            <div class="balance__item_top">
                <div class="promo-label">
                    <span>Промокод для активации бонусов</span>
                    <div class="popover">
                        <div class="popover-link"><span>?</span></div>
                        <div class="popover-content">
                            <div class="popover-text">
                                Промокод для активации бонусов
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form class="promo-form">
                <label class="input">
                    <input type="text" placeholder="Введите промокод">
                </label>
                <button class="btn"><span>Применить</span></button>
            </form>
        </div>
        <!-- /.balance__item -->
    </div>

    <div class="balance-2">
        <div class="balance__title">Бонусы лояльности</div>
        <div class="balance__subtitle">Запросы, ожидающие подтверждения</div>
    </div>

    <div class="balance">
        <div class="balance__item">
            <div class="balance__item_top">
                <div class="balance__item_left">
                    <div class="user__icon">
                        <div class="user__icon_status">
                            <img src="../../assets/img/svg/status-5.svg" alt="">
                        </div>
                        <div class="user__icon_progress"></div>
                    </div>
                </div>
                <div class="balance__item_right">
                    <div class="balance__item_title">
                        <span>Бриллиантовый статус</span>
                        <div class="popover">
                            <div class="popover-link"><span>?</span></div>
                            <div class="popover-content">
                                <div class="popover-text">
                                    <b>Это статус в нашем VIP клубе Gringo.</b><br>
                                    Для обладателей статусов мы дарим: самые лучшие бонусы в СНГ, акции, кэшбеки, подарки и персональные турниры!
                                </div>
                                <div class="popover-btn">
                                    <a href="#" class="btn">
                                        <span>Подробнее о статусах</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="balance__item_progress">
                        <span>5 Уровень</span> &nbsp; 25% прогресс
                    </div>
                </div>
            </div>
        </div>
        <!-- /.balance__item -->
        <div class="balance__item_double">
            <div class="balance__item item-3">
                <div class="balance__item_top">
                    <div class="balance__item_left">
                        <div class="balance__item_user">
                            <div class="balance__item_user_exchange" title="Обменять алмазы">
                                <span>⇄</span>
                            </div>
                            <div class="balance__item_user_balance">
                                10,000
                            </div>
                            <img src="../../assets/img/icons/diamond-purple.png" alt="">
                        </div>
                    </div>
                    <div class="balance__item_right">
                        <div class="balance__item_title">
                            <div class="popover">
                                <div class="popover-link"><span>?</span></div>
                                <div class="popover-content">
                                    <div class="popover-text">
                                        <b>На бонусный счет играть нельзя.</b><br>
                                        Но вы можете целиком получить этот бонус на ваш реальный счет. Достаточно отыграть бонус с вашим последним вагером.
                                    </div>
                                    <div class="popover-btn">
                                        <a href="#" class="btn">
                                            <span>Подробнее</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <span>Доступные алмазы</span>
                        </div>
                        <div class="balance__item_subtitle">Неиграбельный бонусный баланс для обмена</div>
                    </div>
                </div>
            </div>
            <!-- /.balance__item -->
        </div>
        <!-- /.balance__item_double -->
    </div>

    <div class="balance-2">

        <div class="balance__title">Активные бонусы</div>
        <div class="balance__subtitle">Просматривайте и управляйте бонусами </div>

        <div class="balance">
            <div class="balance__item">
                <div class="balance__item_top">
                    <div class="balance__item_left">
                        <div class="balance__item_logo">
                            <img src="../../assets/img/svg/balance-item-logo-1.svg" alt="">
                        </div>
                    </div>
                    <div class="balance__item_right">
                        <div class="balance__item_title">
                            <span>Приветственный бонус</span>
                        </div>
                        <div class="balance__item_subtitle">Истекает 30 августа</div>
                    </div>
                </div>
                <label class="toggle-checkbox" data-fancybox="" data-touch="false" data-src="#modal-bonus-cancel">
                    <input class="check__input" type="checkbox" checked="">
                    <span class="check__live"></span>
                </label>
            </div>
            <!-- /.balance__item -->
            <div class="balance__item">
                <div class="balance__item_top">
                    <div class="balance__item_left">
                        <div class="balance__item_logo">
                            <img src="../../assets/img/svg/balance-item-logo-2.svg" alt="">
                        </div>
                    </div>
                    <div class="balance__item_right">
                        <div class="balance__item_title">
                            <span>Счастливый четверг!</span>
                        </div>
                        <div class="balance__item_subtitle">Истекает 1 сентября</div>
                    </div>
                </div>
                <label class="toggle-checkbox" data-fancybox="" data-touch="false" data-src="#modal-bonus-cancel">
                    <input class="check__input" type="checkbox" checked="">
                    <span class="check__live"></span>
                </label>
            </div>
            <!-- /.balance__item -->
        </div>
        <!-- /.balance -->

    </div>

    <div class="balance-4">

        <div class="balance__title">Доступные бонусы</div>
        <div class="balance__subtitle">Бонусы, которые ждут вашей активации</div>

        <div class="balance__date">
            <div class="balance__date_item">
                <div class="balance__date_label"><span>С даты:</span></div>
                <label class="balance__date_input">
                    <input type="date">
                </label>
            </div>
            <div class="balance__date_item">
                <div class="balance__date_label"><span>По дату:</span></div>
                <label class="balance__date_input">
                    <input type="date">
                </label>
            </div>
        </div>

        <div class="balance__table_overflow">
            <div class="balance__table my-bonuses__table-1">
                <div class="balance__table_head">
                    <div class="balance__table_item">
                        <div class="balance__table_item_name item"><span>Наименование</span></div>
                        <div class="balance__table_item_date item"><span>Дата</span></div>
                        <div class="balance__table_item_time item"><span>Действует до</span></div>
                        <div class="balance__table_item_sum item"><span>Сумма</span></div>
                        <div class="balance__table_item_wager item"><span>Вагер</span></div>
                        <div class="balance__table_item_bonus item"><span>Бонус-код</span></div>
                    </div>
                </div>
                <div class="balance__table_body">
                    <div class="balance__table_item">
                        <div class="balance__table_item_name item"><span>Приветственный бонус</span></div>
                        <div class="balance__table_item_date item"><span>13.06.2020 19:22</span></div>
                        <div class="balance__table_item_time item"><span>13.06.2020</span></div>
                        <div class="balance__table_item_sum item"><span>300% + 150FS</span></div>
                        <div class="balance__table_item_wager item"><span>х25</span></div>
                        <div class="balance__table_item_bonus item"><span>heygringo</span></div>
                    </div>
                    <div class="balance__table_item">
                        <div class="balance__table_item_name item"><span>Счастливый четверг!</span></div>
                        <div class="balance__table_item_date item"><span>13.06.2020 19:22</span></div>
                        <div class="balance__table_item_time item"><span>13.06.2020</span></div>
                        <div class="balance__table_item_sum item"><span>ДО 200FS</span></div>
                        <div class="balance__table_item_wager item"><span>х15</span></div>
                        <div class="balance__table_item_bonus item"><span>luckyspin</span></div>
                    </div>
                    <div class="balance__table_item">
                        <div class="balance__table_item_name item"><span>50% Бонус во вторник</span></div>
                        <div class="balance__table_item_date item"><span>13.06.2020 19:22</span></div>
                        <div class="balance__table_item_time item"><span>13.06.2020</span></div>
                        <div class="balance__table_item_sum item"><span>50%</span></div>
                        <div class="balance__table_item_wager item"><span>х15</span></div>
                        <div class="balance__table_item_bonus item"><span>thuesdaycash</span></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="pagination">
        <div class="pagination__arrow prev">
            <img src="../../assets/img/svg/arrow-right.svg" alt="">
        </div>
        <ul class="pagination__list">
            <li class="pagination__list_item">
                <a href="#" class="pagination__list_item_link active">1</a>
            </li>
            <li class="pagination__list_item">
                <a href="#" class="pagination__list_item_link">2</a>
            </li>
            <li class="pagination__list_item">
                <a href="#" class="pagination__list_item_link">3</a>
            </li>
            <li class="pagination__list_item">
                <a href="#" class="pagination__list_item_link">4</a>
            </li>
            <li class="pagination__list_item">
                <div class="pagination__list_item_space">...</div>
            </li>
            <li class="pagination__list_item">
                <a href="#" class="pagination__list_item_link">8</a>
            </li>
        </ul>
        <div class="pagination__arrow next">
            <img src="../../assets/img/svg/arrow-right.svg" alt="">
        </div>
    </div>

    <div class="balance-4">

        <div class="balance__title">История бонусов</div>
        <div class="balance__subtitle">Все бонусы, которые вы уже ранее активировали</div>

        <div class="balance__date">
            <div class="balance__date_item">
                <div class="balance__date_label"><span>С даты:</span></div>
                <label class="balance__date_input">
                    <input type="date">
                </label>
            </div>
            <div class="balance__date_item">
                <div class="balance__date_label"><span>По дату:</span></div>
                <label class="balance__date_input">
                    <input type="date">
                </label>
            </div>
        </div>

        <div class="balance__table_overflow">
            <div class="balance__table my-bonuses__table-2">
                <div class="balance__table_head">
                    <div class="balance__table_item">
                        <div class="balance__table_item_name item"><span>Наименование</span></div>
                        <div class="balance__table_item_date item"><span>Дата</span></div>
                        <div class="balance__table_item_time item"><span>Действует до</span></div>
                        <div class="balance__table_item_sum item"><span>Сумма</span></div>
                        <div class="balance__table_item_wager item"><span>Вагер</span></div>
                        <div class="balance__table_item_status item"><span>Статус</span></div>
                        <div class="balance__table_item_btn item"></div>
                    </div>
                </div>
                <div class="balance__table_body">
                    <div class="balance__table_item">
                        <div class="balance__table_item_name item"><span>Приветственный бонус</span></div>
                        <div class="balance__table_item_date item"><span>13.06.2020 19:22</span></div>
                        <div class="balance__table_item_time item"><span>13.06.2020</span></div>
                        <div class="balance__table_item_sum item"><span>300% + 150FS</span></div>
                        <div class="balance__table_item_wager item"><span>х25</span></div>
                        <div class="balance__table_item_status item"><span>Успешно</span></div>
                        <div class="balance__table_item_btn item">
                            <a href="#"><span>Отменить бонус</span></a>
                        </div>
                    </div>
                    <div class="balance__table_item">
                        <div class="balance__table_item_name item"><span>Второй депозит</span></div>
                        <div class="balance__table_item_date item"><span>13.06.2020 19:22</span></div>
                        <div class="balance__table_item_time item"><span>13.06.2020</span></div>
                        <div class="balance__table_item_sum item minus"><span>200% + 180FS</span></div>
                        <div class="balance__table_item_wager item"><span>х20</span></div>
                        <div class="balance__table_item_status item process"><span>Ожидает <br> активации</span></div>
                        <div class="balance__table_item_btn item">
                            <a href="#"><span>Активировать</span></a>
                        </div>
                    </div>
                    <div class="balance__table_item">
                        <div class="balance__table_item_name item"><span>Счастливый четверг!</span></div>
                        <div class="balance__table_item_date item"><span>13.06.2020 19:22</span></div>
                        <div class="balance__table_item_time item"><span>13.06.2020</span></div>
                        <div class="balance__table_item_sum item"><span>20FS</span></div>
                        <div class="balance__table_item_wager item"><span>х15</span></div>
                        <div class="balance__table_item_status item"><span>Успешно</span></div>
                        <div class="balance__table_item_btn item">
                            <a href="#"><span>Отменить бонус</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="pagination">
        <div class="pagination__arrow prev">
            <img src="../../assets/img/svg/arrow-right.svg" alt="">
        </div>
        <ul class="pagination__list">
            <li class="pagination__list_item">
                <a href="#" class="pagination__list_item_link active">1</a>
            </li>
            <li class="pagination__list_item">
                <a href="#" class="pagination__list_item_link">2</a>
            </li>
            <li class="pagination__list_item">
                <a href="#" class="pagination__list_item_link">3</a>
            </li>
            <li class="pagination__list_item">
                <a href="#" class="pagination__list_item_link">4</a>
            </li>
            <li class="pagination__list_item">
                <div class="pagination__list_item_space">...</div>
            </li>
            <li class="pagination__list_item">
                <a href="#" class="pagination__list_item_link">8</a>
            </li>
        </ul>
        <div class="pagination__arrow next">
            <img src="../../assets/img/svg/arrow-right.svg" alt="">
        </div>
    </div>

</div>
<!-- /.my-bonuses -->