<div class="section-9">

    <div class="section__title">
        <div class="section__title_icon">
            <img src="../../assets/img/icons/section-9__icon.png" alt="">
        </div>
        <h2 class="h2">Провайдеры игр</h2>
    </div>

    <div class="section__slider section__slider-3">
        <div class="section-9__card">
            <a href="#" class="section-9__card_link">
                <div class="section-9__card_logo">
                    <img src="../../assets/img/icons/netent.png" alt="">
                </div>
            </a>
            <div class="section-9__card_games">
                <a href="#" class="section-9__card_games_item section-9__card_games_left">
                    <img src="../../assets/img/section-4__slide-1.png" alt="">
                </a>
                <a href="#" class="section-9__card_games_item section-9__card_games_center">
                    <img src="../../assets/img/section-9__card_img.png" alt="">
                </a>
                <a href="#" class="section-9__card_games_item section-9__card_games_right">
                    <img src="../../assets/img/all-games-12.png" alt="">
                </a>
            </div>
        </div>
        <div class="section-9__card">
            <a href="#" class="section-9__card_link">
                <div class="section-9__card_logo">
                    <img src="../../assets/img/icons/netent.png" alt="">
                </div>
            </a>
            <div class="section-9__card_games">
                <a href="#" class="section-9__card_games_item section-9__card_games_left">
                    <img src="../../assets/img/all-games-3.png" alt="">
                </a>
                <a href="#" class="section-9__card_games_item section-9__card_games_center">
                    <img src="../../assets/img/all-games-15.png" alt="">
                </a>
                <a href="#" class="section-9__card_games_item section-9__card_games_right">
                    <img src="../../assets/img/all-games-2.png" alt="">
                </a>
            </div>
        </div>
        <div class="section-9__card">
            <a href="#" class="section-9__card_link">
                <div class="section-9__card_logo">
                    <img src="../../assets/img/icons/netent.png" alt="">
                </div>
            </a>
            <div class="section-9__card_games">
                <a href="#" class="section-9__card_games_item section-9__card_games_left">
                    <img src="../../assets/img/all-games-6.png" alt="">
                </a>
                <a href="#" class="section-9__card_games_item section-9__card_games_center">
                    <img src="../../assets/img/all-games-4.png" alt="">
                </a>
                <a href="#" class="section-9__card_games_item section-9__card_games_right">
                    <img src="../../assets/img/all-games-8.png" alt="">
                </a>
            </div>
        </div>
        <div class="section-9__card">
            <a href="#" class="section-9__card_link">
                <div class="section-9__card_logo">
                    <img src="../../assets/img/icons/netent.png" alt="">
                </div>
            </a>
            <div class="section-9__card_games">
                <a href="#" class="section-9__card_games_item section-9__card_games_left">
                    <img src="../../assets/img/section-4__slide-1.png" alt="">
                </a>
                <a href="#" class="section-9__card_games_item section-9__card_games_center">
                    <img src="../../assets/img/section-9__card_img.png" alt="">
                </a>
                <a href="#" class="section-9__card_games_item section-9__card_games_right">
                    <img src="../../assets/img/all-games-12.png" alt="">
                </a>
            </div>
        </div>
    </div>
    <!-- /.section__slider-3 -->

</div>
<!-- /.section-9 -->