<div class="section-9">

    <div class="section__title">
        <div class="section__title_icon">
            <img src="../../assets/img/svg/Providers-icon.svg" alt="">
        </div>
        <h2 class="h2">Провайдеры игр</h2>
    </div>

    <div class="section__slider section__slider-3">
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-9__slide-1.png" alt="">
                <span class="card__overflow"></span>
            </a>
        </div>
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-9__slide-1.png" alt="">
                <span class="card__overflow"></span>
            </a>
        </div>
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-9__slide-1.png" alt="">
                <span class="card__overflow"></span>
            </a>
        </div>
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-9__slide-1.png" alt="">
                <span class="card__overflow"></span>
            </a>
        </div>
    </div>
    <!-- /.section__slider-3 -->

</div>
<!-- /.section-9 -->