.modal-login {
  display: none;
  width: 100%;
  max-width: 52em;
  padding: 5em 5em 1.5em;
  box-sizing: border-box;
  border-radius: 1.5em;
  border: solid 1px #363e47;
  backdrop-filter: blur(1.5em);
  background-color: #22252e;
  cursor: default !important;
  .form-title {
    text-align: left;
  }
  .btn {
    width: 25em;
  }
}

.modal-login__head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.modal-login__head_left_logo {
  margin-right: 1.5em;
  img {
    width: 7.5em;
  }
}

.modal-login__subtitle {
  margin-top: 0.5em;
  font-family: 'SF Pro Display Meduim', sans-serif;
  font-size: 1.7em;
  color: rgba($white, .6);
  line-height: 1;
}

.modal-login__social {
  position: relative;
  margin-top: 2.5em;
  padding: 2.5em 0 0;
  border-top: 1px solid #363e47;
}

.modal-login__social_title {
  position: absolute;
  top: -1.2em;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 1.5em;
  background-color: #212633;
  font-family: 'SF Pro Display Meduim', sans-serif;
  color: rgba($white, .6);
  white-space: nowrap;
  span {
    font-size: 1.7em;
  }
}

.modal-login__social_list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-login__social_list_link {
  margin-right: 4em;
  &:last-child {
    margin-right: 0;
  }
  img {
    width: 5em;
  }
}



@media (max-width: 767.98px) {
  .modal-login {
    padding: 2em 1em 1em;
    border-radius: 0;
    border: none;
    backdrop-filter: none;
    background-color: transparent;
  }
  .modal-login__subtitle {
    font-size: 1.3em;
  }
  .modal-login__head_left_logo {
    margin-right: 0.5em;
  }
}