<div class="modal-login" id="modal-login">

    <div class="modal-login__head">
        <div class="modal-login__head_left">
            <div class="modal-login__head_left_logo">
                <img src="../../../assets/img/icons/logo.png" alt="">
            </div>
        </div>
        <div class="modal-login__head_right">
            <div class="form-title">Вход на сайт</div>
            <div class="modal-login__subtitle">Добро пожаловать на GrinGoPlay.com</div>
        </div>
    </div>
    <!-- /.modal-login__head -->

    <form class="form">
        <div class="form-group">
            <div class="input-label">Ваш Email или номер телефона</div>
            <label class="input">
                <input type="text" placeholder="E-mail или номер телефона">
            </label>
        </div>
        <div class="form-group">
            <div class="input-label">Ваш пароль</div>
            <label class="input">
                <input type="password" placeholder="Введите ваш пароль">
                <button class="password-btn"><span>Забыли?</span></button>
            </label>
        </div>
        <div class="form-btn">
            <button class="btn"><span>Войти</span></button>
        </div>
    </form>
    <!-- /.form -->

    <div class="modal-login__social">
        <div class="modal-login__social_title"><span>Или войти через:</span></div>
        <div class="modal-login__social_list">
            <a href="#" class="modal-login__social_list_link">
                <img src="../../../assets/img/svg/login-vk.svg" alt="">
            </a>
            <a href="#" class="modal-login__social_list_link">
                <img src="../../../assets/img/svg/login-fb.svg" alt="">
            </a>
            <a href="#" class="modal-login__social_list_link">
                <img src="../../../assets/img/svg/login-od.svg" alt="">
            </a>
        </div>
    </div>

    <div class="form-account">
        <div class="form-account__title">Еще нет аккаунта? </div>
        <a href="#" class="form-account__link">Зарегистрируйтесь</a>
    </div>

</div>
<!-- /.modal-login -->