.settings {
  .container {
    max-width: 114.3em;
    margin: 0 auto;
    padding-left: 0;
    padding-bottom: 7em;
    box-sizing: border-box;
    overflow: visible;
    &.bonuses {
      max-width: 163.4em;
    }
  }
  .side-menu {
    display: none;
    &.active {
      display: block;
    }
  }
}

.settings-nav {
  padding-top: 7em;
  background-color: rgba($black, .3);
}

.settings-nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 114.3em;
  margin: 0 auto;
}

.settings-nav__list_item {
  margin-right: 2.5em;
  &:last-child {
    margin-right: 0;
  }
}

.settings-nav__list_link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7em;
  font-family: 'SF Pro Display Meduim', sans-serif;
  color: rgba($white, .4);
  white-space: nowrap;
  span {
    font-size: 1.8em;
  }
  &:hover {
    color: rgba($white, .6);
    .settings-nav__list_icon {
      fill: rgba($white, .6);
    }
  }
  &.active {
    color: $green;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0.22em;
      border-radius: 0.2em 0.2em 0 0;
      background-color: $green;
    }
    .settings-nav__list_icon {
      fill: $green;
    }
  }
}

.settings-nav__list_icon {
  width: 2em;
  margin-right: 0.5em;
  fill: rgba($white, .4);
  transition: .3s;
}

.settings__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-family: 'SF Pro Display Meduim', sans-serif;
  color: $white;
  img {
    width: 3em;
    margin-right: 1em;
  }
  span {
    font-size: 3.5em;
  }
}

.settings__subtitle {
  width: 100%;
  margin-top: 0.2em;
  font-size: 2.2em;
  color: rgba($white, .3);
}

@media (max-width: 767.98px) {
  .settings {
    .container {
      max-width: none;
      width: 100%;
      padding: 2em 1em 0;
    }
    .footer__lvl2 {
      .footer__icons {
        margin: 0;
        box-sizing: border-box;
      }
    }
  }
  .settings__title {
    img {
      width: 2em;
      margin-right: 0.5em;
    }
    span {
      font-size: 2.5em;
    }
  }
  .settings__subtitle {
    font-size: 1.6em;
  }
  .settings-nav {
    overflow-x: auto;
  }
  .settings-nav__list {
    width: auto;
    padding: 0 1em;
  }
  .settings-nav__list_item {
    &:last-child {
      padding-right: 1em;
    }
  }
  .settings-nav__list_link {
    height: 4em;
    span {
      font-size: 1.5em;
    }
  }
  .settings-nav__list_icon {
    width: 1.8em;
  }
}