<div class="modal-form modal-registration" id="modal-registration">

    <div class="modal-grid">

        <div class="modal-grid__left">
            <div class="modal-grid__left_title">
                <span><b>GrinGo</b>Play.com</span>
            </div>
        </div>
        <!-- /.modal-grid__left -->

        <div class="modal-grid__right">

            <div class="form-title">Регистрация на GringoPlay</div>

            <div class="modal-registration__tabs">
                <a href="#form-registration-1" class="modal-registration__tabs_link active">
                    <span>По телефону</span>
                </a>
                <a href="#form-registration-2" class="modal-registration__tabs_link">
                    <span>Соц. сети</span>
                </a>
                <a href="#form-registration-3" class="modal-registration__tabs_link">
                    <span>По Email</span>
                </a>
            </div>

            <form class="form form-registration active" id="form-registration-1">
                <div class="form-group">
                    <div class="input-label">Введите номер телефона</div>
                    <div class="input-phone">
                        <label class="input input-phone-country">
                            <img src="../../../assets/img/icons/ru.png" alt="" class="flag">
                            <input type="text" value="+380">
                        </label>
                        <label class="input">
                            <input type="text" placeholder="(XXX) XXX - XX - XX">
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-label">Выберите валюту</div>
                    <div class="modal-registration__dropdown dropdown">
                        <a href="#registration-currency" class="modal-registration__dropdown_link js-dropdown-link">
                            <span class="sort-label">RUB</span> <span class="arrow"></span>
                        </a>
                        <div class="dropdown__content js-dropdown-content" id="registration-currency">
                            <ul class="dropdown__content_list">
                                <li class="dropdown__content_list_item">
                                    <a href="#" class="dropdown__content_list_item_link active">RUB</a>
                                </li>
                                <li class="dropdown__content_list_item">
                                    <a href="#" class="dropdown__content_list_item_link">UAH</a>
                                </li>
                                <li class="dropdown__content_list_item">
                                    <a href="#" class="dropdown__content_list_item_link">USD</a>
                                </li>
                                <li class="dropdown__content_list_item">
                                    <a href="#" class="dropdown__content_list_item_link">EUR</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.modal-registration__dropdown -->
                </div>
                <div class="form-btn">
                    <button class="btn" data-fancybox="" data-src="#modal-registration">
                        <img src="../../../assets/img/svg/register-icon.svg" alt="">
                        <span>Зарегистрироваться</span>
                    </button>
                </div>
            </form>
            <!-- /.form -->

            <form class="form form-registration" id="form-registration-2">
                <div class="form-btn">
                    <button class="btn" data-fancybox="" data-src="#modal-registration">
                        <img src="../../../assets/img/svg/register-icon.svg" alt="">
                        <span>Зарегистрироваться</span>
                    </button>
                </div>
            </form>
            <!-- /.form -->

            <form class="form form-registration" id="form-registration-3">
                <div class="form-group">
                    <label class="input">
                        <input type="text" placeholder="SMS Код">
                    </label>
                </div>
                <div class="form-btn">
                    <button class="btn" data-fancybox="" data-src="#modal-registration">
                        <img src="../../../assets/img/svg/register-icon.svg" alt="">
                        <span>Зарегистрироваться</span>
                    </button>
                </div>
            </form>
            <!-- /.form -->

            <div class="form-account">
                <div class="form-account__title">Уже есть аккаунт? </div>
                <a href="#" class="form-account__link">Войти</a>
            </div>

        </div>
        <!-- /.modal-grid__right -->

    </div>
    <!-- /.modal-grid -->

</div>
<!-- /.modal-registration -->