<div class="modal-form modal-registration" id="modal-registration">

    <div class="modal-grid">

        <div class="modal-grid__left">
            <div class="modal-grid__left_content">
                <div class="modal-grid__left_title">Приветственный бонус от Гринго!</div>
                <div class="modal-grid__left_subtitle">
                    +300% бонус к депозиту и 150 бесплатных вращений!
                </div>
            </div>
            <div class="modal-grid__left_bot">
                <span><b>GrinGo</b>Play.com</span>
            </div>
        </div>
        <!-- /.modal-grid__left -->

        <div class="modal-grid__right">

            <div class="form-title">Регистрация на GringoPlay</div>

            <div class="tab modal-registration__tabs modal-registration__tab-1">
                <a href="#modal-registration-content-tab-1" data-target=".modal-registration__tab-1" class="tabs-link active">
                    <span>По телефону</span>
                </a>
                <a href="#modal-registration-content-tab-2" data-target=".modal-registration__tab-1" class="tabs-link">
                    <span>Соц. сети</span>
                </a>
                <a href="#modal-registration-content-tab-3" data-target=".modal-registration__tab-1" class="tabs-link">
                    <span>По Email</span>
                </a>
            </div>

            <div class="tab-content modal-registration__content modal-registration__tab-1">
                <div id="modal-registration-content-tab-1" class="tabs-content active">
                    <form class="form form-registration">
                        <div class="form-group">
                            <div class="input-label">Введите номер телефона</div>
                            <div class="input-phone">
                                <label class="input input-phone-country">
                                    <img src="../../../assets/img/icons/ru.png" alt="" class="flag">
                                    <input type="text" value="+380">
                                </label>
                                <label class="input">
                                    <input type="text" placeholder="(XXX) XXX - XX - XX">
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-label">Выберите валюту</div>
                            <div class="modal-registration__dropdown dropdown">
                                <a href="#registration-currency-1" class="modal-registration__dropdown_link js-dropdown-link">
                                    <span class="sort-label registration-currency-value">RUB</span>
                                    <span class="arrow"></span>
                                </a>
                                <div class="dropdown__content js-dropdown-content" id="registration-currency-1">
                                    <ul class="dropdown__content_list">
                                        <li class="dropdown__content_list_item">
                                            <a href="#" class="dropdown__content_list_item_link active" data-target=".registration-currency-value">RUB</a>
                                        </li>
                                        <li class="dropdown__content_list_item">
                                            <a href="#" class="dropdown__content_list_item_link" data-target=".registration-currency-value">UAH</a>
                                        </li>
                                        <li class="dropdown__content_list_item">
                                            <a href="#" class="dropdown__content_list_item_link" data-target=".registration-currency-value">USD</a>
                                        </li>
                                        <li class="dropdown__content_list_item">
                                            <a href="#" class="dropdown__content_list_item_link" data-target=".registration-currency-value">EUR</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /.modal-registration__dropdown -->
                        </div>
                        <div class="form-btn">
                            <button class="btn" data-fancybox data-touch="false" data-src="#modal-registration">
                                <img src="../../../assets/img/svg/register-icon.svg" alt="">
                                <span>Зарегистрироваться</span>
                            </button>
                        </div>
                    </form>
                </div>
                <div id="modal-registration-content-tab-2" class="tabs-content">
                    <form class="form form-registration">
                        <div class="form-registration__social">
                            <a href="#" class="form-registration__social_link vk">
                                <img src="../../../assets/img/svg/register-vk.svg" alt="">
                                <span>Вконтакте</span>
                            </a>
                            <a href="#" class="form-registration__social_link fb">
                                <img src="../../../assets/img/svg/register-fb.svg" alt="">
                                <span>Facebook</span>
                            </a>
                            <a href="#" class="form-registration__social_link od">
                                <img src="../../../assets/img/svg/register-od.svg" alt="">
                                <span>Одноклассники</span>
                            </a>
                        </div>
                        <div class="form-group">
                            <div class="input-label">Выберите валюту</div>
                            <div class="modal-registration__dropdown dropdown">
                                <a href="#registration-currency-2" class="modal-registration__dropdown_link js-dropdown-link">
                                    <span class="sort-label registration-currency-value">RUB</span>
                                    <span class="arrow"></span>
                                </a>
                                <div class="dropdown__content js-dropdown-content" id="registration-currency-2">
                                    <ul class="dropdown__content_list">
                                        <li class="dropdown__content_list_item">
                                            <a href="#" class="dropdown__content_list_item_link active" data-target=".registration-currency-value">RUB</a>
                                        </li>
                                        <li class="dropdown__content_list_item">
                                            <a href="#" class="dropdown__content_list_item_link" data-target=".registration-currency-value">UAH</a>
                                        </li>
                                        <li class="dropdown__content_list_item">
                                            <a href="#" class="dropdown__content_list_item_link" data-target=".registration-currency-value">USD</a>
                                        </li>
                                        <li class="dropdown__content_list_item">
                                            <a href="#" class="dropdown__content_list_item_link" data-target=".registration-currency-value">EUR</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /.modal-registration__dropdown -->
                        </div>
                        <div class="form-btn">
                            <button class="btn" data-fancybox data-touch="false" data-src="#modal-registration">
                                <img src="../../../assets/img/svg/register-icon.svg" alt="">
                                <span>Зарегистрироваться</span>
                            </button>
                        </div>
                    </form>
                </div>
                <div id="modal-registration-content-tab-3" class="tabs-content">
                    <form class="form form-registration">
                        <div class="form-group">
                            <div class="input-label">Ваш E-Mail</div>
                            <label class="input">
                                <input type="email" placeholder="E-mail">
                            </label>
                        </div>
                        <div class="form-group">
                            <div class="modal-registration__password">
                                <div class="modal-registration__password_item">
                                    <div class="input-label">Ваш пароль</div>
                                    <label class="input success">
                                        <input type="password" placeholder="Ваш пароль">
                                    </label>
                                </div>
                                <div class="modal-registration__password_item">
                                    <div class="input-label">Повторите пароль</div>
                                    <label class="input error">
                                        <input type="password" placeholder="Повторите пароль">
                                        <span class="label-error">Error</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-label">Выберите валюту</div>
                            <div class="modal-registration__dropdown dropdown">
                                <a href="#registration-currency-3" class="modal-registration__dropdown_link js-dropdown-link">
                                    <span class="sort-label registration-currency-value">RUB</span>
                                    <span class="arrow"></span>
                                </a>
                                <div class="dropdown__content js-dropdown-content" id="registration-currency-3">
                                    <ul class="dropdown__content_list">
                                        <li class="dropdown__content_list_item">
                                            <a href="#" class="dropdown__content_list_item_link active" data-target=".registration-currency-value">RUB</a>
                                        </li>
                                        <li class="dropdown__content_list_item">
                                            <a href="#" class="dropdown__content_list_item_link" data-target=".registration-currency-value">UAH</a>
                                        </li>
                                        <li class="dropdown__content_list_item">
                                            <a href="#" class="dropdown__content_list_item_link" data-target=".registration-currency-value">USD</a>
                                        </li>
                                        <li class="dropdown__content_list_item">
                                            <a href="#" class="dropdown__content_list_item_link" data-target=".registration-currency-value">EUR</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /.modal-registration__dropdown -->
                        </div>
                        <div class="form-btn">
                            <button class="btn" data-fancybox data-touch="false" data-src="#modal-registration">
                                <img src="../../../assets/img/svg/register-icon.svg" alt="">
                                <span>Зарегистрироваться</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="form-account">
                <div class="form-account__title">Уже есть аккаунт? </div>
                <a href="#" class="form-account__link">Войти</a>
            </div>

        </div>
        <!-- /.modal-grid__right -->

    </div>
    <!-- /.modal-grid -->

</div>
<!-- /.modal-registration -->