.modal-registration {
  display: none;
  width: 100%;
  max-width: 90em;
  padding: 0;
  box-sizing: border-box;
  cursor: default !important;
  background-color: transparent;
  .form {
    margin-top: 3em;
  }
  .btn {
    width: 25em;
    height: 6em;
    background-color: $green;
    color: $white;
    span {
      font-size: 1.7em;
    }
    &:hover {
      background-color: darken($green, 10);
    }
  }
}

.modal-registration__tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5em;
  margin-top: 2em;
  border-radius: 3em;
  background-color: rgba($white, .05);
}

.modal-registration__tabs_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5em;
  border-radius: 3em;
  background-color: transparent;
  font-family: 'SF Pro Display Semibold', sans-serif;
  color: $white;
  span {
    font-size: 1.5em;
  }
  &:hover {
    background-color: rgba($white, .05);
  }
  &.active {
    background-color: $green;
    &:hover {
      background-color: $green;
    }
  }
}

.form-registration {
  display: none;
  &.active {
    display: block;
  }
}

.modal-registration__dropdown {
  box-sizing: border-box;
  font-family: 'SF Pro Display Meduim', sans-serif;
  .dropdown__content {
    width: 100%;
    min-width: auto;
    bottom: 2px;
    left: 0;
    right: auto;
    padding: 2em 2em 1em;
    box-sizing: border-box;
    border-radius: 0 0 0.5em 0.5em;
    border: 2px solid #303942;
    background-color: #1a212a;
  }
}

.modal-registration__dropdown_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 6em;
  padding: 0 2em;
  box-sizing: border-box;
  border-radius: 0.5em;
  border: 2px solid #303942;
  background-color: #1a212a;
  color: $white;
  span {
    font-size: 1.7em;
  }
  &.active {
    border-radius: 0.5em 0.5em 0 0;
  }
}

.form-registration__social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3em;
}

.form-registration__social_link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 12em;
  height: 5em;
  padding: 0 1em;
  box-sizing: border-box;
  border-radius: 1em;
  font-family: 'SF Pro Display Semibold', sans-serif;
  color: $white;
  img {
    max-width: 1.5em;
    max-height: 2em;
    margin-right: 1em;
  }
  span {
    font-size: 1.5em;
  }
  &.vk {
    background-color: #1976d2;
    &:hover {
      background-color: darken(#1976d2, 10);
    }
  }
  &.fb {
    background-color: #3f51b5;
    &:hover {
      background-color: darken(#3f51b5, 10);
    }
  }
  &.od {
    background-color: #e1880e;
    &:hover {
      background-color: darken(#e1880e, 10);
    }
  }
}

.modal-registration__password {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-registration__password_item {
  width: 100%;
  &:first-child {
    margin-right: 1em;
  }
}