.tournament-intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9.5em 21em 0;
  box-sizing: border-box;
  background-image: url(../../assets/img/tournament-intro.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tournament-intro__title {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  height: 9.5em;
  padding: 0 3.5em 0 2em;
  box-sizing: border-box;
  backdrop-filter: blur(2.2em);
  background-color: rgba($black, .3);
  font-family: 'SF Pro Display Semibold', sans-serif;
  color: $white;
  text-transform: uppercase;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: $gold;
  }
  span {
    font-size: 5.6em;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
  }
}

.tournament-intro__subtitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2em;
  font-family: 'SF Pro Display Bold', sans-serif;
  color: $gold;
  text-transform: uppercase;
  span {
    font-size: 3em;
    text-shadow: 1px 1px 7px #825614;
  }
  img {
    width: 6em;
  }
}

.tournament-intro__sum {
  font-family: 'SF Pro Display Bold', sans-serif;
  color: $white;
  text-shadow: 0.3em 0 1.6em rgba(0, 0, 0, 0.35);
  line-height: 1;
  span {
    font-size: 10em;
  }
}

.tournament-intro__btn {
  margin-top: 5em;
  .btn {
    position: relative;
    max-width: 35em;
    height: 7em;
    box-shadow: 0 0.5em 0 0 rgba(65, 184, 47, 0.6);
    &:active {
      top: 0.5em;
      box-shadow: none;
    }
    span {
      font-size: 2em;
    }
  }
}

.tournament-intro__users {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 3em;
}

.tournament-intro__users_list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 1.5em;
}

.tournament-intro__users_item {
  width: 4em;
  margin-left: -1em;
  &:first-child {
    margin-left: 0;
  }
  img {
    width: 100%;
  }
}

.tournament-intro__users_label {
  position: relative;
  padding-left: 1.5em;
  font-family: 'SF Pro Display Meduim', sans-serif;
  color: rgba($white, .5);
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 3em;
    background-color: rgba($white, .5);
  }
  span {
    font-size: 1.8em;
  }
}

.tournament-intro__right {
  position: relative;
}

.tournament-intro__img {
  img {
    width: 42.6em;
  }
}

.tournament-intro__timer {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-48%, 80%);
  width: 34em;
  padding: 1em 3em;
  box-sizing: border-box;
  border-radius: 1em;
  backdrop-filter: blur(5em);
  background-color: rgba(#585858, .3);
  text-align: center;
}

.tournament-intro__timer_title {
  position: relative;
  display: inline-block;
  justify-content: center;
  text-align: center;
  color: $white;
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -1.5em;
    transform: translateY(-50%);
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: $green;
  }
  span {
    font-size: 1.8em;
  }
}

.tournament-intro__timer_count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5em;
}

.tournament-intro__timer_count_item {
  display: flex;
  align-items: flex-end;
}

.tournament-intro__timer_number {
  font-family: 'SF Pro Display Semibold', sans-serif;
  font-size: 3.6em;
  color: $white;
  line-height: 1;
}

.tournament-intro__timer_text {
  margin-bottom: .2em;
  font-size: 1.8em;
  color: $white;
  line-height: 1;
}

.tournament-step {
  padding: 12em 0 5.5em;
  background-image: linear-gradient(to bottom, #410813 3%, rgba(18, 3, 6, 0));
  .loyalty__step_list {
    &:before {
      display: none;
    }
  }
  .loyalty__step_list_item_title {
    color: rgba($white, .7);
  }
  .loyalty__step_list_item_logo {
    box-shadow: 0 0 3em 0 rgba(0, 0, 0, 0.16);
    background-color: rgba(#2d313e, .3);
  }
}

.tournament-step__title {
  font-family: 'SF Pro Display Semibold', sans-serif;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  span {
    font-size: 5.5em;
  }
}

.tournament-step__subtitle {
  font-family: 'SF Pro Display Meduim', sans-serif;
  text-align: center;
  color: $white;
  span {
    font-size: 5em;
  }
}

.tournament-step__label {
  margin-bottom: 1.5em;
  font-family: 'SF Pro Display Semibold', sans-serif;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  span {
    font-size: 2.7em;
  }
}

.tournament-step__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
  .btn {
    width: 30em;
    height: 7em;
    border-radius: 6em;
    span {
      font-size: 2em;
    }
  }
}

.tournament-position {
  max-width: 130em;
  margin: 0 auto;
  padding: 5.5em 0 9em;
  box-sizing: border-box;
}

.tournament-position__title {
  font-family: 'SF Pro Display Meduim', sans-serif;
  font-size: 4.5em;
  text-align: center;
  color: $white;
}

.tournament-position__info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 8em;
  margin-top: 6em;
  padding: 0 4em;
  box-sizing: border-box;
  border-radius: 1em 1em 0 0;
  background-color: #232633;
  color: $white;
}

.tournament-position__info_text {
  font-size: 3em;
  span {
    color: rgba($white, .5);
  }
}

.tournament-position__table {
  padding: 2em;
  box-sizing: border-box;
  border-radius: 0 0 1em 1em;
  background-color: #15171e;
}

.tournament-position__table_head {
  .tournament-position__table_grid_item {
    height: 4em;
    font-family: 'SF Pro Display Semibold', sans-serif;
    color: #909094;
    text-align: center;
    span {
      font-size: 2em;
    }
  }
}

.tournament-position__table_body {
  .tournament-position__table_grid {
    border-bottom: 1px solid #15171e;
    &:last-child {
      border: none;
    }
  }
  .tournament-position__table_grid_item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 6em;
    background-color: #1e2027;
    &.position {
      font-family: 'SF Pro Display Meduim', sans-serif;
      color: #d2d2d2;
      span {
        font-size: 1.8em;
      }
    }
    &.name {
      font-family: 'SF Pro Display Meduim', sans-serif;
      color: $white;
      span {
        font-size: 1.8em;
      }
    }
    &.points {
      font-family: 'SF Pro Display Meduim', sans-serif;
      color: #c2c2c4;
      span {
        font-size: 2em;
      }
    }
    &.price {
      font-family: 'SF Pro Display Semibold', sans-serif;
      color: $white;
      span {
        font-size: 2.5em;
      }
    }
  }
}

.tournament-position__table_grid {
  display: -ms-grid;
  -ms-grid-columns: 1fr 1.2fr 1fr 1fr;
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr 1fr;
  box-sizing: border-box;
}

.tournament-position__table_grid_item {
  box-sizing: border-box;
  border-right: 1px solid #15171e;
  &:last-child {
    border: none;
  }
  &.position {
    -ms-grid-column: 1;
  }
  &.name {
    -ms-grid-column: 2;
  }
  &.points {
    -ms-grid-column: 3;
  }
  &.price {
    -ms-grid-column: 4;
  }
}



@media (max-width: 767.98px) {
  .tournament-intro {
    flex-wrap: wrap;
    padding: 2em;
  }
  .tournament-intro__title {
    height: auto;
    padding: 1em 3em 1em 1em;
    span {
      font-size: 2em;
    }
  }
  .tournament-intro__subtitle {
    span {
      font-size: 1.8em;
    }
    img {
      width: 4em;
    }
  }
  .tournament-intro__sum {
    span {
      font-size: 5em;
    }
  }
  .tournament-intro__btn {
    margin-top: 3em;
    .btn {
      max-width: 25em;
      height: 5em;
      span {
        font-size: 1.5em;
      }
    }
  }
  .tournament-intro__users {
    flex-wrap: wrap;
  }
  .tournament-intro__users_label {
    margin-top: 0.5em;
    padding-left: 0;
    &:before {
      display: none;
    }
  }
  .tournament-intro__timer {
    width: 28em;
    padding: 0.5em 1em;
  }
  .tournament-step {
    padding: 10em 0 3em;
  }
  .tournament-step__title {
    span {
      font-size: 3em;
    }
  }
  .tournament-step__subtitle {
    span {
      font-size: 2.5em;
    }
  }
  .tournament-step__label {
    span {
      font-size: 2em;
    }
  }
  .loyalty__step_list_item {
    padding: 0 1em;
  }
  .tournament-step__btn {
    .btn {
      width: 25em;
      height: 5em;
      span {
        font-size: 1.5em;
      }
    }
  }
  .tournament-position {
    padding: 2em 0 0;
  }
  .tournament-position__title {
    font-size: 3em;
  }
  .tournament-position__info {
    justify-content: center;
    height: 5em;
    margin-top: 2em;
    padding: 0 1em;
  }
  .tournament-position__info_text {
    font-size: 2em;
  }
  .tournament-position__table {
    padding: 1em 0 0;
  }
  .tournament-position__table_grid {}
  .tournament-position__table_head .tournament-position__table_grid_item span {
    font-size: 1.2em;
  }
  .tournament-position__table_body .tournament-position__table_grid_item.position span {
    font-size: 1.5em;
  }
  .tournament-position__table_body .tournament-position__table_grid_item.name span {
    font-size: 1.4em;
  }
  .tournament-position__table_body .tournament-position__table_grid_item.points span {
    font-size: 1.5em;
  }
  .tournament-position__table_body .tournament-position__table_grid_item.price span {
    font-size: 1.5em;
  }
  .tournament-position__table_body .tournament-position__table_grid_item {
    height: 4em;
  }
  .tournament-position__table_head .tournament-position__table_grid_item {
    height: 2.5em;
  }
}