<div class="tournament-intro">
    <div class="tournament-intro__left">
        <div class="tournament-intro__title">
            <span>тУРНИР ГРИНГО МЕСЯЦА!</span>
        </div>
        <div class="tournament-intro__subtitle">
            <img src="../../assets/img/svg/gtoken-icon.svg" alt="">
            <span>главный приз</span>
        </div>
        <div class="tournament-intro__sum"><span>100 000₽</span></div>
        <div class="tournament-intro__btn">
            <a href="#" class="btn"><span>ВПЕРЕД ЗА ПРИЗОМ!</span></a>
        </div>
        <div class="tournament-intro__users">
            <ul class="tournament-intro__users_list">
                <li class="tournament-intro__users_item">
                    <img src="../../assets/img/icons/person1.png" alt="">
                </li>
                <li class="tournament-intro__users_item">
                    <img src="../../assets/img/icons/person2.png" alt="">
                </li>
                <li class="tournament-intro__users_item">
                    <img src="../../assets/img/icons/person3.png" alt="">
                </li>
                <li class="tournament-intro__users_item">
                    <img src="../../assets/img/icons/person4.png" alt="">
                </li>
                <li class="tournament-intro__users_item">
                    <img src="../../assets/img/icons/person5.png" alt="">
                </li>
                <li class="tournament-intro__users_item">
                    <img src="../../assets/img/icons/person6.png" alt="">
                </li>
            </ul>
            <div class="tournament-intro__users_label">
                <span>120+ Игроков уже участвуют </span>
            </div>
        </div>
        <!-- /.tournament-intro__users -->
    </div>
    <!-- /.tournament-intro__left -->
    <div class="tournament-intro__right">
        <div class="tournament-intro__img">
            <img src="../../assets/img/wantedpic.png" alt="">
        </div>
        <div class="tournament-intro__timer">
            <div class="tournament-intro__timer_title">
                <span>Время до завершения</span>
            </div>
            <div class="tournament-intro__timer_count">
                <div class="tournament-intro__timer_count_item">
                    <div class="tournament-intro__timer_number">29</div>
                    <div class="tournament-intro__timer_text">дн</div>
                </div>
                <div class="tournament-intro__timer_count_item">
                    <div class="tournament-intro__timer_number">15</div>
                    <div class="tournament-intro__timer_text">ч</div>
                </div>
                <div class="tournament-intro__timer_count_item">
                    <div class="tournament-intro__timer_number">25</div>
                    <div class="tournament-intro__timer_text">м</div>
                </div>
                <div class="tournament-intro__timer_count_item">
                    <div class="tournament-intro__timer_number">53</div>
                    <div class="tournament-intro__timer_text">с</div>
                </div>
            </div>
        </div>
        <!-- /.tournament-intro__timer -->
    </div>
    <!-- /.tournament-intro__right -->
</div>
<!-- /.tournament -->

<div class="tournament-step">

    <div class="tournament-step__title">
        <span>3 Простых шага</span>
    </div>
    <div class="tournament-step__subtitle">
        <span>для победы</span>
    </div>

    <ul class="loyalty__step_list">
        <li class="loyalty__step_list_item">
            <div class="loyalty__step_list_item_logo">
                <div class="loyalty__step_list_item_icon">
                    <img src="../../assets/img/svg/side-menu-icon-1.svg" alt="">
                </div>
            </div>
            <div class="loyalty__step_list_item_desc">Шаг 1</div>
            <div class="tournament-step__label">
                <span>Играйте!</span>
            </div>
            <div class="loyalty__step_list_item_title">
                Турнирные баллы накапливаются со всех ставок сделанных в любых слотах.
            </div>
        </li>
        <li class="loyalty__step_list_item">
            <div class="loyalty__step_list_item_logo">
                <div class="loyalty__step_list_item_icon">
                    <img src="../../assets/img/icons/convertgems-icon.png" alt="">
                </div>
            </div>
            <div class="loyalty__step_list_item_desc">Шаг 2</div>
            <div class="tournament-step__label">
                <span>Накапливайте баллы!</span>
            </div>
            <div class="loyalty__step_list_item_title">
                За каждые 100 руб ставок (и эквивалент в других валютах) - Вы получаете 1 балл.
            </div>
        </li>
        <li class="loyalty__step_list_item">
            <div class="loyalty__step_list_item_logo">
                <div class="loyalty__step_list_item_icon">
                    <img src="../../assets/img/svg/100kicon.svg" alt="">
                </div>
            </div>
            <div class="loyalty__step_list_item_desc">Шаг 3</div>
            <div class="tournament-step__label">
                <span>ПОЛУЧАЙТЕ ВАШ ВЫИГРЫШ!</span>
            </div>
            <div class="loyalty__step_list_item_title">
                Турнир длиться ровно месяц. Выигрыш делиться между первыми 5 игроками в размере 50%, 20%, 15%, 10% и 5%.
            </div>
        </li>
    </ul>
    <!-- /.loyalty__step_list -->

    <div class="tournament-step__btn">
        <a href="#" class="btn"><span>Принять участие</span></a>
    </div>

</div>
<!-- /.tournament-step -->

<div class="tournament-position">

    <div class="tournament-position__title">Текущие результаты</div>

    <div class="tournament-position__info">
        <span>Ваша позиция 1224 из 13524</span>
    </div>

    <div class="tournament-position__table">
        <div class="tournament-position__table_head">
            <div class="tournament-position__table_grid">
                <div class="tournament-position__table_grid_item position"><span>Позиция</span></div>
                <div class="tournament-position__table_grid_item name"><span>Игрок</span></div>
                <div class="tournament-position__table_grid_item points"><span>Очки игрока</span></div>
                <div class="tournament-position__table_grid_item price"><span>Выигрыш</span></div>
            </div>
        </div>
        <!-- /.tournament-position__table_head -->
        <div class="tournament-position__table_body">
            <div class="tournament-position__table_grid">
                <div class="tournament-position__table_grid_item position"><span>1</span></div>
                <div class="tournament-position__table_grid_item name"><span>Item</span></div>
                <div class="tournament-position__table_grid_item points"><span>1000</span></div>
                <div class="tournament-position__table_grid_item price"><span>50 000</span></div>
            </div>
            <div class="tournament-position__table_grid">
                <div class="tournament-position__table_grid_item position"><span>2</span></div>
                <div class="tournament-position__table_grid_item name"><span>Item</span></div>
                <div class="tournament-position__table_grid_item points"><span>1000</span></div>
                <div class="tournament-position__table_grid_item price"><span>50 000</span></div>
            </div>
            <div class="tournament-position__table_grid">
                <div class="tournament-position__table_grid_item position"><span>3</span></div>
                <div class="tournament-position__table_grid_item name"><span>Item</span></div>
                <div class="tournament-position__table_grid_item points"><span>Item</span></div>
                <div class="tournament-position__table_grid_item price"><span>50 000</span></div>
            </div>
            <div class="tournament-position__table_grid">
                <div class="tournament-position__table_grid_item position"><span>4</span></div>
                <div class="tournament-position__table_grid_item name"><span>Item</span></div>
                <div class="tournament-position__table_grid_item points"><span>1000</span></div>
                <div class="tournament-position__table_grid_item price"><span>50 000</span></div>
            </div>
            <div class="tournament-position__table_grid">
                <div class="tournament-position__table_grid_item position"><span>5</span></div>
                <div class="tournament-position__table_grid_item name"><span>Item</span></div>
                <div class="tournament-position__table_grid_item points"><span>1000</span></div>
                <div class="tournament-position__table_grid_item price"><span>-</span></div>
            </div>
            <div class="tournament-position__table_grid">
                <div class="tournament-position__table_grid_item position"><span>6</span></div>
                <div class="tournament-position__table_grid_item name"><span>Item</span></div>
                <div class="tournament-position__table_grid_item points"><span>1000</span></div>
                <div class="tournament-position__table_grid_item price"><span>5 000</span></div>
            </div>
            <div class="tournament-position__table_grid">
                <div class="tournament-position__table_grid_item position"><span>7</span></div>
                <div class="tournament-position__table_grid_item name"><span>Item</span></div>
                <div class="tournament-position__table_grid_item points"><span>1000</span></div>
                <div class="tournament-position__table_grid_item price"><span>5 000</span></div>
            </div>
            <div class="tournament-position__table_grid">
                <div class="tournament-position__table_grid_item position"><span>8</span></div>
                <div class="tournament-position__table_grid_item name"><span>Item</span></div>
                <div class="tournament-position__table_grid_item points"><span>1000</span></div>
                <div class="tournament-position__table_grid_item price"><span>5 000</span></div>
            </div>
            <div class="tournament-position__table_grid">
                <div class="tournament-position__table_grid_item position"><span>9</span></div>
                <div class="tournament-position__table_grid_item name"><span>Item</span></div>
                <div class="tournament-position__table_grid_item points"><span>1000</span></div>
                <div class="tournament-position__table_grid_item price"><span>5 000</span></div>
            </div>
            <div class="tournament-position__table_grid">
                <div class="tournament-position__table_grid_item position"><span>10</span></div>
                <div class="tournament-position__table_grid_item name"><span>Item</span></div>
                <div class="tournament-position__table_grid_item points"><span>1000</span></div>
                <div class="tournament-position__table_grid_item price"><span>5 000</span></div>
            </div>
        </div>
        <!-- /.tournament-position__table_body -->
    </div>
    <!-- /.tournament-position__table -->

    <div class="pagination">
        <div class="pagination__arrow prev">
            <img src="../../assets/img/svg/arrow-right.svg" alt="">
        </div>
        <ul class="pagination__list">
            <li class="pagination__list_item">
                <a href="#" class="pagination__list_item_link active">1</a>
            </li>
            <li class="pagination__list_item">
                <a href="#" class="pagination__list_item_link">2</a>
            </li>
            <li class="pagination__list_item">
                <a href="#" class="pagination__list_item_link">3</a>
            </li>
            <li class="pagination__list_item">
                <a href="#" class="pagination__list_item_link">4</a>
            </li>
            <li class="pagination__list_item">
                <div class="pagination__list_item_space">...</div>
            </li>
            <li class="pagination__list_item">
                <a href="#" class="pagination__list_item_link">8</a>
            </li>
        </ul>
        <div class="pagination__arrow next">
            <img src="../../assets/img/svg/arrow-right.svg" alt="">
        </div>
    </div>
    <!-- /.pagination -->

</div>
<!-- /.tournament-position -->