<div class="tournament-intro">
    <div class="tournament-intro__left">
        <div class="tournament-intro__title">
            <span>тУРНИР ГРИНГО МЕСЯЦА!</span>
        </div>
        <div class="tournament-intro__subtitle">
            <span>главный приз</span>
        </div>
        <div class="tournament-intro__sum"><span>100 000₽</span></div>
        <div class="tournament-intro__btn">
            <a href="#" class="btn"><span>ВПЕРЕД ЗА ПРИЗОМ!</span></a>
        </div>
        <div class="tournament-intro__users">
            <ul class="tournament-intro__users_list">
                <li class="tournament-intro__users_item">
                    <img src="../../assets/img/icons/person1.png" alt="">
                </li>
                <li class="tournament-intro__users_item">
                    <img src="../../assets/img/icons/person2.png" alt="">
                </li>
                <li class="tournament-intro__users_item">
                    <img src="../../assets/img/icons/person3.png" alt="">
                </li>
                <li class="tournament-intro__users_item">
                    <img src="../../assets/img/icons/person4.png" alt="">
                </li>
                <li class="tournament-intro__users_item">
                    <img src="../../assets/img/icons/person5.png" alt="">
                </li>
                <li class="tournament-intro__users_item">
                    <img src="../../assets/img/icons/person6.png" alt="">
                </li>
            </ul>
            <div class="tournament-intro__users_label">
                <span>120+ Игроков уже участвуют </span>
            </div>
        </div>
        <!-- /.tournament-intro__users -->
    </div>
    <!-- /.tournament-intro__left -->
    <div class="tournament-intro__right">
        <div class="tournament-intro__img">
            <img src="../../assets/img/wantedpic.png" alt="">
        </div>
        <div class="tournament-intro__timer">
            <div class="tournament-intro__timer_title">
                <span>Время до завершения</span>
            </div>
            <div class="tournament-intro__timer_count">
                <div class="tournament-intro__timer_count_item">
                    <div class="tournament-intro__timer_number">29</div>
                    <div class="tournament-intro__timer_text">дн</div>
                </div>
                <div class="tournament-intro__timer_count_item">
                    <div class="tournament-intro__timer_number">15</div>
                    <div class="tournament-intro__timer_text">ч</div>
                </div>
                <div class="tournament-intro__timer_count_item">
                    <div class="tournament-intro__timer_number">25</div>
                    <div class="tournament-intro__timer_text">м</div>
                </div>
                <div class="tournament-intro__timer_count_item">
                    <div class="tournament-intro__timer_number">53</div>
                    <div class="tournament-intro__timer_text">с</div>
                </div>
            </div>
        </div>
        <!-- /.tournament-intro__timer -->
    </div>
    <!-- /.tournament-intro__right -->
</div>
<!-- /.tournament -->