.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 11em 0 0;
  background-color: #212730;
  box-sizing: border-box;
  z-index: 8000;
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header__hamburger {
  width: 11em;
  height: 7em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($black, .1);
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 1em;
}

.header__logo_img {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 8em;
  }
}

.header__logo_text {
  font-size: 2.8em;
  color: $white;
  b {
    font-family: 'SF Pro Display Bold', sans-serif;
  }
}

.header__search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4em;
  height: 4em;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid rgba($white, .15);
  cursor: pointer;
  transition: .3s;
  &.active {
    border-color: $green;
    background-color: $green;
  }
  img {
    width: 2em;
  }
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation__list_item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 7em;
  margin-right: 2.5em;
  &:last-child {
    margin-right: 0;
  }
  .live {
    width: 0.7em;
    height: 0.7em;
    margin-right: 0.5em;
    border-radius: 50%;
    background-color: $green;
  }
}

.navigation__list_item_link {
  font-family: 'SF Pro Display Meduim', sans-serif;
  font-size: 1.8em;
  color: rgba($white, .4);
  white-space: nowrap;
  &:hover {
    color: rgba($white, .6);
  }
  &.active {
    color: rgba($white, .6);
    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0.22em;
      border-radius: 0.2em 0.2em 0 0;
      background-color: $green;
    }
  }
  &.gold {
    color: $gold;
    &:hover {
      color: $gold;
    }
  }
}

.navigation__list_item_icon {
  width: 1.5em;
  margin-right: 1em;
  fill: $gold;
}

.header__login {
  margin-right: 2em;
  margin-left: 5em;
  &.login {
    img {
      width: 1.5em;
    }
  }
}

.user {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 17.5em;
  height: 5em;
  padding: 0.5em 5.5em 0.5em 0.5em;
  box-sizing: border-box;
  border-radius: 2.5em;
  border: 1px solid rgba($white, .2);
  white-space: nowrap;
}

.user__level {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user__level_value {
  font-size: 1.4em;
  color: $white;
  text-transform: uppercase;
}

.user__level_percent {
  width: 100%;
  font-family: 'SF Pro Display Light', sans-serif;
  font-size: 1.4em;
  color: rgba($white, .7);
  text-transform: uppercase;
}

.user__account {
  width: 100%;
  font-family: 'SF Pro Display Bold', sans-serif;
  font-size: 1.6em;
  color: $white;
  text-align: right;
}

.user__icon {
  position: absolute;
  top: -1px;
  right: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 5em;
  box-sizing: border-box;
  border-radius: 50%;
  span {
    font-family: 'SF Pro Display Light', sans-serif;
    font-size: 2em;
    color: rgba($white, .7);
    z-index: 2;
  }
}

.user__icon_progress {
  position: absolute;
  transform: rotate(-45deg);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 50%;
  border: 3px solid transparent;
  border-right-color: $green;
  background-color: #484d55;
}

.notification {
  position: relative;
  margin-left: 1em;
}

.notification__icon {
  width: 3.5em;
}

.notification__badge {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(25%,-25%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.8em;
  height: 2.8em;
  border-radius: 50%;
  background-color: $green;
  font-family: 'SF Pro Display Semibold', sans-serif;
  color: $white;
  span {
    font-size: 1.4em;
  }
}