<div class="header">
    <div class="header__left">
        <div class="header__hamburger">
            <div class="hamburger">
                <div class="hamburger-line"></div>
                <div class="hamburger-line"></div>
                <div class="hamburger-line"></div>
                <div class="hamburger-line"></div>
            </div>
        </div>
        <div class="header__logo" data-fancybox data-src="#modal-verification">
            <div class="header__logo_img">
                <img src="../../assets/img/icons/logo.png" alt="">
            </div>
            <div class="header__logo_text">
                <b>GrinGo</b>Play.com
            </div>
        </div>
        <div class="header__search" data-fancybox data-src="#modal-search">
            <img src="../../assets/img/svg/search.svg" alt="">
            <div class="header__search_text">Поиск</div>
        </div>
    </div>
    <!-- /.header__left -->
    <div class="header__right">
        <nav class="navigation">
            <ul class="navigation__list">
                <li class="navigation__list_item">
                    <a href="#" class="navigation__list_item_link active">Главная</a>
                </li>
                <li class="navigation__list_item">
                    <a href="#" class="navigation__list_item_link">Слоты</a>
                </li>
                <li class="navigation__list_item">
                    <span class="live"></span>
                    <a href="#" class="navigation__list_item_link">Лайв казино</a>
                </li>
                <li class="navigation__list_item">
                    <a href="#" class="navigation__list_item_link">Конкурсы</a>
                </li>
                <li class="navigation__list_item">
                    <a href="#" class="navigation__list_item_link">Турниры</a>
                </li>
                <li class="navigation__list_item">
                    <svg class="navigation__list_item_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M32 448c0 17.7 14.3 32 32 32h160V320H32v128zm256 32h160c17.7 0 32-14.3 32-32V320H288v160zm192-320h-42.1c6.2-12.1 10.1-25.5 10.1-40 0-48.5-39.5-88-88-88-41.6 0-68.5 21.3-103 68.3-34.5-47-61.4-68.3-103-68.3-48.5 0-88 39.5-88 88 0 14.5 3.8 27.9 10.1 40H32c-17.7 0-32 14.3-32 32v80c0 8.8 7.2 16 16 16h480c8.8 0 16-7.2 16-16v-80c0-17.7-14.3-32-32-32zm-326.1 0c-22.1 0-40-17.9-40-40s17.9-40 40-40c19.9 0 34.6 3.3 86.1 80h-86.1zm206.1 0h-86.1c51.4-76.5 65.7-80 86.1-80 22.1 0 40 17.9 40 40s-17.9 40-40 40z"></path>
                    </svg>
                    <a href="#" class="navigation__list_item_link gold">Бонусы</a>
                </li>
            </ul>
        </nav>
        <!-- /.navigation -->
        <a href="#" class="header__login btn btn-mini btn-outline register" data-fancybox
           data-src="#modal-login"><span>Войти</span></a>
        <a href="#" class="btn header__register register" data-fancybox data-src="#modal-registration">
            <img src="../../assets/img/svg/register-icon.svg" alt="">
            <span>Регистрация</span>
        </a>
        <a href="#" class="btn header__login login">
            <img src="../../assets/img/svg/more.svg" alt="">
            <span>Пополнить</span>
        </a>
        <div class="user login">
            <div class="user__level">
                <div class="user__level_value">5 Ур.</div>
                <div class="user__level_percent">25%</div>
            </div>
            <div class="user__account">1,120,452.34₽</div>
            <div class="user__icon">
                <span>MV</span>
                <div class="user__icon_progress"></div>
            </div>
        </div>
        <!-- /.user -->
        <div class="notification login dropdown">
            <a href="#notification-content" class="notification__link js-dropdown-link">
                <div class="notification__icon">
                    <img src="../../assets/img/svg/notification.svg" alt="">
                </div>
                <div class="notification__badge"><span>8</span></div>
            </a>
            <div class="notification__content dropdown__content" id="notification-content">
                <div class="notification__content_title"><span>Уведомления</span></div>
                <ul class="notification__content_list">
                    <li class="notification__content_list_item v-1">
                        <div class="notification__content_list_item_date">03.06.2020 23:30</div>
                        <div class="notification__content_list_item_content">
                            <div class="notification__content_list_item_img">
                                <img src="../../assets/img/notification-1.png" alt="">
                            </div>
                            <div class="notification__content_list_item_desc">
                                Присоединяйтесь к нашему новому турниру "Гринго Заносы" и получите до 300 бесплатных
                                спинов и денежный выигрыш 100,000 рублей!
                            </div>
                        </div>
                    </li>
                    <li class="notification__content_list_item v-2">
                        <div class="notification__content_list_item_date">Вчера</div>
                        <div class="notification__content_list_item_desc">
                            Заберите ваш еженедельный бонус до 5000 руб! <br>
                            Он ждет вашей активации в <a href="#" class="link">кабинете</a>!
                        </div>
                    </li>
                    <li class="notification__content_list_item v-3">
                        <div class="notification__content_list_item_date">03.06.2020 23:30</div>
                        <div class="notification__content_list_item_img">
                            <img src="../../assets/img/notification-2.png" alt="">
                        </div>
                        <div class="notification__content_list_item_desc">
                            Присоединяйтесь к нашему новому турниру "Гринго Заносы" и получите до 300 бесплатных
                            спинов и денежный выигрыш 100,000 рублей!
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.notification -->
    </div>
    <!-- /.header__right -->
</div>
<!-- /.header -->