<div class="header">
    <div class="header__left">
        <div class="header__hamburger">
            <div class="hamburger">
                <div class="hamburger-line"></div>
                <div class="hamburger-line"></div>
                <div class="hamburger-line"></div>
                <div class="hamburger-line"></div>
            </div>
        </div>
        <div class="header__logo">
            <div class="header__logo_img">
                <img src="../../assets/img/icons/logo.png" alt="">
            </div>
            <div class="header__logo_text">
                <b>GrinGo</b>Play.com
            </div>
        </div>
        <div class="header__search"></div>
    </div>
    <!-- /.header__left -->
    <div class="header__right">
        <nav class="navigation">
            <ul class="navigation__list">
                <li class="navigation__list_item">
                    <a href="#" class="navigation__list_item_link active">Главная</a>
                </li>
                <li class="navigation__list_item">
                    <a href="#" class="navigation__list_item_link">Слоты</a>
                </li>
                <li class="navigation__list_item">
                    <a href="#" class="navigation__list_item_link">Лайв казино</a>
                </li>
                <li class="navigation__list_item">
                    <a href="#" class="navigation__list_item_link">Конкурсы</a>
                </li>
                <li class="navigation__list_item">
                    <a href="#" class="navigation__list_item_link">Турниры</a>
                </li>
                <li class="navigation__list_item">
                    <a href="#" class="navigation__list_item_link gold">Бонусы</a>
                </li>
            </ul>
        </nav>
        <!-- /.navigation -->
    </div>
    <!-- /.header__right -->
</div>
<!-- /.header -->