.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5em 0 0;
  background-color: $bg;
  box-sizing: border-box;
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header__hamburger {
  width: 11em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header__logo_img {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 10em;
  }
}

.header__logo_text {
  font-size: 2.8em;
  color: $white;
}

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation__list_item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 8em;
  margin-right: 2.5em;
}

.navigation__list_item_link {
  font-size: 1.8em;
  color: rgba($white, .4);
  &:hover {
    color: rgba($white, .5);
  }
  &.active {
    color: rgba($white, .5);
    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0.25em;
      border-radius: 0.2em 0.2em 0 0;
      background-color: $green;
    }
  }
  &.gold {
    color: $gold;
    &:hover {
      color: $gold;
    }
  }
}