.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 110px 0 0;
  background-color: #212730;
  box-sizing: border-box;
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header__hamburger {
  width: 110px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($black, .1);
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header__logo_img {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 80px;
  }
}

.header__logo_text {
  font-size: 28px;
  color: $white;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation__list_item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 70px;
  margin-right: 25px;
  &:last-child {
    margin-right: 0;
  }
  .live {
    width: 7px;
    height: 7px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: $green;
  }
}

.navigation__list_item_link {
  font-size: 18px;
  color: rgba($white, .4);
  &:hover {
    color: rgba($white, .6);
  }
  &.active {
    color: rgba($white, .6);
    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      border-radius: 2px 2px 0 0;
      background-color: $green;
    }
  }
  &.gold {
    color: $gold;
    &:hover {
      color: $gold;
    }
  }
}

.header__login {
  margin-right: 20px;
  margin-left: 50px;
}