.footer {
  padding: 0 3em;
}

.footer__lvl1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4.5em 0;
  border-top: 1px solid #363e47;
}

.footer__lvl1_link {
  margin-right: 2em;
  font-family: 'SF Pro Display Meduim', sans-serif;
  color: $gray;
  span {
    font-size: 1.8em;
  }
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    color: $white;
  }
}

.footer__lvl2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 0 2.5em;
  border-top: 1px solid #363e47;
  .footer__icons {
    width: 100%;
  }
}

.footer__icons_title {
  margin-bottom: 1.5em;
  color: rgba($white, .6);
  span {
    font-size: 1.6em;
  }
}

.footer__icons_list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer__icons_list_item {
  margin-right: 2em;
  transition: .3s;
  filter: grayscale(1);
  img {
    max-height: 4em;
    max-width: 10em;
  }
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    filter: grayscale(0);
  }
}

.footer__lvl3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2.5em 0;
  border-top: 1px solid #363e47;
  .footer__icons_list {
    margin-right: 6.5em;
  }
}

.footer__text {
  font-size: 1.8em;
  color: rgba($white, .3);
}

.footer__lvl4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4em 0 6em;
  border-top: 1px solid #363e47;
}

.footer__lvl4_left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.footer__logo_img {
  width: 6em;
  filter: grayscale(1);
}

.footer__logo_text {
  font-size: 2.3em;
  color: rgba($white, .5);
  b {
    font-family: 'SF Pro Display Bold', sans-serif;
  }
}

.footer__lvl4_mid {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: rgba($white, .3);
  text-align: center;
}

.footer__lvl4_right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.footer__lvl4_right_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4em;
  height: 4em;
  margin-right: 2em;
  border-radius: 50%;
  border: solid 0.3em #8f9095;
  background-color: #e2e2e2;
  box-sizing: border-box;
  font-family: 'SF Pro Display Bold', sans-serif;
  color: #45464b;
  span {
    font-size: 1.6em;
  }
}