<div class="footer">

    <div class="footer__lvl1">
        <a href="#" class="footer__lvl1_link"><span>О нас</span></a>
        <a href="#" class="footer__lvl1_link"><span>Партнерская программа</span></a>
        <a href="#" class="footer__lvl1_link"><span>Privacy Policy</span></a>
        <a href="#" class="footer__lvl1_link"><span>Terms of Use</span></a>
        <a href="#" class="footer__lvl1_link"><span>Правила Бонусов</span></a>
        <a href="#" class="footer__lvl1_link"><span>Платежные Опции</span></a>
        <a href="#" class="footer__lvl1_link"><span>Язык</span></a>
    </div>
    <!-- /.footer__lvl1 -->

    <div class="footer__lvl2">
        <div class="footer__icons">
            <div class="footer__icons_title"><span>Мы в соцсетях:</span></div>
            <ul class="footer__icons_list">
                <li class="footer__icons_list_item">
                    <a href="#" class="footer__icons_list_item_link">
                        <img src="../../assets/img/svg/instagram.svg" alt="">
                    </a>
                </li>
                <li class="footer__icons_list_item">
                    <a href="#" class="footer__icons_list_item_link">
                        <img src="../../assets/img/svg/vk.svg" alt="">
                    </a>
                </li>
                <li class="footer__icons_list_item">
                    <a href="#" class="footer__icons_list_item_link">
                        <img src="../../assets/img/svg/facebook.svg" alt="">
                    </a>
                </li>
                <li class="footer__icons_list_item">
                    <a href="#" class="footer__icons_list_item_link">
                        <img src="../../assets/img/icons/telegram.png" alt="">
                    </a>
                </li>
                <li class="footer__icons_list_item">
                    <a href="#" class="footer__icons_list_item_link">
                        <img src="../../assets/img/svg/youtube.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.footer__icons -->
        <div class="footer__icons">
            <div class="footer__icons_title"><span>Методы оплаты:</span></div>
            <ul class="footer__icons_list">
                <li class="footer__icons_list_item">
                    <img src="../../assets/img/svg/mastercard.svg" alt="">
                </li>
                <li class="footer__icons_list_item">
                    <img src="../../assets/img/icons/visa.png" alt="">
                </li>
                <li class="footer__icons_list_item">
                    <img src="../../assets/img/icons/bitcoin.png" alt="">
                </li>
                <li class="footer__icons_list_item">
                    <img src="../../assets/img/svg/yandex.svg" alt="">
                </li>
                <li class="footer__icons_list_item">
                    <img src="../../assets/img/svg/webmoney.svg" alt="">
                </li>
                <li class="footer__icons_list_item">
                    <img src="../../assets/img/svg/skrill.svg" alt="">
                </li>
                <li class="footer__icons_list_item">
                    <img src="../../assets/img/svg/qiwi.svg" alt="">
                </li>
                <li class="footer__icons_list_item">
                    <img src="../../assets/img/svg/neteller.svg" alt="">
                </li>
                <li class="footer__icons_list_item">
                    <img src="../../assets/img/svg/apple-pay.svg" alt="">
                </li>
            </ul>
        </div>
        <!-- /.footer__icons -->
    </div>
    <!-- /.footer__lvl2 -->

    <div class="footer__lvl3">
        <ul class="footer__icons_list">
            <li class="footer__icons_list_item">
                <img src="../../assets/img/icons/footer__icon-1.png" alt="">
            </li>
            <li class="footer__icons_list_item">
                <img src="../../assets/img/icons/footer__icon-2.png" alt="">
            </li>
            <li class="footer__icons_list_item">
                <img src="../../assets/img/icons/footer__icon-3.png" alt="">
            </li>
            <li class="footer__icons_list_item">
                <img src="../../assets/img/icons/footer__icon-4.png" alt="">
            </li>
        </ul>
        <div class="footer__text">
            Азартные игры призваны развлекать. Помните, что Вы рискуете деньгами, когда делаете ставки. Не тратьте
            больше, чем можете позволить себе проиграть. <br>
            Сайт Gringoplay.com осуществляет свою деятельность как онлайн-казино в соответствии с лицензией
            правительства Кюрасао.
        </div>
    </div>
    <!-- /.footer__lvl3 -->

    <div class="footer__lvl4">
        <div class="footer__lvl4_left">
            <div class="footer__logo_img">
                <img src="../../assets/img/icons/logo.png" alt="">
            </div>
            <div class="footer__logo_text">
                <b>GrinGo</b>Play.com
            </div>
        </div>
        <div class="footer__lvl4_mid">
            <div class="footer__text">GringoPlay.com, All rights reserved.</div>
        </div>
        <div class="footer__lvl4_right">
            <div class="footer__lvl4_right_icon"><span>18+</span></div>
            <div class="footer__text">Возрастное ограничение 18 лет</div>
        </div>
    </div>
    <!-- /.footer__lvl4 -->

</div>
<!-- /.footer -->