<div class="settings__title">
    <img src="../../assets/img/svg/gift.svg" alt="">
    <span>Доступные бонусы</span>
</div>

<div class="bonuses-2">
    <div class="bonuses-2__card card-1">
        <div class="bonuses-2__card_program">
            <span>&#9734;</span> Программа лояльности
        </div>
        <div class="bonuses-2__card_title">
            Награды за каждый уровень!
        </div>
        <div class="bonuses-2__card_desc">
            <span>
                Играй. Получай уровни. Выигрывай призы от Гринго!
            </span>
        </div>
        <a href="#" class="bonuses-2__card_btn">
            <img src="../../assets/img/svg/register-icon-white.svg" alt="">
            <span>Узнать подробнее</span>
        </a>
        <div class="bonuses-2__card_img">
            <img src="../../assets/img/bonuses-2__card-1.png" alt="">
        </div>
    </div>
    <!-- /.bonuses-2__card-1 -->
    <div class="bonuses-2__card card-2">
        <div class="bonuses-2__card_bonus">
            <span>Бонус-код: Tuesdaycash</span>
        </div>
        <div class="bonuses-2__card_title">
            50% Бонус во вторник!
        </div>
        <div class="bonuses-2__card_desc">
            <span>
                Автоматический бонус 50% от суммы пополнения
            </span>
        </div>
        <div class="bonuses-2__card_img">
            <img src="../../assets/img/bonuses-2__card-2.png" alt="">
        </div>
        <div class="bonuses-2__card_bot">
            <div class="bonuses-2__card_bot_content">
                Пополните счет во вторник, используя
                промокод TUESDAYCASH и получите 50%
                кэшбек на Ваш счет (до 20 000 руб)
            </div>
            <a href="#" class="bonuses-2__card_bot_btn">
                <span>Забрать 50% бонус!</span>
            </a>
        </div>
    </div>
    <!-- /.bonuses-2__card-2 -->
    <div class="bonuses-2__card card-3">
        <div class="bonuses-2__card_bonus">
            <span>Бонус-код: Luckyspin</span>
        </div>
        <div class="bonuses-2__card_title">
            Счастливый четверг!
        </div>
        <div class="bonuses-2__card_desc">
            <span>
                20 Фриспинов - от 1,000 руб <br>
                80 Фриспинов - от 3,500 руб <br>
                200 Фриспинов - от 10,000 руб
            </span>
        </div>
        <div class="bonuses-2__card_img">
            <img src="../../assets/img/bonuses-2__card-3.png" alt="">
        </div>
        <div class="bonuses-2__card_bot">
            <div class="bonuses-2__card_bot_content">
                Делайте депозиты в четверг, отыграйте его
                минимум 1 раз и получайте до 200 фриспинов
                по бонус-коду: LUCKYSPIN
            </div>
            <a href="#" class="bonuses-2__card_bot_btn">
                <span>Получить спины</span>
            </a>
        </div>
    </div>
    <!-- /.bonuses-2__card-3 -->
    <div class="bonuses-2__card card-4">
        <div class="bonuses-2__card_bot">
            <div class="bonuses-2__card_bot_content">
                Получите 300% на первое пополнение и
                150 бесплатных вращений!
            </div>
            <a href="#" class="bonuses-2__card_bot_btn">
                <span>Узнать подробнее</span>
            </a>
        </div>
    </div>
    <!-- /.bonuses-2__card-4 -->
</div>
<!-- /.bonuses-2 -->