<div class="settings__title">
    <img src="../../assets/img/svg/gift.svg" alt="">
    <span>Бонусы и промоакции</span>
</div>

<div class="bonuses-1">

    <div class="bonuses-1__title">Бонус за каждый депозит!</div>

    <ul class="bonuses-1__list">
        <li class="bonuses-1__list_card card-1 active">
            <div class="bonuses-1__list_card_progress"></div>
            <div class="bonuses-1__list_card_count">
                <span>1</span>
            </div>
            <div class="bonuses-1__list_card_img">
                <img src="../../assets/img/bonuses-1__card-1.png" alt="">
            </div>
            <div class="bonuses-1__list_card_title">Приветственный бонус</div>
            <div class="bonuses-1__list_card_content">
                <div class="bonuses-1__list_card_desc">
                    +300% бонус к депозиту (до 10 000 руб)
                </div>
                <div class="bonuses-1__list_card_desc">
                    +150 фриспинов в течение 5ти дней
                </div>
            </div>
            <div class="bonuses-1__list_card_btn register">
                <a href="#" class="btn" data-fancybox data-touch="false" data-src="#modal-registration">
                    <img src="../../assets/img/svg/register-icon.svg" alt="">
                    <span>Регистрация</span>
                </a>
            </div>
        </li>
        <li class="bonuses-1__list_card card-2 active">
            <div class="bonuses-1__list_card_progress"></div>
            <div class="bonuses-1__list_card_count">
                <span>2</span>
            </div>
            <div class="bonuses-1__list_card_img">
                <img src="../../assets/img/bonuses-1__card-2.png" alt="">
            </div>
            <div class="bonuses-1__list_card_title">Второй депозит</div>
            <div class="bonuses-1__list_card_content">
                <div class="bonuses-1__list_card_desc">
                    +200% бонус к депозиту (до 20 000 руб)
                </div>
                <div class="bonuses-1__list_card_desc">
                    +180 фриспинов в течение недели
                </div>
            </div>
        </li>
        <li class="bonuses-1__list_card card-3">
            <div class="bonuses-1__list_card_progress"></div>
            <div class="bonuses-1__list_card_count">
                <span>3</span>
            </div>
            <div class="bonuses-1__list_card_img">
                <img src="../../assets/img/bonuses-1__card-3.png" alt="">
            </div>
            <div class="bonuses-1__list_card_title">Третий депозит</div>
            <div class="bonuses-1__list_card_content">
                <div class="bonuses-1__list_card_desc">
                    +150% бонус к депозиту (до 20 000 руб)
                </div>
                <div class="bonuses-1__list_card_desc">
                    +200 фриспинов в течение недели
                </div>
            </div>
        </li>
        <li class="bonuses-1__list_card card-4">
            <div class="bonuses-1__list_card_count">
                <span>4</span>
            </div>
            <div class="bonuses-1__list_card_img">
                <img src="../../assets/img/bonuses-1__card-4.png" alt="">
            </div>
            <div class="bonuses-1__list_card_title">Четвертый депозит</div>
            <div class="bonuses-1__list_card_content">
                <div class="bonuses-1__list_card_desc">
                    +100% бонус к депозиту (до 10 000 руб)
                </div>
                <div class="bonuses-1__list_card_desc">
                    +100 фриспинов в течение 3ех дней
                </div>
            </div>
        </li>
    </ul>
    <!-- /.bonuses-1__list -->

    <div class="bonuses-1__progress">
        <div class="bonuses-1__progress_item active">
            <a href="#" class="btn register" data-fancybox data-touch="false" data-src="#modal-registration">
                <img src="../../assets/img/svg/register-icon.svg" alt="">
                <span>Регистрация</span>
            </a>
            <div class="bonuses-1__progress_count login"><span>1</span></div>
        </div>
        <div class="bonuses-1__progress_item active">
            <div class="bonuses-1__progress_count"><span>2</span></div>
        </div>
        <div class="bonuses-1__progress_item">
            <div class="bonuses-1__progress_count"><span>3</span></div>
        </div>
        <div class="bonuses-1__progress_item">
            <div class="bonuses-1__progress_count"><span>4</span></div>
        </div>
    </div>
    <!-- /.bonuses-1__progress -->

</div>
<!-- /.bonuses-1 -->