<div class="bonuses-3">
    <div class="bonuses-3__title">
        Хочешь получать больше бонусов и акций?
    </div>
    <div class="bonuses-3__subtitle">
        <span>Подпишись на нас в соцсетях и узнавай первым о новых акциях и розыгрышах!</span>
    </div>
    <ul class="bonuses-3__list">
        <li class="bonuses-3__list_item">
            <a href="#" class="bonuses-3__list_item_link">
                <img src="../../assets/img/svg/instagram.svg" alt="">
            </a>
        </li>
        <li class="bonuses-3__list_item">
            <a href="#" class="bonuses-3__list_item_link">
                <img src="../../assets/img/svg/vk.svg" alt="">
            </a>
        </li>
        <li class="bonuses-3__list_item">
            <a href="#" class="bonuses-3__list_item_link">
                <img src="../../assets/img/svg/facebook.svg" alt="">
            </a>
        </li>
        <li class="bonuses-3__list_item">
            <a href="#" class="bonuses-3__list_item_link">
                <img src="../../assets/img/icons/telegram.png" alt="">
            </a>
        </li>
        <li class="bonuses-3__list_item">
            <a href="#" class="bonuses-3__list_item_link">
                <img src="../../assets/img/svg/youtube.svg" alt="">
            </a>
        </li>
    </ul>
</div>
<!-- /.bonuses-3 -->