<div class="modal-form modal-bonus bonus-4" id="modal-bonus-4">

    <div class="modal-bonus__head">
        <div class="bonuses-2__card_bonus">
            <span>Бонус-код: Luckyspin</span>
        </div>
        <div class="modal-bonus__title">
            <span>Title</span>
        </div>
        <div class="modal-bonus__head_img">
            <img src="../../../assets/img/bonuses-2__card-2.png" alt="">
        </div>
    </div>
    <!-- /.modal-bonus__head -->

    <div class="modal-bonus__content custom-scroll">
        <div class="modal-bonus__content_title">
            <span>Title</span>
        </div>
        <div class="modal-bonus__content_text">
            По одному домашнему адресу, IP адресу, email’у, телефонному номеру, аккаунту платёжной системы (Neteller, Skrill, кредитная карта и т.д.) и так далее, бонусы могут быть получены только одним человеком.
            <br><br>
            Для получения бонуса игрок должен сделать минимальный депозит в размере 500 рублей.
            <br><br>
            Если игрок не обернул сумму депозита сделанного для получения приветственных фриспинов хотя бы 3 раза (настольные игры не учитываются), казино оставляет за собой право отменить эти фриспины, а также любой выигрыш полученный с них. Данное решение целиком и полностью принимается на усмотрение казино и будет окончательным.По одному домашнему адресу, IP адресу, email’у, телефонному номеру, аккаунту платёжной системы (Neteller, Skrill, кредитная карта и т.д.) и так далее, бонусы могут быть получены только одним человеком.
            <br><br>
            Для получения бонуса игрок должен сделать минимальный депозит в размере 500 рублей.
            <br><br>
            Если игрок не обернул сумму депозита сделанного для получения приветственных фриспинов хотя бы 3 раза (настольные игры не учитываются), казино оставляет за собой право отменить эти фриспины, а также любой выигрыш полученный с них. Данное решение целиком и полностью принимается на усмотрение казино и будет окончательным.
        </div>
    </div>
    <!-- /.modal-bonus__content -->

    <div class="modal-bonus__btn">
        <a href="#" class="btn">
            <span>ПОЛУЧИТЬ БОНУС</span>
        </a>
    </div>
    <!-- /.modal-bonus__btn -->

</div>
<!-- /.modal-bonus -->