<div class="modal-form modal-bonus bonus-2" id="modal-bonus-2">

    <div class="modal-bonus__head">
        <div class="bonuses-2__card_bonus">
            <span>Бонус-код: Tuesdaycash</span>
        </div>
        <div class="modal-bonus__title">
            <span>50% Бонус во вторник!</span>
        </div>
        <div class="modal-bonus__head_img">
            <img src="../../../assets/img/bonuses-2__card-2.png" alt="">
        </div>
    </div>
    <!-- /.modal-bonus__head -->

    <div class="modal-bonus__content custom-scroll">
        <div class="modal-bonus__content_title">
            <span>Бонусный вторник!</span>
        </div>
        <div class="modal-bonus__content_text">
            Это дождь из денег, аллилуйя! Делайте депозиты каждый вторник, вводите бонус-код <b>TUESDAYCASH</b> и получайте громадный бонус от Гринго!
            <br><br>
            <b>Бонус код: TUESDAYCASH</b>
            <br>
            <b>Вагер:</b>
            <br>
            <b>Минимальный депозит: 500 руб</b>
        </div>
    </div>
    <!-- /.modal-bonus__content -->

    <div class="modal-bonus__btn">
        <a href="#" class="btn">
            <span>ПОЛУЧИТЬ БОНУС</span>
        </a>
    </div>
    <!-- /.modal-bonus__btn -->

</div>
<!-- /.modal-bonus -->