<div class="section-5">

    <div class="section__title">
        <div class="section__title_icon">
            <img src="../../assets/img/svg/gringo.svg" alt="">
        </div>
        <h2 class="h2">Гринго рекомендует!</h2>
    </div>

    <div class="all-games__list">
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-5__slide-1.png" alt="">
                <span class="card__overflow"></span>
                <div class="card__badge new"><span>HOT</span></div>
                <span class="card__play"></span>
            </a>
            <a href="#" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-5__slide-2.png" alt="">
                <span class="card__overflow"></span>
                <div class="card__badge new"><span>HOT</span></div>
                <span class="card__play"></span>
            </a>
            <a href="#" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-9__card_img.png" alt="">
                <span class="card__overflow"></span>
                <div class="card__badge new"><span>HOT</span></div>
                <span class="card__play"></span>
            </a>
            <a href="#" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-5__slide-4.png" alt="">
                <span class="card__overflow"></span>
                <div class="card__badge new"><span>HOT</span></div>
                <span class="card__play"></span>
            </a>
            <a href="#" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-5__slide-5.png" alt="">
                <span class="card__overflow"></span>
                <div class="card__badge new"><span>HOT</span></div>
                <span class="card__play"></span>
            </a>
            <a href="#" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-5__slide-1.png" alt="">
                <span class="card__overflow"></span>
                <div class="card__badge new"><span>HOT</span></div>
                <span class="card__play"></span>
            </a>
            <a href="#" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-5__slide-1.png" alt="">
                <span class="card__overflow"></span>
                <div class="card__badge new"><span>HOT</span></div>
                <span class="card__play"></span>
            </a>
            <a href="#" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-5__slide-1.png" alt="">
                <span class="card__overflow"></span>
                <div class="card__badge new"><span>HOT</span></div>
                <span class="card__play"></span>
            </a>
            <a href="#" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-5__slide-1.png" alt="">
                <span class="card__overflow"></span>
                <div class="card__badge new"><span>HOT</span></div>
                <span class="card__play"></span>
            </a>
            <a href="#" class="card__demo">Демо</a>
        </div>
    </div>
    <!-- /.section__slider-5 -->

</div>
<!-- /.section-5 -->