<div class="modal-deposit modal-form" id="modal-deposit">

    <div class="form-title">
        <img src="../../../assets/img/svg/fast-deposit-icon.svg" alt="">
        Быстрое пополнение
    </div>

    <div class="modal-deposit__subtitle">Минимальная сумма пополнения - 100 руб.</div>

    <form class="form">
        <div class="form-group">
            <div class="input-label">1. Выберите способ пополнения</div>
            <div class="modal-registration__dropdown dropdown">
                <a href="#deposit-currency-3" class="modal-registration__dropdown_link js-dropdown-link">
                    <span class="sort-label" id="deposit-currency-value">
                        <img src="../../../assets/img/svg/qiwi.svg" alt="">
                        QIWI
                    </span>
                    <span class="arrow"></span>
                </a>
                <div class="dropdown__content js-dropdown-content" id="deposit-currency-3">
                    <ul class="dropdown__content_list">
                        <li class="dropdown__content_list_item">
                            <a href="#" class="dropdown__content_list_item_link active" data-target="#deposit-currency-value">
                                <img src="../../../assets/img/svg/qiwi.svg" alt="">
                                QIWI
                            </a>
                        </li>
                        <li class="dropdown__content_list_item">
                            <a href="#" class="dropdown__content_list_item_link" data-target="#deposit-currency-value">
                                <img src="../../../assets/img/icons/visa.png" alt="">
                                VISA
                            </a>
                        </li>
                        <li class="dropdown__content_list_item">
                            <a href="#" class="dropdown__content_list_item_link" data-target="#deposit-currency-value">
                                <img src="../../../assets/img/svg/mastercard.svg" alt="">
                                MasterCard
                            </a>
                        </li>
                        <li class="dropdown__content_list_item">
                            <a href="#" class="dropdown__content_list_item_link" data-target="#deposit-currency-value">
                                <img src="../../../assets/img/svg/qiwi.svg" alt="">
                                WebMoney
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-label">2. Введите платежные данные</div>
            <label class="input">
                <input type="text" placeholder="Номер телефона QIWI аккаунта">
            </label>
        </div>
        <div class="form-group">
            <div class="input-label">3. Введите сумму полнения</div>
            <div class="modal-deposit_grid">
                <label class="input">
                    <input type="number" placeholder="Ваша сумма платежа">
                </label>
                <div class="modal-deposit_grid_list">
                    <div class="modal-deposit_grid_item"><span>100₽</span></div>
                    <div class="modal-deposit_grid_item"><span>300₽</span></div>
                    <div class="modal-deposit_grid_item"><span>500₽</span></div>
                    <div class="modal-deposit_grid_item"><span>1000₽</span></div>
                </div>
            </div>
        </div>
        <div class="form-btn">
            <button class="btn">
                <img src="../../../assets/img/svg/more.svg" alt="">
                <span>Пополнить</span>
            </button>
        </div>
    </form>
    <!-- /.form -->

</div>
<!-- /.modal-deposit -->