<div class="loyalty__intro">
    <div class="loyalty__intro_content">
        <div class="loyalty__intro_title"><span>VIP КЛУБ GRINGO</span></div>
        <div class="loyalty__intro_subtitle">
            <span>Самые честные и лучшие условия!</span>
        </div>
    </div>
    <div class="loyalty__intro_img">
        <img src="../../assets/img/loyalty-intro-img.png" alt="">
    </div>
</div>
<!-- /.loyalty__intro -->

<div class="loyalty__step">

    <div class="loyalty__title">
        <span>Подарим вам лучший кэшбек и бонусы за вашу игру!</span>
    </div>
    <div class="loyalty__step_subtitle">
        <span>Просто, как раз-два!</span>
    </div>

    <ul class="loyalty__step_list">
        <li class="loyalty__step_list_item">
            <div class="loyalty__step_list_item_logo">
                <div class="loyalty__step_list_item_icon">
                    <img src="../../assets/img/svg/side-menu-icon-1.svg" alt="">
                </div>
            </div>
            <div class="loyalty__step_list_item_desc">Шаг 1</div>
            <div class="loyalty__step_list_item_title">
                Просто играйте в любимые игры на GringoPlay и получайте алмазы!
            </div>
        </li>
        <li class="loyalty__step_list_item">
            <div class="loyalty__step_list_item_logo">
                <div class="loyalty__step_list_item_icon">
                    <img src="../../assets/img/icons/convertgems-icon.png" alt="">
                </div>
            </div>
            <div class="loyalty__step_list_item_desc">Шаг 2</div>
            <div class="loyalty__step_list_item_title">
                Меняйте алмазы на реальные деньги в любую удобную валюту!
            </div>
        </li>
    </ul>
    <!-- /.loyalty__step_list -->

    <div class="loyalty__step_btn">
        <a href="#" class="btn">
            <img src="../../assets/img/svg/next.svg" alt="">
            <span>Узнать подробности</span>
        </a>
    </div>

</div>
<!-- /.loyalty__step -->

<div class="loyalty__vip">
    <div class="loyalty__title"><span>Подробнее о VIP клубе Gringo</span></div>

    <ul class="loyalty__vip_list">
        <li class="loyalty__vip_list_item">
            <div class="loyalty__vip_list_item_img">
                <div class="loyalty__vip_list_item_before">до</div>
                <img src="../../assets/img/icons/15%25cash.png" alt="">
            </div>
            <div class="loyalty__vip_list_item_title">Еженедельные <br> кэшбэки</div>
            <div class="loyalty__vip_list_item_desc">Без статуса кэшбеки еженедельно не начисляются</div>
        </li>
        <li class="loyalty__vip_list_item">
            <div class="loyalty__vip_list_item_img">
                <img src="../../assets/img/icons/viptitles.png" alt="">
            </div>
            <div class="loyalty__vip_list_item_title">Подарки, особые турниры и индивидуальные акции</div>
            <div class="loyalty__vip_list_item_desc">Без статуса действуют только стандартные акции GringoPlay</div>
        </li>
        <li class="loyalty__vip_list_item">
            <div class="loyalty__vip_list_item_img">
                <div class="loyalty__vip_list_item_before">до</div>
                <img src="../../assets/img/icons/100fs.png" alt="">
            </div>
            <div class="loyalty__vip_list_item_title">Еженедельные <br> фриспины</div>
            <div class="loyalty__vip_list_item_desc">Стандартно - без еженедельных <br> фриспинов</div>
        </li>
    </ul>
    <!-- /.loyalty__vip_list -->

</div>
<!-- /.loyalty__vip -->

<div class="loyalty__status">

    <div class="loyalty__title"><span>Привилегии и статусы</span></div>

    <div class="loyalty__status_grid">
        <div class="loyalty__status_grid_item desc">
            <div class="loyalty__status_grid_item_box">
                <div class="loyalty__status_grid_item_title"><span>Условия</span></div>
                <div class="loyalty__status_grid_list_item">
                    <span>Совершите ставок на сумму</span>
                </div>
                <div class="loyalty__status_grid_item_title"><span>Преимущества</span></div>
                <div class="loyalty__status_grid_list_item">
                    <span>Курс обмена алмазов</span>
                </div>
                <div class="loyalty__status_grid_list_item">
                    <span>Еженедельный кэшбек</span>
                </div>
                <div class="loyalty__status_grid_list_item">
                    <span>Персональные турниры и призы</span>
                </div>
                <div class="loyalty__status_grid_list_item">
                    <span>Индивидуальные акции</span>
                </div>
                <div class="loyalty__status_grid_list_item">
                    <span>Персональный менеджер</span>
                </div>
                <div class="loyalty__status_grid_list_item">
                    <span>Еженедельные фриспины</span>
                </div>
            </div>
        </div>
        <div class="loyalty__status_grid_item">
            <div class="loyalty__status_grid_item_img">
                <img src="../../assets/img/svg/status-1.svg" alt="">
            </div>
            <div class="loyalty__status_grid_item_label"><span>Бронзовый</span></div>
            <ul class="loyalty__status_grid_list head">
                <li class="loyalty__status_grid_list_item">
                    <span>20$</span>
                </li>
            </ul>
            <ul class="loyalty__status_grid_list">
                <li class="loyalty__status_grid_list_item">
                    <span>15:1</span>
                </li>
                <li class="loyalty__status_grid_list_item">
                    <span>2%</span>
                </li>
                <li class="loyalty__status_grid_list_item">
                    <img src="../../assets/img/svg/close.svg" alt="">
                </li>
                <li class="loyalty__status_grid_list_item">
                    <img src="../../assets/img/svg/close.svg" alt="">
                </li>
                <li class="loyalty__status_grid_list_item">
                    <img src="../../assets/img/svg/close.svg" alt="">
                </li>
                <li class="loyalty__status_grid_list_item">
                    <img src="../../assets/img/svg/close.svg" alt="">
                </li>
            </ul>
        </div>
        <div class="loyalty__status_grid_item">
            <div class="loyalty__status_grid_item_img">
                <img src="../../assets/img/svg/status-2.svg" alt="">
            </div>
            <div class="loyalty__status_grid_item_label"><span>серебряный</span></div>
            <ul class="loyalty__status_grid_list head">
                <li class="loyalty__status_grid_list_item">
                    <span>50$</span>
                </li>
            </ul>
            <ul class="loyalty__status_grid_list">
                <li class="loyalty__status_grid_list_item">
                    <span>14:1</span>
                </li>
                <li class="loyalty__status_grid_list_item">
                    <span>3%</span>
                </li>
                <li class="loyalty__status_grid_list_item">
                    <img src="../../assets/img/svg/close.svg" alt="">
                </li>
                <li class="loyalty__status_grid_list_item">
                    <img src="../../assets/img/svg/close.svg" alt="">
                </li>
                <li class="loyalty__status_grid_list_item">
                    <img src="../../assets/img/svg/close.svg" alt="">
                </li>
                <li class="loyalty__status_grid_list_item">
                    <span>10</span>
                </li>
            </ul>
        </div>
        <div class="loyalty__status_grid_item">
            <div class="loyalty__status_grid_item_img">
                <img src="../../assets/img/svg/status-3.svg" alt="">
            </div>
            <div class="loyalty__status_grid_item_label"><span>золотой</span></div>
            <ul class="loyalty__status_grid_list head">
                <li class="loyalty__status_grid_list_item">
                    <span>300$</span>
                </li>
            </ul>
            <ul class="loyalty__status_grid_list">
                <li class="loyalty__status_grid_list_item">
                    <span>13:1</span>
                </li>
                <li class="loyalty__status_grid_list_item">
                    <span>6%</span>
                </li>
                <li class="loyalty__status_grid_list_item">
                    <img src="../../assets/img/svg/check.svg" alt="">
                </li>
                <li class="loyalty__status_grid_list_item">
                    <img src="../../assets/img/svg/check.svg" alt="">
                </li>
                <li class="loyalty__status_grid_list_item">
                    <img src="../../assets/img/svg/close.svg" alt="">
                </li>
                <li class="loyalty__status_grid_list_item">
                    <span>25</span>
                </li>
            </ul>
        </div>
        <div class="loyalty__status_grid_item">
            <div class="loyalty__status_grid_item_img">
                <img src="../../assets/img/svg/status-4.svg" alt="">
            </div>
            <div class="loyalty__status_grid_item_label"><span>платиновый</span></div>
            <ul class="loyalty__status_grid_list head">
                <li class="loyalty__status_grid_list_item">
                    <span>2000$</span>
                </li>
            </ul>
            <ul class="loyalty__status_grid_list">
                <li class="loyalty__status_grid_list_item">
                    <span>12:1</span>
                </li>
                <li class="loyalty__status_grid_list_item">
                    <span>10%</span>
                </li>
                <li class="loyalty__status_grid_list_item">
                    <img src="../../assets/img/svg/check.svg" alt="">
                </li>
                <li class="loyalty__status_grid_list_item">
                    <img src="../../assets/img/svg/check.svg" alt="">
                </li>
                <li class="loyalty__status_grid_list_item">
                    <img src="../../assets/img/svg/check.svg" alt="">
                </li>
                <li class="loyalty__status_grid_list_item">
                    <span>50</span>
                </li>
            </ul>
        </div>
        <div class="loyalty__status_grid_item">
            <div class="loyalty__status_grid_item_img">
                <img src="../../assets/img/svg/status-5.svg" alt="">
            </div>
            <div class="loyalty__status_grid_item_label"><span>бриллиантовый</span></div>
            <ul class="loyalty__status_grid_list head">
                <li class="loyalty__status_grid_list_item">
                    <span>30000$</span>
                </li>
            </ul>
            <ul class="loyalty__status_grid_list">
                <li class="loyalty__status_grid_list_item">
                    <span>10:1</span>
                </li>
                <li class="loyalty__status_grid_list_item">
                    <span>15%</span>
                </li>
                <li class="loyalty__status_grid_list_item">
                    <img src="../../assets/img/svg/check.svg" alt="">
                </li>
                <li class="loyalty__status_grid_list_item">
                    <img src="../../assets/img/svg/check.svg" alt="">
                </li>
                <li class="loyalty__status_grid_list_item">
                    <img src="../../assets/img/svg/check.svg" alt="">
                </li>
                <li class="loyalty__status_grid_list_item">
                    <span>100</span>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.loyalty__status_grid -->

</div>
<!-- /.loyalty__status -->