<div class="loyalty__intro">
    <div class="loyalty__intro_content">
        <div class="loyalty__intro_title"><span>VIP КЛУБ GRINGO</span></div>
        <div class="loyalty__intro_subtitle">
            <span>Самые честные и лучшие условия!</span>
        </div>
    </div>
    <div class="loyalty__intro_img">
        <img src="../../assets/img/loyalty-intro-img.png" alt="">
    </div>
</div>
<!-- /.loyalty__intro -->

<div class="loyalty__step">

    <div class="loyalty__step_title">
        <span>Подарим вам лучший кэшбек и бонусы за вашу игру!</span>
    </div>
    <div class="loyalty__step_subtitle">
        <span>Просто, как раз-два!</span>
    </div>

    <ul class="loyalty__step_list">
        <li class="loyalty__step_list_item">
            <div class="loyalty__step_list_item_logo">
                <div class="loyalty__step_list_item_icon">
                    <img src="../../assets/img/svg/side-menu-icon-1.svg" alt="">
                </div>
            </div>
            <div class="loyalty__step_list_item_desc">Шаг 1</div>
            <div class="loyalty__step_list_item_title">
                Просто играйте в любимые игры на GringoPlay и получайте алмазы!
            </div>
        </li>
        <li class="loyalty__step_list_item">
            <div class="loyalty__step_list_item_logo">
                <div class="loyalty__step_list_item_icon">
                    <img src="../../assets/img/icons/convertgems-icon.png" alt="">
                </div>
            </div>
            <div class="loyalty__step_list_item_desc">Шаг 2</div>
            <div class="loyalty__step_list_item_title">
                Меняйте алмазы на реальные деньги в любую удобную валюту!
            </div>
        </li>
    </ul>
    <!-- /.loyalty__step_list -->

    <div class="loyalty__step_btn">
        <a href="#" class="btn">
            <img src="../../assets/img/svg/next.svg" alt="">
            <span>Узнать подробности</span>
        </a>
    </div>

</div>
<!-- /.loyalty__step -->

<div class="loyalty__vip">
    <div class="loyalty__vip_title">Подробнее о VIP клубе Gringo</div>

    <ul class="loyalty__vip_list">
        <li class="loyalty__vip_list_item">
            <div class="loyalty__vip_list_item_img">
                <div class="loyalty__vip_list_item_before">до</div>
                <img src="../../assets/img/icons/15%25cash.png" alt="">
            </div>
            <div class="loyalty__vip_list_item_title">Еженедельные <br> кэшбэки</div>
            <div class="loyalty__vip_list_item_desc">Без статуса кэшбеки еженедельно не начисляются</div>
        </li>
        <li class="loyalty__vip_list_item">
            <div class="loyalty__vip_list_item_img">
                <img src="../../assets/img/icons/viptitles.png" alt="">
            </div>
            <div class="loyalty__vip_list_item_title">Подарки, особые турниры и индивидуальные акции</div>
            <div class="loyalty__vip_list_item_desc">Без статуса действуют только стандартные акции GringoPlay</div>
        </li>
        <li class="loyalty__vip_list_item">
            <div class="loyalty__vip_list_item_img">
                <div class="loyalty__vip_list_item_before">до</div>
                <img src="../../assets/img/icons/100fs.png" alt="">
            </div>
            <div class="loyalty__vip_list_item_title">Еженедельные <br> фриспины</div>
            <div class="loyalty__vip_list_item_desc">Стандартно - без еженедельных <br> фриспинов</div>
        </li>
    </ul>
    <!-- /.loyalty__vip_list -->

</div>
<!-- /.loyalty__vip -->