<div class="section-8">

    <div class="section__title">
        <div class="section__title_icon">
            <img src="../../assets/img/svg/section-8__icon.svg" alt="">
        </div>
        <h2 class="h2">Ежедневные джекпоты</h2>
    </div>

    <div class="all-games__list" id="section-8__list">
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-8__slide-1.png" alt="">
                <span class="card__overflow"></span>
                <div class="card__badge new"><span>NEW</span></div>
                <span class="card__play"></span>
            </a>
            <a href="#" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-8__slide-2.png" alt="">
                <span class="card__overflow"></span>
                <div class="card__badge hot"><span>HOT</span></div>
                <span class="card__play"></span>
            </a>
            <a href="#" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-8__slide-3.png" alt="">
                <span class="card__overflow"></span>
                <div class="card__badge new"><span>NEW</span></div>
                <span class="card__play"></span>
            </a>
            <a href="#" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-8__slide-3.png" alt="">
                <span class="card__overflow"></span>
                <div class="card__badge new"><span>NEW</span></div>
                <span class="card__play"></span>
            </a>
            <a href="#" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-8__slide-3.png" alt="">
                <span class="card__overflow"></span>
                <div class="card__badge new"><span>NEW</span></div>
                <span class="card__play"></span>
            </a>
            <a href="#" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-8__slide-3.png" alt="">
                <span class="card__overflow"></span>
                <div class="card__badge new"><span>NEW</span></div>
                <span class="card__play"></span>
            </a>
            <a href="#" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-8__slide-4.png" alt="">
                <span class="card__overflow"></span>
                <div class="card__badge new"><span>NEW</span></div>
                <span class="card__play"></span>
            </a>
            <a href="#" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-8__slide-5.png" alt="">
                <span class="card__overflow"></span>
                <div class="card__badge new"><span>NEW</span></div>
                <span class="card__play"></span>
            </a>
            <a href="#" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-8__slide-1.png" alt="">
                <span class="card__overflow"></span>
                <div class="card__badge new"><span>NEW</span></div>
                <span class="card__play"></span>
            </a>
            <a href="#" class="card__demo">Демо</a>
        </div>
    </div>

    <div class="view-all">
        <a href="#section-8__list" class="view-all__link">
            <span class="view-all__text">Показать больше</span>
            <span class="view-all__arrow"></span>
        </a>
    </div>

</div>
<!-- /.section-8 -->