<div class="side-menu">
    <ul class="side-menu__list">
        <li class="side-menu__list_item">
            <a href="#" class="side-menu__link">
                <img class="side-menu__icon" src="../../assets/img/svg/slots-leftmenu-icon.svg" alt="">
                <span class="side-menu__label">Все слоты</span>
            </a>
        </li>
        <li class="side-menu__list_item">
            <a href="#" class="side-menu__link">
                <img class="side-menu__icon" src="../../assets/img/svg/Live-leftmenu-icon.svg" alt="">
                <span class="side-menu__label">Лайф игры</span>
            </a>
        </li>
        <li class="side-menu__list_item">
            <a href="#" class="side-menu__link">
                <img class="side-menu__icon" src="../../assets/img/svg/jackpot-leftmenu-icon.svg" alt="">
                <span class="side-menu__label">Ежедневные джекпоты</span>
            </a>
        </li>
        <li class="side-menu__list_item">
            <a href="#" class="side-menu__link diamond">
                <img class="side-menu__icon" src="../../assets/img/svg/promo-leftmenu-icon.svg" alt="">
                <span class="side-menu__label">Розыгрыши и промо</span>
            </a>
        </li>
        <li class="side-menu__list_item">
            <a href="#" class="side-menu__link bonus">
                <img class="side-menu__icon" src="../../assets/img/svg/bonus-leftmenu-icon.svg" alt="">
                <span class="side-menu__label">Турниры</span>
            </a>
        </li>
        <li class="side-menu__list_item">
            <a href="#" class="side-menu__link gold">
                <img class="side-menu__icon" src="../../assets/img/svg/trophy-leftmenu-icon.svg" alt="">
                <span class="side-menu__label">Label</span>
            </a>
        </li>
        <li class="side-menu__list_item">
            <a href="#" class="side-menu__link">
                <img class="side-menu__icon" src="../../assets/img/svg/person-leftmenu-icon.svg" alt="">
                <span class="side-menu__label">Профиль</span>
            </a>
        </li>
        <li class="side-menu__list_item">
            <a href="#" class="side-menu__link">
                <img class="side-menu__icon" src="../../assets/img/svg/start-leftmenu-icon.svg" alt="">
                <span class="side-menu__label">Достижения</span>
            </a>
        </li>
        <li class="side-menu__list_item">
            <a href="#" class="side-menu__link">
                <img class="side-menu__icon" src="../../assets/img/svg/vip-leftmenu-icon.svg" alt="">
                <span class="side-menu__label">VIP Программа</span>
            </a>
        </li>
        <li class="side-menu__list_item">
            <a href="#" class="side-menu__link">
                <img class="side-menu__icon" src="../../assets/img/svg/help-leftmenu-icon.svg" alt="">
                <span class="side-menu__label">Помощь</span>
            </a>
        </li>
    </ul>
    //= ../fast-deposit/fast-deposit.html
</div>
<!-- /.side-menu -->