.side-menu {
  position: fixed;
  top: 7em;
  left: 0;
  bottom: 0;
  width: 7em;
  padding: 4em 0 15em;
  box-sizing: border-box;
  backdrop-filter: blur(2.2em);
  background-color: rgba(#15181d, .8);
  z-index: 8000;
  &.active {
    width: 25em;
    .side-menu__list_item {
      padding-left: 3em;
    }
    .side-menu__bot {
      .side-menu__list_item {
        padding-left: 3.5em;
      }
      .side-menu__link {
        &:hover {
          .side-menu__label {
            color: $white;
          }
          .side-menu__icon {
            filter: opacity(1);
          }
        }
      }
      .side-menu__icon {
        margin-right: 3.5em;
      }
    }
    .side-menu__link {
      justify-content: flex-start;
      &:hover {
        .side-menu__label {
          color: $green;
        }
      }
      &.gold {
        &:hover {
          .side-menu__label {
            color: $gold;
          }
        }
      }
      &.red {
        &:hover {
          .side-menu__label {
            color: #fe4141;
          }
        }
      }
      &.diamond {
        &:hover {
          .side-menu__label {
            color: #2f77c2;
          }
        }
      }
      &.bonus {
        &:hover {
          .side-menu__label {
            color: #fea429;
          }
        }
      }
    }
    .side-menu__icon {
      margin-right: 1.5em;
      transition: .3s;
    }
    .side-menu__label {
      position: inherit;
      bottom: auto;
      left: auto;
      transform: none;
      display: block;
      width: auto;
      padding: 0;
      background-color: transparent;
      font-family: 'SF Pro Display Semibold', sans-serif;
      font-size: 1.8em;
      color: #888c8e;
      text-align: left;
      white-space: normal;
      &:before {
        display: none;
      }
    }
  }
}

.side-menu__top {
  padding-bottom: 4em;
  border-bottom: 1px solid rgba(#38414b, .2);
}

.side-menu__bot {
  padding-top: 2.5em;
  .side-menu__icon {
    width: 2em;
    min-width: 2em;
    filter: opacity(.5);
  }
}

.side-menu__list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.side-menu__list_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 3em;
  &:last-child {
    margin-bottom: 0;
  }
}

.side-menu__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  &:hover {
    .side-menu__label {
      //opacity: 1;
      display: block;
    }
  }
}

.side-menu__icon {
  width: 4em;
  min-width: 4em;
}

.side-menu__label {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  display: none;
  width: min-content;
  padding: 0.2em 0.5em;
  border-radius: 0.3em;
  background-color: $white;
  text-align: center;
  font-size: 1.4em;
  color: #1e212b;
  white-space: nowrap;
  transition: .3s;
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -5px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px 6px 3px 0;
    border-color: transparent #ffffff transparent transparent;
  }
}

.side-menu__mobile {
  .side-menu__mobile_link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .side-menu__icon {
    width: 3em;
    margin-right: 2.5em !important;
    filter: none;
  }
  .side-menu__label {
    color: $white;
  }
  .btn {
    max-width: 28em;
    height: 6em;
    margin: 4em auto 0;
    border-radius: 1em;
    &.outline {
      margin-top: 0;
      background-color: transparent;
    }
    span {
      font-size: 1.8em;
    }
  }
}