<div class="side-menu">
    <div class="side-menu__top">
        <ul class="side-menu__list">
            <li class="side-menu__list_item">
                <a href="#" class="side-menu__link">
                    <img class="side-menu__icon" src="../../assets/img/svg/side-menu-icon-1.svg" alt="">
                    <span class="side-menu__label">Все слоты</span>
                </a>
            </li>
            <li class="side-menu__list_item">
                <a href="#" class="side-menu__link diamond">
                    <img class="side-menu__icon" src="../../assets/img/svg/side-menu-icon-2.svg" alt="">
                    <span class="side-menu__label">Лайф игры</span>
                </a>
            </li>
            <li class="side-menu__list_item">
                <a href="#" class="side-menu__link red">
                    <img class="side-menu__icon" src="../../assets/img/svg/side-menu-icon-3.svg" alt="">
                    <span class="side-menu__label">Ежедневные джекпоты</span>
                </a>
            </li>
            <li class="side-menu__list_item">
                <a href="#" class="side-menu__link diamond">
                    <img class="side-menu__icon" src="../../assets/img/svg/side-menu-icon-4.svg" alt="">
                    <span class="side-menu__label">Розыгрыши и промо</span>
                </a>
            </li>
            <li class="side-menu__list_item">
                <a href="#" class="side-menu__link bonus">
                    <img class="side-menu__icon" src="../../assets/img/svg/side-menu-icon-5.svg" alt="">
                    <span class="side-menu__label">Бонусы</span>
                </a>
            </li>
            <li class="side-menu__list_item">
                <a href="#" class="side-menu__link gold">
                    <img class="side-menu__icon" src="../../assets/img/svg/side-menu-icon-6.svg" alt="">
                    <span class="side-menu__label">Турниры</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="side-menu__bot">
        <ul class="side-menu__list">
            <li class="side-menu__list_item side-menu__mobile login">
                <a href="#" class="side-menu__link">
                    <img class="side-menu__icon" src="../../assets/img/icons/plus.png" alt="">
                    <span class="side-menu__label">1,120,452.34₽</span>
                </a>
            </li>
            <li class="side-menu__list_item login">
                <a href="#" class="side-menu__link">
                    <img class="side-menu__icon" src="../../assets/img/svg/person-leftmenu-icon.svg" alt="">
                    <span class="side-menu__label">Профиль</span>
                </a>
            </li>
            <li class="side-menu__list_item">
                <a href="#" class="side-menu__link">
                    <img class="side-menu__icon" src="../../assets/img/svg/start-leftmenu-icon.svg" alt="">
                    <span class="side-menu__label">Достижения</span>
                </a>
            </li>
            <li class="side-menu__list_item">
                <a href="#" class="side-menu__link">
                    <img class="side-menu__icon" src="../../assets/img/svg/vip-leftmenu-icon.svg" alt="">
                    <span class="side-menu__label">VIP Программа</span>
                </a>
            </li>
            <li class="side-menu__list_item">
                <a href="#" class="side-menu__link">
                    <img class="side-menu__icon" src="../../assets/img/svg/help-leftmenu-icon.svg" alt="">
                    <span class="side-menu__label">Помощь</span>
                </a>
            </li>
        </ul>
    </div>
    //= ../fast-deposit/fast-deposit.html
    <div class="side-menu__mobile register">
        <a href="#" class="btn">
            <img src="../../assets/img/svg/register-icon.svg" alt="">
            <span>Создать аккаунт</span>
        </a>
        <a href="#" class="btn outline" data-fancybox data-src="#modal-login">
            <span>Войти</span>
        </a>
    </div>
    <div class="side-menu__mobile login">
        <a href="#" class="btn">
            <img src="../../assets/img/svg/more.svg" alt="">
            <span>Пополнить</span>
        </a>
    </div>
</div>
<!-- /.side-menu -->