<div class="side-menu">
    <div class="side-menu__top">
        <ul class="side-menu__list">
            <li class="side-menu__list_item">
                <a href="#" class="side-menu__link">
                    <img class="side-menu__icon" src="../../assets/img/svg/slots-leftmenu-icon.svg" alt="">
                    <span class="side-menu__label">Label</span>
                </a>
            </li>
            <li class="side-menu__list_item">
                <a href="#" class="side-menu__link">
                    <img class="side-menu__icon" src="../../assets/img/svg/Live-leftmenu-icon.svg" alt="">
                    <span class="side-menu__label">Label</span>
                </a>
            </li>
            <li class="side-menu__list_item">
                <a href="#" class="side-menu__link">
                    <img class="side-menu__icon" src="../../assets/img/svg/jackpot-leftmenu-icon.svg" alt="">
                    <span class="side-menu__label">Label</span>
                </a>
            </li>
            <li class="side-menu__list_item">
                <a href="#" class="side-menu__link">
                    <img class="side-menu__icon" src="../../assets/img/svg/promo-leftmenu-icon.svg" alt="">
                    <span class="side-menu__label">Label</span>
                </a>
            </li>
            <li class="side-menu__list_item">
                <a href="#" class="side-menu__link">
                    <img class="side-menu__icon" src="../../assets/img/svg/bonus-leftmenu-icon.svg" alt="">
                    <span class="side-menu__label">Label</span>
                </a>
            </li>
            <li class="side-menu__list_item">
                <a href="#" class="side-menu__link">
                    <img class="side-menu__icon" src="../../assets/img/svg/trophy-leftmenu-icon.svg" alt="">
                    <span class="side-menu__label">Label</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- /.side-menu__top -->
    <div class="side-menu__bot">
        <ul class="side-menu__list">
            <li class="side-menu__list_item">
                <a href="#" class="side-menu__link">
                    <img class="side-menu__icon" src="../../assets/img/svg/person-leftmenu-icon.svg" alt="">
                    <span class="side-menu__label">Label</span>
                </a>
            </li>
            <li class="side-menu__list_item">
                <a href="#" class="side-menu__link">
                    <img class="side-menu__icon" src="../../assets/img/svg/start-leftmenu-icon.svg" alt="">
                    <span class="side-menu__label">Label</span>
                </a>
            </li>
            <li class="side-menu__list_item">
                <a href="#" class="side-menu__link">
                    <img class="side-menu__icon" src="../../assets/img/svg/vip-leftmenu-icon.svg" alt="">
                    <span class="side-menu__label">Label</span>
                </a>
            </li>
            <li class="side-menu__list_item">
                <a href="#" class="side-menu__link">
                    <img class="side-menu__icon" src="../../assets/img/svg/help-leftmenu-icon.svg" alt="">
                    <span class="side-menu__label">Label</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- /.side-menu__bot -->
    //= ../fast-deposit/fast-deposit.html
</div>
<!-- /.side-menu -->