.side-menu {
  position: fixed;
  top: 7em;
  left: 0;
  bottom: 0;
  width: 11em;
  padding: 2em 0 25em;
  box-sizing: border-box;
  backdrop-filter: blur(2.2em);
  background-color: rgba(#15181d, .8);
  z-index: 8000;
  transition: width .5s;
  &.active {
    width: 25em;
    .side-menu__list_item {
      padding-left: 4.3em;
    }
    .side-menu__top {
      padding: 2em 2.5em 2em 4.3em;
    }
    .side-menu__bot {
      padding: 1em 2.5em 1em 4.3em;
      .side-menu__link {
        &:hover {
          .side-menu__label {
            color: $white;
          }
        }
      }
    }
    .side-menu__link {
      justify-content: flex-start;
      &:hover {
        .side-menu__label {
          color: $green;
        }
      }
      &.gold {
        &:hover {
          .side-menu__label {
            color: $gold;
          }
        }
      }
      &.diamond {
        &:hover {
          .side-menu__label {
            color: #58acff;
          }
        }
      }
      &.bonus {
        &:hover {
          .side-menu__label {
            color: #fea429;
          }
        }
      }
    }
    .side-menu__icon {
      margin-right: 1.5em;
    }
    .side-menu__label {
      position: inherit;
      bottom: auto;
      left: auto;
      transform: none;
      width: auto;
      font-family: 'SF Pro Display Semibold', sans-serif;
      font-size: 1.8em;
      text-align: left;
      opacity: 1;
    }
  }
}

.side-menu__top {
  padding: 2em 4.3em;
  height: 60%;
  border-bottom: 1px solid $bg;
}

.side-menu__bot {
  padding: 1em 4.3em;
  height: 35%;
  .side-menu__link {
    &:hover {
      .side-menu__icon {
        filter: opacity(1);
      }
    }
  }
  .side-menu__icon {
    filter: opacity(0.6);
  }
}

.side-menu__list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.side-menu__list_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.side-menu__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  &:hover {
    .side-menu__icon {
      filter: grayscale(0);
    }
    .side-menu__label {
      opacity: 1;
    }
  }
}

.side-menu__icon {
  width: 2.5em;
  min-width: 2.5em;
  filter: grayscale(1);
  transition: fill .3s;
}

.side-menu__label {
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%, 100%);
  width: min-content;
  text-align: center;
  font-size: 1.4em;
  color: $gray;
  opacity: 0;
  transition: .5s;
}