<div class="section-5">

    <div class="section__title">
        <div class="section__title_icon">
            <img src="../../assets/img/svg/live-3.svg" alt="">
        </div>
        <h2 class="h2">Карточные игры</h2>
    </div>

    <div class="all-games__list" id="live-4__list">
        <div class="card">
            <a href="game.html" class="card__link">
                <img class="card__img" src="../../assets/img/live-6.png" alt="">
                <span class="card__overflow"></span>
                <div class="card__badge new"><span>NEW</span></div>
                <span class="card__play"></span>
            </a>
            <a href="game.html" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="game.html" class="card__link">
                <img class="card__img" src="../../assets/img/live-5.png" alt="">
                <span class="card__overflow"></span>
                <div class="card__badge hot"><span>HOT</span></div>
                <span class="card__play"></span>
            </a>
            <a href="game.html" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="game.html" class="card__link">
                <img class="card__img" src="../../assets/img/live-4.png" alt="">
                <span class="card__overflow"></span>
                <div class="card__badge new"><span>NEW</span></div>
                <span class="card__play"></span>
            </a>
            <a href="game.html" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="game.html" class="card__link">
                <img class="card__img" src="../../assets/img/live-3.png" alt="">
                <span class="card__overflow"></span>
                <div class="card__badge new"><span>NEW</span></div>
                <span class="card__play"></span>
            </a>
            <a href="game.html" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="game.html" class="card__link">
                <img class="card__img" src="../../assets/img/live-2.png" alt="">
                <span class="card__overflow"></span>
                <div class="card__badge new"><span>NEW</span></div>
                <span class="card__play"></span>
            </a>
            <a href="game.html" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="game.html" class="card__link">
                <img class="card__img" src="../../assets/img/live-6.png" alt="">
                <span class="card__overflow"></span>
                <div class="card__badge new"><span>NEW</span></div>
                <span class="card__play"></span>
            </a>
            <a href="game.html" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="game.html" class="card__link">
                <img class="card__img" src="../../assets/img/live-5.png" alt="">
                <span class="card__overflow"></span>
                <div class="card__badge new"><span>NEW</span></div>
                <span class="card__play"></span>
            </a>
            <a href="game.html" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="game.html" class="card__link">
                <img class="card__img" src="../../assets/img/live-4.png" alt="">
                <span class="card__overflow"></span>
                <div class="card__badge new"><span>NEW</span></div>
                <span class="card__play"></span>
            </a>
            <a href="game.html" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="game.html" class="card__link">
                <img class="card__img" src="../../assets/img/live-3.png" alt="">
                <span class="card__overflow"></span>
                <div class="card__badge new"><span>NEW</span></div>
                <span class="card__play"></span>
            </a>
            <a href="game.html" class="card__demo">Демо</a>
        </div>
    </div>

    <div class="view-all">
        <a href="#live-4__list" class="view-all__link">
            <span class="view-all__text">Показать больше</span>
            <span class="view-all__arrow"></span>
        </a>
    </div>

</div>
<!-- /.section-5 -->