.all-games {
  padding: 1.5em 3em;
}

.all-games__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.all-games__title_btn {
  .btn {
    border-radius: 2.5em;
    text-transform: uppercase;
    span {
      font-size: 1.5em;
    }
  }
}

.all-games__list {
  display: flex;
  flex-wrap: wrap;
  margin: -1em;
  padding: 2em 0;
  .card {
    width: calc(100%/5 - 2em);
    margin: 1em;
  }
}

.all-games__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  .btn {
    width: 100%;
    max-width: 30em;
    text-transform: uppercase;
  }
}

@media (min-width: 1400px) {
  .all-games {
    .all-games__list {
      .card {
        width: calc(100%/6 - 2em);
        &:nth-child(-n+6) {
          display: block !important;
        }
      }
    }
  }
}

@media (min-width: 2000px) {
  .all-games {
    .all-games__list {
      .card {
        width: calc(100%/7 - 2em);
        &:nth-child(-n+7) {
          display: block !important;
        }
      }
    }
  }
}