.all-games {
  padding: 3em;
}

.all-games__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.all-games__title_btn {
  .btn {
    border-radius: 2.5em;
    text-transform: uppercase;
    span {
      font-size: 1.5em;
    }
  }
}

.all-games__list {
  display: flex;
  flex-wrap: wrap;
  margin: -1.5em;
  padding: 3em 0;
  .card {
    width: calc(20% - 3em);
    margin: 1.5em;
  }
}

.all-games__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  .btn {
    width: 100%;
    max-width: 30em;
  }
}