<div class="balance-3">

    <div class="balance__title">Последние выигрыши</div>
    <div class="balance__subtitle">Ваши последние зачисления, выводы средств и выигрыши</div>

    <div class="balance-3__slider">
        <div class="card">
            <a href="game.html" class="card__link">
                <img class="card__img" src="../../assets/img/section-5__slide-1.png" alt="">
                <span class="card__overflow"></span>
                <span class="card__play"></span>
                <div class="card__name"><span>Narcos</span></div>
                <div class="card__date"><span>Date</span></div>
                <div class="card__value"><span>+5,434 ₽</span></div>
            </a>
        </div>
        <div class="card">
            <a href="game.html" class="card__link">
                <img class="card__img" src="../../assets/img/section-5__slide-2.png" alt="">
                <span class="card__overflow"></span>
                <span class="card__play"></span>
                <div class="card__name"><span>Jammin' Jars</span></div>
                <div class="card__date"><span>Date</span></div>
                <div class="card__value"><span>+15,434 ₽</span></div>
            </a>
        </div>
        <div class="card">
            <a href="game.html" class="card__link">
                <img class="card__img" src="../../assets/img/section-9__card_img.png" alt="">
                <span class="card__overflow"></span>
                <span class="card__play"></span>
                <div class="card__name"><span>Gonzo's Quest</span></div>
                <div class="card__date"><span>Date</span></div>
                <div class="card__value"><span>+804 ₽</span></div>
            </a>
        </div>
        <div class="card">
            <a href="game.html" class="card__link">
                <img class="card__img" src="../../assets/img/section-5__slide-4.png" alt="">
                <span class="card__overflow"></span>
                <span class="card__play"></span>
                <div class="card__name"><span>Book of Aztec</span></div>
                <div class="card__date"><span>Date</span></div>
                <div class="card__value"><span>+322 ₽</span></div>
            </a>
        </div>
        <div class="balance-3__card">
            <img src="../../assets/img/svg/balance-3__card.svg" alt="">
            <div class="balance-3__card_title"><span>Сыграть в самый <br> горячий слот</span></div>
            <a href="game.html" class="balance-3__card_btn"><span>Узнать подробнее</span></a>
        </div>
    </div>
    <!-- /.balance-3__slider -->

</div>
<!-- /.balance-3 -->