<div class="balance-1">

    <div class="settings__title">
        <img src="../../assets/img/svg/heart-outline.svg" alt="">
        <span>Баланс</span>
    </div>
    <div class="settings__subtitle">Пополнение, транзакции и вывод</div>

    <div class="balance">
        <div class="balance__item item-1">
            <div class="balance__item_top">
                <div class="balance__item_left">
                    <div class="balance__item_user">
                        <div class="balance__item_user_deposit">
                            <img src="../../assets/img/svg/more-white.svg" alt="">
                        </div>
                        <div class="balance__item_user_balance">
                            1,120,452<span>.34 ₽</span>
                        </div>
                    </div>
                </div>
                <div class="balance__item_right">
                    <div class="balance__item_title">
                        <span>Доступный баланс</span>
                    </div>
                    <div class="balance__item_subtitle">Общая сумма, доступная для вывода</div>
                </div>
            </div>
            <div class="balance__item_bot">
                <a href="#" class=" btn balance__item_bot_btn_left"><span>Пополнить</span></a>
                <a href="#" class="balance__item_bot_btn_right">
                    <img src="../../assets/img/svg/vyvod-icon.svg" alt="">
                    <span>Вывести</span>
                </a>
            </div>
        </div>
        <!-- /.balance__item -->
        <div class="balance__item_double">
            <div class="balance__item item-2">
                <div class="balance__item_top">
                    <div class="balance__item_left">
                        <div class="balance__item_user">
                            <div class="balance__item_user_balance">
                                20,000<span>.00 ₽</span>
                            </div>
                        </div>
                    </div>
                    <div class="balance__item_right">
                        <div class="balance__item_title">
                            <div class="popover">
                                <div class="popover-link"><span>?</span></div>
                                <div class="popover-content">
                                    <div class="popover-text">
                                        <b>На бонусный счет играть нельзя.</b><br>
                                        Но вы можете целиком получить этот бонус на ваш реальный счет. Достаточно отыграть бонус с вашим последним вагером.
                                    </div>
                                    <div class="popover-btn">
                                        <a href="#" class="btn">
                                            <span>Подробнее</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <span>Бонусный баланс</span>
                        </div>
                        <div class="balance__item_subtitle">Неиграбельный бонусный баланс для обмена</div>
                    </div>
                </div>
            </div>
            <!-- /.balance__item -->
            <div class="balance__item item-3">
                <div class="balance__item_top">
                    <div class="balance__item_left">
                        <div class="balance__item_user">
                            <div class="balance__item_user_exchange" title="Обменять алмазы">
                                <span>&#8644;</span>
                            </div>
                            <div class="balance__item_user_balance">
                                10,000
                            </div>
                            <img src="../../assets/img/icons/diamond-purple.png" alt="">
                        </div>
                    </div>
                    <div class="balance__item_right">
                        <div class="balance__item_title">
                            <div class="popover">
                                <div class="popover-link"><span>?</span></div>
                                <div class="popover-content">
                                    <div class="popover-text">
                                        <b>На бонусный счет играть нельзя.</b><br>
                                        Но вы можете целиком получить этот бонус на ваш реальный счет. Достаточно отыграть бонус с вашим последним вагером.
                                    </div>
                                    <div class="popover-btn">
                                        <a href="#" class="btn">
                                            <span>Подробнее</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <span>Доступные алмазы</span>
                        </div>
                        <div class="balance__item_subtitle">Неиграбельный бонусный баланс для обмена</div>
                    </div>
                </div>
            </div>
            <!-- /.balance__item -->
        </div>
        <!-- /.balance__item_double -->
        <div class="balance__item item-4">
            <div class="balance__item_top">
                <div class="balance__item_left">
                    <div class="balance__item_title">
                        <span>Запросы на вывод</span>
                    </div>
                    <div class="balance__item_subtitle">Запросы, ожидающие подтверждения</div>
                </div>
                <div class="balance__item_right">
                    <span>!</span> Нету запросов на вывод средств
                </div>
            </div>
        </div>
        <!-- /.balance__item -->
        <div class="balance__item item-5">
            <div class="balance__item_top">
                <div class="balance__item_left">
                    <div class="balance__item_title">
                        <span>Запросы на вывод</span>
                    </div>
                    <div class="balance__item_subtitle">Запросы, ожидающие подтверждения</div>
                </div>
            </div>
            <div class="balance__table_overflow">
                <div class="balance__table">
                    <div class="balance__table_head">
                        <div class="balance__table_item">
                            <div class="balance__table_item_id item"><span>ID</span></div>
                            <div class="balance__table_item_date item"><span>Дата</span></div>
                            <div class="balance__table_item_sum item"><span>Сумма</span></div>
                            <div class="balance__table_item_method item"><span>Метод</span></div>
                            <div class="balance__table_item_status item"><span>Статус</span></div>
                        </div>
                    </div>
                    <div class="balance__table_body">
                        <div class="balance__table_item">
                            <div class="balance__table_item_id item"><span>20200613193358391284</span></div>
                            <div class="balance__table_item_date item"><span>13.06.2020 19:22</span></div>
                            <div class="balance__table_item_sum item"><span>+12,000 ₽</span></div>
                            <div class="balance__table_item_method item"><span>QIWI</span></div>
                            <div class="balance__table_item_status item process"><span>В процессе</span></div>
                        </div>
                        <div class="balance__table_item">
                            <div class="balance__table_item_id item"><span>20200613193358391284</span></div>
                            <div class="balance__table_item_date item"><span>13.06.2020 19:22</span></div>
                            <div class="balance__table_item_sum item"><span>+12,000 ₽</span></div>
                            <div class="balance__table_item_method item"><span>QIWI</span></div>
                            <div class="balance__table_item_status item process"><span>В процессе</span></div>
                        </div>
                        <div class="balance__table_item">
                            <div class="balance__table_item_id item"><span>20200613193358391284</span></div>
                            <div class="balance__table_item_date item"><span>13.06.2020 19:22</span></div>
                            <div class="balance__table_item_sum item"><span>+3,200 ₽</span></div>
                            <div class="balance__table_item_method item"><span>QIWI</span></div>
                            <div class="balance__table_item_status item process"><span>В процессе</span></div>
                        </div>
                        <div class="balance__table_item">
                            <div class="balance__table_item_id item"><span>20200613193358391284</span></div>
                            <div class="balance__table_item_date item"><span>13.06.2020 19:22</span></div>
                            <div class="balance__table_item_sum item"><span>+12,000 ₽</span></div>
                            <div class="balance__table_item_method item"><span>QIWI</span></div>
                            <div class="balance__table_item_status item process"><span>В процессе</span></div>
                        </div>
                        <div class="balance__table_item">
                            <div class="balance__table_item_id item"><span>20200613193358391284</span></div>
                            <div class="balance__table_item_date item"><span>13.06.2020 19:22</span></div>
                            <div class="balance__table_item_sum item"><span>+200 ₽</span></div>
                            <div class="balance__table_item_method item"><span>QIWI</span></div>
                            <div class="balance__table_item_status item process"><span>В процессе</span></div>
                        </div>
                        <div class="balance__table_item">
                            <div class="balance__table_item_id item"><span>20200613193358391284</span></div>
                            <div class="balance__table_item_date item"><span>13.06.2020 19:22</span></div>
                            <div class="balance__table_item_sum item"><span>+200 ₽</span></div>
                            <div class="balance__table_item_method item"><span>QIWI</span></div>
                            <div class="balance__table_item_status item process"><span>В процессе</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination">
                <div class="pagination__arrow prev">
                    <img src="../../assets/img/svg/arrow-right.svg" alt="">
                </div>
                <ul class="pagination__list">
                    <li class="pagination__list_item">
                        <a href="#" class="pagination__list_item_link active">1</a>
                    </li>
                    <li class="pagination__list_item">
                        <a href="#" class="pagination__list_item_link">2</a>
                    </li>
                    <li class="pagination__list_item">
                        <a href="#" class="pagination__list_item_link">3</a>
                    </li>
                    <li class="pagination__list_item">
                        <a href="#" class="pagination__list_item_link">4</a>
                    </li>
                    <li class="pagination__list_item">
                        <div class="pagination__list_item_space">...</div>
                    </li>
                    <li class="pagination__list_item">
                        <a href="#" class="pagination__list_item_link">8</a>
                    </li>
                </ul>
                <div class="pagination__arrow next">
                    <img src="../../assets/img/svg/arrow-right.svg" alt="">
                </div>
            </div>
        </div>
        <!-- /.balance__item -->
    </div>
    <!-- /.balance -->

</div>
<!-- /.balance-1 -->