<div class="balance-2">

    <div class="balance__title">Активные бонусы</div>
    <div class="balance__subtitle">Просматривайте и управляйте бонусами </div>

    <div class="balance">
        <div class="balance__item">
            <div class="balance__item_top">
                <div class="balance__item_left">
                    <div class="balance__item_logo">
                        <img src="../../assets/img/icons/balance-item-logo-1.png" alt="">
                    </div>
                </div>
                <div class="balance__item_right">
                    <div class="balance__item_title">
                        <span>Приветственный бонус</span>
                    </div>
                    <div class="balance__item_subtitle">Истекает 30 августа</div>
                </div>
            </div>
            <label class="toggle-checkbox" data-fancybox data-touch="false"
                   data-src="#modal-bonus-cancel">
                <input class="check__input" type="checkbox" checked>
                <span class="check__live"></span>
            </label>
        </div>
        <!-- /.balance__item -->
        <div class="balance__item">
            <div class="balance__item_top">
                <div class="balance__item_left">
                    <div class="balance__item_logo">
                        <img src="../../assets/img/icons/balance-item-logo-2.png" alt="">
                    </div>
                </div>
                <div class="balance__item_right">
                    <div class="balance__item_title">
                        <span>Счастливый четверг!</span>
                    </div>
                    <div class="balance__item_subtitle">Истекает 1 сентября</div>
                </div>
            </div>
            <label class="toggle-checkbox" data-fancybox data-touch="false"
                   data-src="#modal-bonus-cancel">
                <input class="check__input" type="checkbox" checked>
                <span class="check__live"></span>
            </label>
        </div>
        <!-- /.balance__item -->
    </div>
    <!-- /.balance -->

</div>
<!-- /.balance-2 -->