<div class="balance-4">

    <div class="balance__title">Последние операции</div>
    <div class="balance__subtitle">Ваши последние зачисления, выводы средств и выигрыши</div>

    <div class="balance__date">
        <div class="balance__date_item">
            <div class="balance__date_label"><span>С даты:</span></div>
            <label class="balance__date_input">
                <input type="date">
            </label>
        </div>
        <div class="balance__date_item">
            <div class="balance__date_label"><span>По дату:</span></div>
            <label class="balance__date_input">
                <input type="date">
            </label>
        </div>
    </div>

    <div class="balance__table_overflow">
        <div class="balance__table">
            <div class="balance__table_head">
                <div class="balance__table_item">
                    <div class="balance__table_item_id item"><span>ID</span></div>
                    <div class="balance__table_item_name item"><span>Наименование</span></div>
                    <div class="balance__table_item_date item"><span>Дата</span></div>
                    <div class="balance__table_item_type item"><span>Тип</span></div>
                    <div class="balance__table_item_sum item"><span>Сумма</span></div>
                    <div class="balance__table_item_status item"><span>Статус</span></div>
                </div>
            </div>
            <div class="balance__table_body">
                <div class="balance__table_item">
                    <div class="balance__table_item_id item"><span>20200613193358391284</span></div>
                    <div class="balance__table_item_name item"><span>Пополнение баланса</span></div>
                    <div class="balance__table_item_date item"><span>13.06.2020 19:22</span></div>
                    <div class="balance__table_item_type item"><span>Пополнение</span></div>
                    <div class="balance__table_item_sum item"><span>+12,000 ₽</span></div>
                    <div class="balance__table_item_status item process"><span>В процессе</span></div>
                </div>
                <div class="balance__table_item">
                    <div class="balance__table_item_id item"><span>20200613193358391284</span></div>
                    <div class="balance__table_item_name item"><span>Book of Dead </span></div>
                    <div class="balance__table_item_date item"><span>13.06.2020 19:22</span></div>
                    <div class="balance__table_item_type item"><span>Ставка</span></div>
                    <div class="balance__table_item_sum item minus"><span>-200 ₽</span></div>
                    <div class="balance__table_item_status item"><span>Успешно</span></div>
                </div>
                <div class="balance__table_item">
                    <div class="balance__table_item_id item"><span>20200613193358391284</span></div>
                    <div class="balance__table_item_name item"><span>Пополнение баланса</span></div>
                    <div class="balance__table_item_date item"><span>13.06.2020 19:22</span></div>
                    <div class="balance__table_item_type item"><span>Победа</span></div>
                    <div class="balance__table_item_sum item"><span>+3,200 ₽</span></div>
                    <div class="balance__table_item_status item"><span>Успешно</span></div>
                </div>
                <div class="balance__table_item">
                    <div class="balance__table_item_id item"><span>20200613193358391284</span></div>
                    <div class="balance__table_item_name item"><span>Gonzo Quest</span></div>
                    <div class="balance__table_item_date item"><span>13.06.2020 19:22</span></div>
                    <div class="balance__table_item_type item"><span>Ставка</span></div>
                    <div class="balance__table_item_sum item minus"><span>-322 ₽</span></div>
                    <div class="balance__table_item_status item"><span>Успешно</span></div>
                </div>
                <div class="balance__table_item">
                    <div class="balance__table_item_id item"><span>20200613193358391284</span></div>
                    <div class="balance__table_item_name item"><span>Повышение уровня</span></div>
                    <div class="balance__table_item_date item"><span>13.06.2020 19:22</span></div>
                    <div class="balance__table_item_type item"><span>Бонус</span></div>
                    <div class="balance__table_item_sum item"><span>+200 ₽</span></div>
                    <div class="balance__table_item_status item"><span>Успешно</span></div>
                </div>
                <div class="balance__table_item">
                    <div class="balance__table_item_id item"><span>20200613193358391284</span></div>
                    <div class="balance__table_item_name item"><span>Пополнение баланса</span></div>
                    <div class="balance__table_item_date item"><span>13.06.2020 19:22</span></div>
                    <div class="balance__table_item_type item"><span>Победа</span></div>
                    <div class="balance__table_item_sum item fail"><span>3,200 ₽</span></div>
                    <div class="balance__table_item_status item fail"><span>неуспешно</span></div>
                </div>
                <div class="balance__table_item">
                    <div class="balance__table_item_id item"><span>20200613193358391284</span></div>
                    <div class="balance__table_item_name item"><span>Пополнение баланса</span></div>
                    <div class="balance__table_item_date item"><span>13.06.2020 19:22</span></div>
                    <div class="balance__table_item_type item"><span>Победа</span></div>
                    <div class="balance__table_item_sum item"><span>+12,000 ₽</span></div>
                    <div class="balance__table_item_status item"><span>Успешно</span></div>
                </div>
                <div class="balance__table_item">
                    <div class="balance__table_item_id item"><span>20200613193358391284</span></div>
                    <div class="balance__table_item_name item"><span>Пополнение баланса</span></div>
                    <div class="balance__table_item_date item"><span>13.06.2020 19:22</span></div>
                    <div class="balance__table_item_type item"><span>Победа</span></div>
                    <div class="balance__table_item_sum item"><span>+12,000 ₽</span></div>
                    <div class="balance__table_item_status item"><span>Успешно</span></div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.balance-4 -->