<div class="balance-1">

    <div class="settings__title">
        <img src="../../assets/img/svg/heart-outline.svg" alt="">
        <span>Баланс</span>
    </div>
    <div class="settings__subtitle">Пополнение, транзакции и вывод</div>

    <div class="balance">
        <div class="balance__item item-1">
            <div class="balance__item_top">
                <div class="balance__item_left">
                    <div class="balance__item_user">
                        <div class="balance__item_user_deposit">
                            <img src="../../assets/img/svg/more-white.svg" alt="">
                        </div>
                        <div class="balance__item_user_balance">
                            1,120,452<span>.34 ₽</span>
                        </div>
                    </div>
                </div>
                <div class="balance__item_right">
                    <div class="balance__item_title">Доступный баланс</div>
                    <div class="balance__item_subtitle">Общая сумма, доступная для вывода</div>
                </div>
            </div>
            <div class="balance__item_bot">
                <a href="#" class=" btn balance__item_bot_btn_left"><span>Пополнить</span></a>
                <a href="#" class="balance__item_bot_btn_right">
                    <img src="../../assets/img/svg/vyvod-icon.svg" alt="">
                    <span>Вывести</span>
                </a>
            </div>
        </div>
        <!-- /.balance__item -->
        <div class="balance__item item-2">
            <div class="balance__item_top">
                <div class="balance__item_left">
                    <div class="balance__item_user">
                        <div class="balance__item_user_balance">
                            1,120,452<span>.34 ₽</span>
                        </div>
                    </div>
                </div>
                <div class="balance__item_right">
                    <div class="balance__item_title">Бонусный баланс</div>
                    <div class="balance__item_subtitle">Общая сумма бонусных средств</div>
                </div>
            </div>
        </div>
        <!-- /.balance__item -->
        <div class="balance__item item-3">
            <div class="balance__item_top">
                <div class="balance__item_left">
                    <div class="balance__item_title">Запросы на вывод</div>
                    <div class="balance__item_subtitle">Запросы, ожидающие подтверждения</div>
                </div>
                <div class="balance__item_right">
                    <span>!</span> Нету запросов на вывод средств
                </div>
            </div>
        </div>
        <!-- /.balance__item -->
    </div>
    <!-- /.balance -->

</div>
<!-- /.balance-1 -->