<div class="balance-2">

    <div class="balance__title">Действующие бонусы</div>
    <div class="balance__subtitle">Запросы, ожидающие подтверждения</div>

    <div class="balance">
        <div class="balance__item">
            <div class="balance__item_top">
                <div class="balance__item_left">
                    <div class="balance__item_logo">
                        <img src="../../assets/img/icons/logo.png" alt="">
                    </div>
                </div>
                <div class="balance__item_right">
                    <div class="balance__item_title">Доступный баланс</div>
                    <div class="balance__item_subtitle">Общая сумма, доступная для вывода</div>
                </div>
            </div>
        </div>
        <!-- /.balance__item -->
        <div class="balance__item">
            <div class="balance__item_top">
                <div class="balance__item_left">
                    <div class="balance__item_logo">
                        <img src="../../assets/img/icons/logo.png" alt="">
                    </div>
                </div>
                <div class="balance__item_right">
                    <div class="balance__item_title">Доступный баланс</div>
                    <div class="balance__item_subtitle">Общая сумма, доступная для вывода</div>
                </div>
            </div>
        </div>
        <!-- /.balance__item -->
    </div>
    <!-- /.balance -->

</div>
<!-- /.balance-2 -->