<div class="balance-4">

    <div class="balance__title">Последние операции</div>
    <div class="balance__subtitle">Ваши последние зачисления, выводы средств и выигрыши</div>

    <div class="balance__date">
        <div class="balance__date_item">
            <div class="balance__date_label"><span>С даты:</span></div>
            <label class="balance__date_input">
                <input type="date">
            </label>
        </div>
        <div class="balance__date_item">
            <div class="balance__date_label"><span>По дату:</span></div>
            <label class="balance__date_input">
                <input type="date">
            </label>
        </div>
    </div>

</div>
<!-- /.balance-4 -->