<div class="featured">

    <div class="settings__title">
        <img src="../../assets/img/svg/heart-outline.svg" alt="">
        <span>Избранные игры</span>
    </div>
    <div class="settings__subtitle">Ваша собственная библиотека любимых игр</div>

    <ul class="featured__list">
        <li class="card">
            <a href="#" class="card__heart">
                <img src="../../assets/img/svg/heart-fill.svg" alt="">
            </a>
            <a href="game.html" class="card__link">
                <img class="card__img" src="../../assets/img/all-games-1.png" alt="">
                <div class="card__badge new"><span>NEW</span></div>
            </a>
        </li>
        <li class="card">
            <a href="#" class="card__heart">
                <img src="../../assets/img/svg/heart-fill.svg" alt="">
            </a>
            <a href="game.html" class="card__link">
                <img class="card__img" src="../../assets/img/all-games-2.png" alt="">
                <div class="card__badge new"><span>NEW</span></div>
            </a>
        </li>
        <li class="card">
            <a href="#" class="card__heart">
                <img src="../../assets/img/svg/heart-fill.svg" alt="">
            </a>
            <a href="game.html" class="card__link">
                <img class="card__img" src="../../assets/img/all-games-3.png" alt="">
                <div class="card__badge new"><span>NEW</span></div>
            </a>
        </li>
    </ul>
    <!-- /.featured__list -->

</div>
<!-- /.featured -->