.section-7 {
  padding: 1.5em 3em;
  .all-games__list {
    .card {
      width: calc(100%/6 - 2em);
      display: none;
      &:nth-child(-n+6) {
        display: block !important;
      }
    }
  }
}

@media (min-width: 1400px) {
  .section-7 {
    .all-games__list {
      .card {
        width: calc(100%/7 - 2em);
        &:nth-child(-n+7) {
          display: block !important;
        }
      }
    }
  }
}

@media (min-width: 2000px) {
  .section-7 {
    .all-games__list {
      .card {
        width: calc(100%/8 - 2em);
        &:nth-child(-n+8) {
          display: block !important;
        }
      }
    }
  }
}