<div class="section-7">

    <div class="section__title">
        <div class="section__title_icon">
            <img src="../../assets/img/svg/people.svg" alt="">
        </div>
        <h2 class="h2">Live игры</h2>
    </div>

    <div class="section__slider section__slider-6">
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-7__slide-1.jpg" alt="">
                <span class="card__overflow"></span>
                <span class="card__badge new">HOT</span>
                <span class="card__play"></span>
            </a>
            <a href="#" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-7__slide-1.jpg" alt="">
                <span class="card__overflow"></span>
                <span class="card__badge new">HOT</span>
                <span class="card__play"></span>
            </a>
            <a href="#" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-7__slide-1.jpg" alt="">
                <span class="card__overflow"></span>
                <span class="card__badge new">HOT</span>
                <span class="card__play"></span>
            </a>
            <a href="#" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-7__slide-1.jpg" alt="">
                <span class="card__overflow"></span>
                <span class="card__badge new">HOT</span>
                <span class="card__play"></span>
            </a>
            <a href="#" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-7__slide-1.jpg" alt="">
                <span class="card__overflow"></span>
                <span class="card__badge new">HOT</span>
                <span class="card__play"></span>
            </a>
            <a href="#" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-7__slide-1.jpg" alt="">
                <span class="card__overflow"></span>
                <span class="card__badge new">HOT</span>
                <span class="card__play"></span>
            </a>
            <a href="#" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-7__slide-1.jpg" alt="">
                <span class="card__overflow"></span>
                <span class="card__badge new">HOT</span>
                <span class="card__play"></span>
            </a>
            <a href="#" class="card__demo">Демо</a>
        </div>
    </div>
    <!-- /.section__slider-6 -->

</div>
<!-- /.section-7 -->