<div class="modal-form modal-verification" id="modal-verification">

    <div class="modal-grid">

        <div class="modal-grid__left">
            <div class="modal-grid__left_title">
                <span><b>GrinGo</b>Play.com</span>
            </div>
        </div>
        <!-- /.modal-grid__left -->

        <div class="modal-grid__right">

            <div class="form-title">Подтверждение телефона</div>
            <div class="modal-verification__subtitle">
                <span>
                    На номер телефона: +380******1111 был отправлен 5-значный SMS код. Для подтверждения, пожалуйста,
                    введите код в поле ниже:
                </span>
            </div>

            <form class="form">
                <div class="form-group">
                    <label class="input">
                        <input type="text" placeholder="SMS Код">
                    </label>
                </div>
                <div class="form-btn">
                    <button class="btn"><span>Подтвердить номер телефона</span></button>
                </div>
            </form>
            <!-- /.form -->

            <div class="modal-verification__repeatedly">
                <div class="modal-verification__repeatedly_title">
                    Отправить код повторно <br> можно будет через:
                </div>
                <div class="modal-verification__repeatedly_time">0:59</div>
            </div>

        </div>
        <!-- /.modal-grid__right -->

    </div>
    <!-- /.modal-grid -->

</div>
<!-- /.modal-verification -->