.modal-grid {
  display: -ms-grid;
  -ms-grid-columns: 38em 1fr;
  display: grid;
  grid-template-columns: 38em 1fr;
  width: 100%;
  box-sizing: border-box;
  border-radius: 1.5em;
  border: solid 1px #363e47;
  overflow: hidden;
}

.modal-grid__left {
  position: relative;
  background-image: url(../../assets/img/modal-grid-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.modal-grid__right {
  -ms-grid-column: 2;
  padding: 5em 5em 1.5em;
  backdrop-filter: blur(1.5em);
  background-color: #22252e;
}

.modal-grid__left_content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2.5em 1.5em;
  box-sizing: border-box;
}

.modal-grid__left_title {
  width: 100%;
  font-family: 'SF Pro Display Meduim', sans-serif;
  font-size: 2.2em;
  color: $white;
  text-align: center;
}

.modal-grid__left_subtitle {
  width: 100%;
  margin-top: 0.5em;
  font-size: 1.8em;
  color: rgba($white, .6);
  text-align: center;
}

.modal-grid__left_bot {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 6em;
  background-color: rgba(#1d212b, .8);
  color: $white;
  span {
    font-size: 2.6em;
  }
}



@media (max-width: 767.98px) {
  .modal-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    border-radius: 0;
    border: none;
  }
  .modal-grid__left {
    display: none;
  }
  .modal-grid__right {
    -ms-grid-column: 1;
    padding: 2em 1em 1em;
    backdrop-filter: none;
    background-color: transparent;
  }
}

@import "modal-search/modal-search";
@import "modal-login/modal-login";
@import "modal-verification/modal-verification";
@import "modal-registration/modal-registration";
@import "modal-deposit/modal-deposit";