<div class="vip">

    <div class="settings__title">
        <img src="../../assets/img/svg/heart-outline.svg" alt="">
        <span>Мой VIP статус</span>
    </div>
    <div class="settings__subtitle">Информация о вашем VIP статусе</div>

    <div class="balance">
        <div class="balance__item">
            <div class="balance__item_top">
                <div class="balance__item_left">
                    <div class="user__icon">
                        <div class="user__icon_status">
                            <img src="../../assets/img/svg/status-5.svg" alt="">
                        </div>
                        <div class="user__icon_progress"></div>
                    </div>
                </div>
                <div class="balance__item_right">
                    <div class="balance__item_title">
                        <span>Бриллиантовый статус</span>
                        <div class="popover">
                            <div class="popover-link"><span>?</span></div>
                            <div class="popover-content">
                                <div class="popover-text">
                                    <b>Это статус в нашем VIP клубе Gringo.</b><br>
                                    Для обладателей статусов мы дарим: самые лучшие бонусы в СНГ, акции, кэшбеки, подарки и персональные турниры!
                                </div>
                                <div class="popover-btn">
                                    <a href="#" class="btn">
                                        <span>Подробнее о статусах</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="balance__item_progress">
                        <span>5 Уровень</span> &nbsp; 25% прогресс
                    </div>
                </div>
            </div>
        </div>
        <!-- /.balance__item -->
        <div class="balance__item_double">
            <div class="balance__item item-3">
                <div class="balance__item_top">
                    <div class="balance__item_left">
                        <div class="balance__item_user">
                            <div class="balance__item_user_exchange" title="Обменять алмазы">
                                <span>&#8644;</span>
                            </div>
                            <div class="balance__item_user_balance">
                                10,000
                            </div>
                            <img src="../../assets/img/icons/diamond-purple.png" alt="">
                        </div>
                    </div>
                    <div class="balance__item_right">
                        <div class="balance__item_title">
                            <div class="popover">
                                <div class="popover-link"><span>?</span></div>
                                <div class="popover-content">
                                    <div class="popover-text">
                                        <b>На бонусный счет играть нельзя.</b><br>
                                        Но вы можете целиком получить этот бонус на ваш реальный счет. Достаточно отыграть бонус с вашим последним вагером.
                                    </div>
                                    <div class="popover-btn">
                                        <a href="#" class="btn">
                                            <span>Подробнее</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <span>Доступные алмазы</span>
                        </div>
                        <div class="balance__item_subtitle">Неиграбельный бонусный баланс для обмена</div>
                    </div>
                </div>
            </div>
            <!-- /.balance__item -->
        </div>
        <!-- /.balance__item_double -->
    </div>

    <div class="vip__exchange-rate">
        <div class="vip__exchange-rate_icon"><span>!</span></div>
        <div class="vip__exchange-rate_text">Ваш курс обмена алмазов: &nbsp;</div>
        <div class="vip__exchange-rate_value">10:1</div>
    </div>

    <div class="vip__status">
        <div class="vip__status_title">
            Ваш текущий статус: <span>Бриллиантовый </span>
        </div>
        <div class="vip__status_subtitle">
            <span>Вы достигли максимального статуса в VIP клубе Gringo!</span>
        </div>
        <ul class="vip__status_list">
            <li class="vip__status_list_item">
                <div class="vip__status_list_item_status">
                    <span>Ваш статус</span>
                </div>
                <div class="vip__status_list_item_img">
                    <img src="../../assets/img/svg/status-1.svg" alt="">
                </div>
                <div class="vip__status_list_item_label"><span>бронзовый</span></div>
                <div class="vip__status_list_item_value"><span>5$</span></div>
            </li>
            <li class="vip__status_list_item">
                <div class="vip__status_list_item_status">
                    <span>Ваш статус</span>
                </div>
                <div class="vip__status_list_item_img">
                    <img src="../../assets/img/svg/status-2.svg" alt="">
                </div>
                <div class="vip__status_list_item_label"><span>серебряный</span></div>
                <div class="vip__status_list_item_value"><span>50$</span></div>
            </li>
            <li class="vip__status_list_item">
                <div class="vip__status_list_item_status">
                    <span>Ваш статус</span>
                </div>
                <div class="vip__status_list_item_img">
                    <img src="../../assets/img/svg/status-3.svg" alt="">
                </div>
                <div class="vip__status_list_item_label"><span>золотой</span></div>
                <div class="vip__status_list_item_value"><span>250$</span></div>
            </li>
            <li class="vip__status_list_item">
                <div class="vip__status_list_item_status">
                    <span>Ваш статус</span>
                </div>
                <div class="vip__status_list_item_img">
                    <img src="../../assets/img/svg/status-4.svg" alt="">
                </div>
                <div class="vip__status_list_item_label"><span>платиновый</span></div>
                <div class="vip__status_list_item_value"><span>1500$</span></div>
            </li>
            <li class="vip__status_list_item active">
                <div class="vip__status_list_item_status">
                    <span>Ваш статус</span>
                </div>
                <div class="vip__status_list_item_img">
                    <img src="../../assets/img/svg/status-5.svg" alt="">
                </div>
                <div class="vip__status_list_item_label"><span>бриллиантовый</span></div>
                <div class="vip__status_list_item_value"><span>30000$</span></div>
            </li>
        </ul>
    </div>
    <!-- /.vip__status -->

    <div class="vip__details">
        <div class="vip__details_content">
            <div class="vip__details_title">
                Узнайте обо всех бонусах системы привилегий VIP клуба Gringo
            </div>
            <div class="vip__details_subtitle">
                Дарим самые лучшие кэшбеки и бонусы!
            </div>
        </div>
        <div class="vip__details_btn">
            <a href="#" class="btn"><span>Узнать подробности</span></a>
        </div>
    </div>
    <!-- /.vip__details -->

</div>
<!-- /.vip -->