<div class="fast-deposit">
    <div class="fast-deposit__value">500 ₽</div>
    <div class="fast-deposit__box">
        <div class="fast-deposit__dropdown">
            <div class="fast-deposit__dropdown_link">
                <div class="fast-deposit__dropdown_item">
                    <div class="fast-deposit__dropdown_item_icon">
                        <img src="../../assets/img/icons/visa.png" alt="">
                    </div>
                    <div class="fast-deposit__dropdown_item_number">5597</div>
                </div>
            </div>
            <div class="fast-deposit__dropdown_content">
                <div class="fast-deposit__dropdown_item">
                    <div class="fast-deposit__dropdown_item_icon">
                        <img src="../../assets/img/icons/visa.png" alt="">
                    </div>
                    <div class="fast-deposit__dropdown_item_number">5597</div>
                </div>
                <div class="fast-deposit__dropdown_item">
                    <div class="fast-deposit__dropdown_item_icon">
                        <img src="../../assets/img/svg/mastercard.svg" alt="">
                    </div>
                    <div class="fast-deposit__dropdown_item_number">9211</div>
                </div>
            </div>
        </div>
        <a href="#" class="fast-deposit__desc">Быстрый <br> депозит</a>
    </div>
</div>
<!-- /.fast-deposit -->