.fast-deposit {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2em 1.5em;
  box-sizing: border-box;
  border-radius: 5.5em 5.5em 0 0;
  background-color: $green;
  transition: .5s;
}

.fast-deposit__value {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8em;
  min-width: 8em;
  height: 8em;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: $white;
  font-family: 'SF Pro Display Bold', sans-serif;
  color: $green;
  span {
    font-size: 1.8em;
  }
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 7.5em;
    height: 7.5em;
    box-sizing: border-box;
    border-radius: 50%;
    border: 1px dashed $green;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 1.2em;
    left: 50%;
    transform: translateX(-50%);
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: $green;
  }
}

.fast-deposit__desc {
  display: block;
  margin-top: 2em;
  font-family: 'SF Pro Display Semibold', sans-serif;
  color: rgba($black, .45);
  text-align: center;
  span {
    font-size: 1.8em;
  }
}

.fast-deposit__dropdown {
  position: relative;
  margin-top: 1em;
}

.fast-deposit__dropdown_link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
  border-radius: 1em;
  border: solid 1px rgba(#707070, .25);
  background-color: rgba($white, .25);
  cursor: pointer;
  transition: .3s;
  &:hover {
    background-color: rgba($white, .6);
  }
}

.fast-deposit__dropdown_content {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  border-radius: 1em;
  border: solid 1px rgba(#707070, .25);
  background-color: $white;
  overflow: hidden;
  .fast-deposit__dropdown_item {
    &:hover {
      background-color: #eeeeee;
    }
  }
}

.fast-deposit__dropdown_item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 3em;
  padding: 0 0.5em;
  box-sizing: border-box;
  border-bottom: solid 1px rgba(#707070, .25);
  cursor: pointer;
  transition: .3s;
  &:last-child {
    border-bottom: none;
  }
}

.fast-deposit__dropdown_item_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.1em;
  height: 1.9em;
  margin-right: 0.2em;
  padding: 0.3em;
  box-sizing: border-box;
  border-radius: 0.5em;
  border: solid 1px #d4d4d4;
  background-color: $white;
}

.fast-deposit__dropdown_item_number {
  font-family: 'SF Pro Display Meduim', sans-serif;
  font-size: 1.4em;
  color: rgba($black, .6);
}

.fast-deposit.active {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1em 3.5em 1em 1.5em;
  border-radius: 4em 0 0 0;
  .fast-deposit__value {
    margin-right: 2.5em;
  }
  .fast-deposit__box {
    width: 100%;
  }
  .fast-deposit__desc {
    margin-top: 0.5em;
  }
  .fast-deposit__dropdown {
    margin-top: 0;
  }
  .fast-deposit__dropdown_item {
    height: 4em;
    padding: 0 1em 0 0;
  }
  .fast-deposit__dropdown_item_icon {
    width: 3.5em;
    height: 4em;
    margin-right: 0.8em;
    border: none;
    border-radius: 1em 0 0 1em;
    transition: .3s;
  }
  .fast-deposit__dropdown_content {
    .fast-deposit__dropdown_item_icon {
      border-radius: 0;
      height: 3.9em;
    }
    .fast-deposit__dropdown_item {
      &:hover {
        .fast-deposit__dropdown_item_icon {
          background-color: #eeeeee;
        }
      }
    }
  }
}