<div class="fast-deposit">
    <div class="fast-deposit__title">
        <img src="../../assets/img/svg/fast-deposit-icon.svg" alt="">
        <span>Быстрый депозит</span>
    </div>
    <a href="#" class="fast-deposit__value" data-fancybox data-touch="false" data-src="#modal-deposit">
        <div class="fast-deposit__value_subtitle">Внести</div>
        <div class="fast-deposit__value_title">500 ₽</div>
    </a>
    <a href="#" class="fast-deposit__sum" data-fancybox data-touch="false" data-src="#modal-deposit">
        <div class="fast-deposit__sum_title">Выбор суммы</div>
        <div class="fast-deposit__sum_subtitle">пополнения</div>
    </a>
    <div class="fast-deposit__box">
        <a href="#" class="fast-deposit__desc" data-fancybox data-touch="false" data-src="#modal-deposit"><span>Выбрать сумму</span></a>
    </div>
</div>
<!-- /.fast-deposit -->