<div class="section-4">

    <div class="section__title">
        <div class="section__title_icon">
            <img src="../../assets/img/svg/Icon-material-star.svg" alt="">
        </div>
        <h2 class="h2">Популярные игры</h2>
    </div>

    <div class="section__slider section__slider-4">
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-5__slide-1.png" alt="">
                <span class="card__overflow"></span>
                <span class="card__badge new">HOT</span>
                <span class="card__play"></span>
            </a>
            <a href="#" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-5__slide-1.png" alt="">
                <span class="card__overflow"></span>
                <span class="card__badge new">HOT</span>
                <span class="card__play"></span>
            </a>
            <a href="#" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-5__slide-1.png" alt="">
                <span class="card__overflow"></span>
                <span class="card__badge new">HOT</span>
                <span class="card__play"></span>
            </a>
            <a href="#" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-5__slide-1.png" alt="">
                <span class="card__overflow"></span>
                <span class="card__badge new">HOT</span>
                <span class="card__play"></span>
            </a>
            <a href="#" class="card__demo">Демо</a>
        </div>
        <div class="card">
            <a href="#" class="card__link">
                <img class="card__img" src="../../assets/img/section-5__slide-1.png" alt="">
                <span class="card__overflow"></span>
                <span class="card__badge new">HOT</span>
                <span class="card__play"></span>
            </a>
            <a href="#" class="card__demo">Демо</a>
        </div>
    </div>
    <!-- /.section__slider-4 -->

</div>
<!-- /.section-4 -->