<div class="mobile-navigation">
    <a href="#" class="mobile-navigation__item">
        <div class="mobile-navigation__item_icon">
            <img src="../../assets/img/icons/navigation-icon-1.png" alt="">
        </div>
        <div class="mobile-navigation__item_label">Главная</div>
    </a>
    <a href="#" class="mobile-navigation__item" data-fancybox data-src="#modal-search">
        <div class="mobile-navigation__item_icon">
            <img src="../../assets/img/icons/navigation-icon-2.png" alt="">
        </div>
        <div class="mobile-navigation__item_label">Поиск</div>
    </a>
    <a href="#" class="mobile-navigation__item">
        <div class="mobile-navigation__item_icon"></div>
        <div class="mobile-navigation__item_deposit">
            <img src="../../assets/img/svg/more-white.svg" alt="">
        </div>
        <div class="mobile-navigation__item_label">Депозит</div>
    </a>
    <a href="#notification-dropdown" class="mobile-navigation__item js-dropdown-link">
        <div class="mobile-navigation__item_icon">
            <img src="../../assets/img/icons/navigation-icon-3.png" alt="">
        </div>
        <div class="mobile-navigation__item_label">Уведомл.</div>
    </a>
    <a href="#" class="mobile-navigation__item">
        <div class="mobile-navigation__item_icon">
            <img src="../../assets/img/icons/navigation-icon-4.png" alt="">
        </div>
        <div class="mobile-navigation__item_label">Профиль</div>
    </a>
</div>
<!-- /.mobile-navigation -->
<div class="notification__content dropdown__content js-dropdown-content" id="notification-dropdown">
    <div class="notification__content_title"><span>Уведомления</span></div>
    <ul class="notification__content_list">
        <li class="notification__content_list_item v-1">
            <div class="notification__content_list_item_date">03.06.2020 23:30</div>
            <div class="notification__content_list_item_content">
                <div class="notification__content_list_item_img">
                    <img src="../../assets/img/notification-1.png" alt="">
                </div>
                <div class="notification__content_list_item_desc">
                    Присоединяйтесь к нашему новому турниру "Гринго Заносы" и получите до 300 бесплатных
                    спинов и денежный выигрыш 100,000 рублей!
                </div>
            </div>
        </li>
        <li class="notification__content_list_item v-2">
            <div class="notification__content_list_item_date">Вчера</div>
            <div class="notification__content_list_item_desc">
                Заберите ваш еженедельный бонус до 5000 руб! <br>
                Он ждет вашей активации в <a href="#" class="link">кабинете</a>!
            </div>
        </li>
        <li class="notification__content_list_item v-3">
            <div class="notification__content_list_item_date">03.06.2020 23:30</div>
            <div class="notification__content_list_item_img">
                <img src="../../assets/img/notification-2.png" alt="">
            </div>
            <div class="notification__content_list_item_desc">
                Присоединяйтесь к нашему новому турниру "Гринго Заносы" и получите до 300 бесплатных
                спинов и денежный выигрыш 100,000 рублей!
            </div>
        </li>
    </ul>
</div>