<div class="mobile-navigation">
    <a href="#" class="mobile-navigation__item">
        <div class="mobile-navigation__item_icon">
            <img src="../../assets/img/svg/search.svg" alt="">
        </div>
        <div class="mobile-navigation__item_label">Главная</div>
    </a>
    <a href="#" class="mobile-navigation__item">
        <div class="mobile-navigation__item_icon">
            <img src="../../assets/img/svg/search.svg" alt="">
        </div>
        <div class="mobile-navigation__item_label">Поиск</div>
    </a>
    <a href="#" class="mobile-navigation__item">
        <div class="mobile-navigation__item_icon"></div>
        <div class="mobile-navigation__item_deposit">
            <img src="../../assets/img/svg/more-white.svg" alt="">
        </div>
        <div class="mobile-navigation__item_label">Депозит</div>
    </a>
    <a href="#" class="mobile-navigation__item">
        <div class="mobile-navigation__item_icon">
            <img src="../../assets/img/svg/search.svg" alt="">
        </div>
        <div class="mobile-navigation__item_label">Уведомл.</div>
    </a>
    <a href="#" class="mobile-navigation__item">
        <div class="mobile-navigation__item_icon">
            <img src="../../assets/img/svg/search.svg" alt="">
        </div>
        <div class="mobile-navigation__item_label">Профиль</div>
    </a>
</div>
<!-- /.mobile-navigation -->