.section-3 {
  margin-right: -13em;
  padding: 2.5em 3em 5em;
  .dropdown__content {
    border-color: rgba(#38414b, .2);
    background-color: #1a1d26;
  }
}

.section-3__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7.5em;
  padding: 0 6em;
  border-radius: 1.5em;
  border: 1px solid rgba(#38414b, .2);
  background-color: rgba($black, .2);
}

.section-3__list_item {
  position: relative;
  margin-right: 1em;
  &.dropdown {
    .dropdown__content {
      bottom: -1px;
      border-radius: 1.5em;
    }
    .section-3__list_item_link {
      background-color: #1a1d26;
    }
  }
  &:last-child {
    margin-right: 0;
  }
  &:nth-child(1) {
    .section-3__list_item_link {
      &:hover {
        background-color: #285119;
        color: #55c12f;
      }
    }
  }
  &:nth-child(2) {
    .section-3__list_item_link {
      background-color: rgba($white, .15);
      &:hover {
        background-color: #51350e;
        color: #fea429;
      }
    }
  }
  &:nth-child(3) {
    .section-3__list_item_link {
      background-color: rgba(#f54d08, .15);
      color: #f54d08;
    }
  }
  &:nth-child(4) {
    .section-3__list_item_link {
      &:hover {
        background-color: #143558;
        color: #2f77c2;
      }
    }
  }
  &:nth-child(5) {
    .section-3__list_item_link {
      &:hover {
        background-color: #004728;
        color: #00cb73;
      }
    }
  }
  &:nth-child(6) {
    .section-3__list_item_link {
      &:hover {
        background-color: #414d02;
        color: #abcb00;
      }
    }
  }
  &:nth-child(7) {
    .section-3__list_item_link {
      &:hover {
        background-color: #15304b;
        color: #2f77c2;
      }
    }
    .section-3__list_item_title {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: -0.4em;
        width: 0.5em;
        height: 0.5em;
        border-radius: 50%;
        background-color: $green;
      }
    }
  }
}

.section-3__list_item_link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.5em;
  padding: 0 1.5em 0 0.7em;
  box-sizing: border-box;
  border-radius: 3em;
  background-color: #1e212b;
  color: #78797f;
  &.js-dropdown-link {
    min-width: 14em;
  }
}

.section-3__list_item_img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  margin-right: 0.7em;
}

.section-3__list_item_title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'SF Pro Display Meduim', sans-serif;
  white-space: nowrap;
  span {
    font-size: 1.8em;
  }
  .arrow {
    font-size: 1em;
  }
}