.section-3 {
  margin-right: -13em;
  padding: 2.5em 0 5em;
}

.section-3__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-3__list_item {
  position: relative;
  margin-right: 8em;
  &:last-child {
    margin-right: 0;
  }
}

.section-3__list_item_link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  &:hover {
    .section-3__list_item_img {
      img {
        filter: grayscale(0);
      }
    }
    .section-3__list_item_title {
      color: $green;
    }
  }
}

.section-3__list_item_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8em;
  height: 8em;
  border-radius: 2.5em;
  border: solid 1px #363c42;
  background-color: #14191e;
  img {
    max-width: 4em;
    max-height: 4em;
    filter: grayscale(1);
    transition: .3s;
  }
}

.section-3__list_item_title {
  position: absolute;
  left: 50%;
  bottom: -1.5em;
  transform: translate(-50%, 100%);
  font-family: 'SF Pro Display Meduim', sans-serif;
  color: $white;
  text-align: center;
  white-space: nowrap;
  transition: .3s;
  span {
    font-size: 1.5em;
  }
}