<div class="section-3">
    <ul class="section-3__list">
        <li class="section-3__list_item">
            <a href="#" class="section-3__list_item_link">
                <div class="section-3__list_item_img">
                    <img src="../../assets/img/svg/section-3__icon-1.svg" alt="">
                </div>
                <div class="section-3__list_item_title"><span>Все слоты</span></div>
            </a>
        </li>
        <li class="section-3__list_item">
            <a href="#" class="section-3__list_item_link">
                <div class="section-3__list_item_img">
                    <img src="../../assets/img/svg/section-3__icon-2.svg" alt="">
                </div>
                <div class="section-3__list_item_title"><span>Новые игры</span></div>
            </a>
        </li>
        <li class="section-3__list_item">
            <a href="#" class="section-3__list_item_link">
                <div class="section-3__list_item_img">
                    <img src="../../assets/img/svg/section-3__icon-3.svg" alt="">
                </div>
                <div class="section-3__list_item_title"><span>Живые дилеры</span></div>
            </a>
        </li>
        <li class="section-3__list_item">
            <a href="#" class="section-3__list_item_link">
                <div class="section-3__list_item_img">
                    <img src="../../assets/img/svg/section-3__icon-4.svg" alt="">
                </div>
                <div class="section-3__list_item_title"><span>Видеопокер</span></div>
            </a>
        </li>
        <li class="section-3__list_item">
            <a href="#" class="section-3__list_item_link">
                <div class="section-3__list_item_img">
                    <img src="../../assets/img/svg/section-3__icon-5.svg" alt="">
                </div>
                <div class="section-3__list_item_title"><span>Рулетки</span></div>
            </a>
        </li>
        <li class="section-3__list_item">
            <a href="#" class="section-3__list_item_link">
                <div class="section-3__list_item_img">
                    <img src="../../assets/img/svg/section-3__icon-6.svg" alt="">
                </div>
                <div class="section-3__list_item_title"><span>Карточные</span></div>
            </a>
        </li>
        <li class="section-3__list_item">
            <a href="#" class="section-3__list_item_link">
                <div class="section-3__list_item_img">
                    <img src="../../assets/img/svg/section-3__icon-7.svg" alt="">
                </div>
                <div class="section-3__list_item_title"><span>Live игры</span></div>
            </a>
        </li>
        <li class="section-3__list_item dropdown">
            <a href="#section-3__dropdown-1" class="section-3__list_item_link js-dropdown-link">
                <div class="section-3__list_item_title">
                    <span>Провайдеры</span>
                    <span class="arrow"></span>
                </div>
            </a>
            <div class="dropdown__content js-dropdown-content" id="section-3__dropdown-1">
                <ul class="dropdown__content_list">
                    <li class="dropdown__content_list_item">
                        <label class="check">
                            <input class="check__input" type="checkbox">
                            <span class="check__box"></span>
                            <span class="checkbox__label">Провайдеры</span>
                        </label>
                    </li>
                    <li class="dropdown__content_list_item">
                        <label class="check">
                            <input class="check__input" type="checkbox">
                            <span class="check__box"></span>
                            <span class="checkbox__label">Провайдеры</span>
                        </label>
                    </li>
                    <li class="dropdown__content_list_item">
                        <label class="check">
                            <input class="check__input" type="checkbox">
                            <span class="check__box"></span>
                            <span class="checkbox__label">Провайдеры</span>
                        </label>
                    </li>
                    <li class="dropdown__content_list_item">
                        <label class="check">
                            <input class="check__input" type="checkbox">
                            <span class="check__box"></span>
                            <span class="checkbox__label">Провайдеры</span>
                        </label>
                    </li>
                </ul>
            </div>
        </li>
        <li class="section-3__list_item dropdown">
            <a href="#section-3__dropdown-2" class="section-3__list_item_link js-dropdown-link">
                <div class="section-3__list_item_title">
                    <span>Категория</span>
                    <span class="arrow"></span>
                </div>
            </a>
            <div class="dropdown__content js-dropdown-content" id="section-3__dropdown-2">
                <ul class="dropdown__content_list">
                    <li class="dropdown__content_list_item">
                        <label class="check">
                            <input class="check__input" type="checkbox">
                            <span class="check__box"></span>
                            <span class="checkbox__label">Категория</span>
                        </label>
                    </li>
                    <li class="dropdown__content_list_item">
                        <label class="check">
                            <input class="check__input" type="checkbox">
                            <span class="check__box"></span>
                            <span class="checkbox__label">Категория</span>
                        </label>
                    </li>
                    <li class="dropdown__content_list_item">
                        <label class="check">
                            <input class="check__input" type="checkbox">
                            <span class="check__box"></span>
                            <span class="checkbox__label">Категория</span>
                        </label>
                    </li>
                    <li class="dropdown__content_list_item">
                        <label class="check">
                            <input class="check__input" type="checkbox">
                            <span class="check__box"></span>
                            <span class="checkbox__label">Категория</span>
                        </label>
                    </li>
                </ul>
            </div>
        </li>
        <li class="section-3__list_item dropdown">
            <a href="#section-3__dropdown-3" class="section-3__list_item_link js-dropdown-link">
                <div class="section-3__list_item_title">
                    <span class="sort-label">Популярности</span>
                    <span class="arrow"></span>
                </div>
            </a>
            <div class="dropdown__content js-dropdown-content" id="section-3__dropdown-3">
                <ul class="dropdown__content_list">
                    <li class="dropdown__content_list_item">
                        <a href="#" class="dropdown__content_list_item_link active">Популярности</a>
                    </li>
                    <li class="dropdown__content_list_item">
                        <a href="#" class="dropdown__content_list_item_link">Дате</a>
                    </li>
                    <li class="dropdown__content_list_item">
                        <a href="#" class="dropdown__content_list_item_link">Рейтингу</a>
                    </li>
                    <li class="dropdown__content_list_item">
                        <a href="#" class="dropdown__content_list_item_link">Алфавиту</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
<!-- /.section-3 -->