<div class="section-3">
    <ul class="section-3__list">
        <li class="section-3__list_item">
            <a href="#" class="section-3__list_item_link">
                <div class="section-3__list_item_img">
                    <img src="../../assets/img/svg/Slots-categ-icon.svg" alt="">
                </div>
                <div class="section-3__list_item_title">Слоты</div>
            </a>
        </li>
        <li class="section-3__list_item">
            <a href="#" class="section-3__list_item_link">
                <div class="section-3__list_item_img">
                    <img src="../../assets/img/svg/new-categ-icon.svg" alt="">
                </div>
                <div class="section-3__list_item_title">Новое</div>
            </a>
        </li>
        <li class="section-3__list_item">
            <a href="#" class="section-3__list_item_link">
                <div class="section-3__list_item_img">
                    <img src="../../assets/img/svg/777-games-icon-green.svg" alt="">
                </div>
                <div class="section-3__list_item_title">Джекпоты</div>
            </a>
        </li>
        <li class="section-3__list_item">
            <a href="#" class="section-3__list_item_link">
                <div class="section-3__list_item_img">
                    <img src="../../assets/img/svg/liveplay-categ-icon.svg" alt="">
                </div>
                <div class="section-3__list_item_title">Живые дилеры</div>
            </a>
        </li>
        <li class="section-3__list_item">
            <a href="#" class="section-3__list_item_link">
                <div class="section-3__list_item_img">
                    <img src="../../assets/img/svg/people.svg" alt="">
                </div>
                <div class="section-3__list_item_title">Видеопокер</div>
            </a>
        </li>
        <li class="section-3__list_item">
            <a href="#" class="section-3__list_item_link">
                <div class="section-3__list_item_img">
                    <img src="../../assets/img/svg/roulette-categ-icon.svg" alt="">
                </div>
                <div class="section-3__list_item_title">Рулетки</div>
            </a>
        </li>
        <li class="section-3__list_item">
            <a href="#" class="section-3__list_item_link">
                <div class="section-3__list_item_img">
                    <img src="../../assets/img/svg/card-categ-icon.svg" alt="">
                </div>
                <div class="section-3__list_item_title">Карточные</div>
            </a>
        </li>
        <li class="section-3__list_item">
            <a href="#" class="section-3__list_item_link">
                <div class="section-3__list_item_img">
                    <img src="../../assets/img/svg/live-categ-icon.svg" alt="">
                </div>
                <div class="section-3__list_item_title">Live игры</div>
            </a>
        </li>
    </ul>
</div>
<!-- /.section-3 -->