<div class="modal-search" id="modal-search">
    <label class="modal-search__input">
        <img src="../../../assets/img/svg/search.svg" alt="" class="modal-search__input_icon">
        <input type="search" placeholder="Поиск игр">
    </label>
    <div class="modal-search__settings">
        <div class="modal-search__settings_item">
            <a href="#search-settings-1" class="modal-search__settings_item_link js-dropdown-link">
                Провайдеры <span class="arrow"></span>
            </a>
            <div class="modal-search__settings_item_content js-dropdown-content" id="search-settings-1">
                <ul class="modal-search__settings_list">
                    <li class="modal-search__settings_list_item">
                        <label class="check">
                            <input class="check__input" type="checkbox">
                            <span class="check__box"></span>
                            <span class="checkbox__label">Провайдеры</span>
                        </label>
                    </li>
                    <li class="modal-search__settings_list_item">
                        <label class="check">
                            <input class="check__input" type="checkbox">
                            <span class="check__box"></span>
                            <span class="checkbox__label">Провайдер</span>
                        </label>
                    </li>
                    <li class="modal-search__settings_list_item">
                        <label class="check">
                            <input class="check__input" type="checkbox">
                            <span class="check__box"></span>
                            <span class="checkbox__label">Провайдеры</span>
                        </label>
                    </li>
                    <li class="modal-search__settings_list_item">
                        <label class="check">
                            <input class="check__input" type="checkbox">
                            <span class="check__box"></span>
                            <span class="checkbox__label">Провайдеры Провайдер</span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.modal-search__settings_item -->
        <div class="modal-search__settings_item">
            <a href="#search-settings-2" class="modal-search__settings_item_link js-dropdown-link">
                Категория <span class="arrow"></span>
            </a>
            <div class="modal-search__settings_item_content js-dropdown-content" id="search-settings-2">
                <ul class="modal-search__settings_list">
                    <li class="modal-search__settings_list_item">
                        <label class="check">
                            <input class="check__input" type="checkbox">
                            <span class="check__box"></span>
                            <span class="checkbox__label">Джекпоты</span>
                        </label>
                    </li>
                    <li class="modal-search__settings_list_item">
                        <label class="check">
                            <input class="check__input" type="checkbox">
                            <span class="check__box"></span>
                            <span class="checkbox__label">Ежедневные джекпот</span>
                        </label>
                    </li>
                    <li class="modal-search__settings_list_item">
                        <label class="check">
                            <input class="check__input" type="checkbox">
                            <span class="check__box"></span>
                            <span class="checkbox__label">Бонусные игры</span>
                        </label>
                    </li>
                    <li class="modal-search__settings_list_item">
                        <label class="check">
                            <input class="check__input" type="checkbox">
                            <span class="check__box"></span>
                            <span class="checkbox__label">Фриспины</span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.modal-search__settings_item -->
        <div class="modal-search__settings_item">
            <a href="#search-settings-3" class="modal-search__settings_item_link js-dropdown-link">
                Темы игр <span class="arrow"></span>
            </a>
            <div class="modal-search__settings_item_content js-dropdown-content" id="search-settings-3">
                <ul class="modal-search__settings_list">
                    <li class="modal-search__settings_list_item">
                        <label class="check">
                            <input class="check__input" type="checkbox">
                            <span class="check__box"></span>
                            <span class="checkbox__label">Тема</span>
                        </label>
                    </li>
                    <li class="modal-search__settings_list_item">
                        <label class="check">
                            <input class="check__input" type="checkbox">
                            <span class="check__box"></span>
                            <span class="checkbox__label">Тема</span>
                        </label>
                    </li>
                    <li class="modal-search__settings_list_item">
                        <label class="check">
                            <input class="check__input" type="checkbox">
                            <span class="check__box"></span>
                            <span class="checkbox__label">Тема</span>
                        </label>
                    </li>
                    <li class="modal-search__settings_list_item">
                        <label class="check">
                            <input class="check__input" type="checkbox">
                            <span class="check__box"></span>
                            <span class="checkbox__label">Тема</span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.modal-search__settings_item -->
        <div class="modal-search__settings_item">
            <a href="#search-settings-4" class="modal-search__settings_item_link js-dropdown-link">
                <span class="modal-search__settings_item_link_subtitle">Сорт. по:</span>
                <span class="sort-label">Популярности</span> <span class="arrow"></span>
            </a>
            <div class="modal-search__settings_item_content js-dropdown-content" id="search-settings-4">
                <ul class="modal-search__settings_list">
                    <li class="modal-search__settings_list_item">
                        <a href="#" class="modal-search__settings_list_item_link active">Популярности</a>
                    </li>
                    <li class="modal-search__settings_list_item">
                        <a href="#" class="modal-search__settings_list_item_link">Дате</a>
                    </li>
                    <li class="modal-search__settings_list_item">
                        <a href="#" class="modal-search__settings_list_item_link">Рейтингу</a>
                    </li>
                    <li class="modal-search__settings_list_item">
                        <a href="#" class="modal-search__settings_list_item_link">Алфавиту</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.modal-search__settings_item -->
        <div class="modal-search__settings_item">
            <a href="#" class="modal-search__settings_item_link">
                <img src="../../../assets/img/svg/settings.svg" alt="">
            </a>
        </div>
        <!-- /.modal-search__settings_item -->
    </div>
    <!-- /.modal-search__settings -->
    <div class="modal-search__mobile_settings">
        <div class="modal-search__settings_item">
            <a href="#mobile-search-settings-1" class="modal-search__settings_item_link js-dropdown-link">
                Фильтры <span class="arrow"></span>
            </a>
        </div>
        <div class="modal-search__settings_item">
            <a href="#mobile-search-settings-2" class="modal-search__settings_item_link js-dropdown-link">
                Сортировка <span class="arrow"></span>
            </a>
            <div class="modal-search__settings_item_content js-dropdown-content" id="mobile-search-settings-2">
                <ul class="modal-search__settings_list">
                    <li class="modal-search__settings_list_item">
                        <label class="check">
                            <input class="check__input" type="radio" name="mobile-sort">
                            <span class="check__box"></span>
                            <span class="checkbox__label">По дате</span>
                        </label>
                    </li>
                    <li class="modal-search__settings_list_item">
                        <label class="check">
                            <input class="check__input" type="radio" name="mobile-sort">
                            <span class="check__box"></span>
                            <span class="checkbox__label">По популярности</span>
                        </label>
                    </li>
                    <li class="modal-search__settings_list_item">
                        <label class="check">
                            <input class="check__input" type="radio" name="mobile-sort">
                            <span class="check__box"></span>
                            <span class="checkbox__label">По алфавиту</span>
                        </label>
                    </li>
                    <li class="modal-search__settings_list_item">
                        <label class="check">
                            <input class="check__input" type="radio" name="mobile-sort">
                            <span class="check__box"></span>
                            <span class="checkbox__label">По рейтингу</span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal-search__settings_item">
            <a href="#" class="modal-search__settings_item_link">
                <img src="../../../assets/img/svg/settings.svg" alt="">
            </a>
        </div>
    </div>
    <!-- /.modal-search__mobile_settings -->
    <div class="modal-search__mobile_settings_item_content js-dropdown-content" id="mobile-search-settings-1">
        <div class="accordion">
            <div class="accordion__item">
                <a href="#modal-search-accordion-1" class="accordion__link">Провайдеры</a>
                <div class="accordion__content" id="modal-search-accordion-1">
                    <ul class="modal-search__settings_list">
                        <li class="modal-search__settings_list_item">
                            <label class="check">
                                <input class="check__input" type="checkbox">
                                <span class="check__box"></span>
                                <span class="checkbox__label">Провайдеры</span>
                            </label>
                        </li>
                        <li class="modal-search__settings_list_item">
                            <label class="check">
                                <input class="check__input" type="checkbox">
                                <span class="check__box"></span>
                                <span class="checkbox__label">Провайдер</span>
                            </label>
                        </li>
                        <li class="modal-search__settings_list_item">
                            <label class="check">
                                <input class="check__input" type="checkbox">
                                <span class="check__box"></span>
                                <span class="checkbox__label">Провайдеры</span>
                            </label>
                        </li>
                        <li class="modal-search__settings_list_item">
                            <label class="check">
                                <input class="check__input" type="checkbox">
                                <span class="check__box"></span>
                                <span class="checkbox__label">Провайдеры Провайдер</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="accordion__item">
                <a href="#modal-search-accordion-2" class="accordion__link">Свойства</a>
                <div class="accordion__content" id="modal-search-accordion-2">
                    <ul class="modal-search__settings_list">
                        <li class="modal-search__settings_list_item">
                            <label class="check">
                                <input class="check__input" type="checkbox">
                                <span class="check__box"></span>
                                <span class="checkbox__label">Ежедневные дропы и выигрыши</span>
                            </label>
                        </li>
                        <li class="modal-search__settings_list_item">
                            <label class="check">
                                <input class="check__input" type="checkbox">
                                <span class="check__box"></span>
                                <span class="checkbox__label">Ежедневные джекпоты</span>
                            </label>
                        </li>
                        <li class="modal-search__settings_list_item">
                            <label class="check">
                                <input class="check__input" type="checkbox">
                                <span class="check__box"></span>
                                <span class="checkbox__label">Бонусные игры</span>
                            </label>
                        </li>
                        <li class="modal-search__settings_list_item">
                            <label class="check">
                                <input class="check__input" type="checkbox">
                                <span class="check__box"></span>
                                <span class="checkbox__label">Бесплатные спины</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="accordion__item">
                <a href="#modal-search-accordion-3" class="accordion__link">Темы игр</a>
                <div class="accordion__content" id="modal-search-accordion-3">
                    <ul class="modal-search__settings_list">
                        <li class="modal-search__settings_list_item">
                            <label class="check">
                                <input class="check__input" type="checkbox">
                                <span class="check__box"></span>
                                <span class="checkbox__label">Провайдеры</span>
                            </label>
                        </li>
                        <li class="modal-search__settings_list_item">
                            <label class="check">
                                <input class="check__input" type="checkbox">
                                <span class="check__box"></span>
                                <span class="checkbox__label">Провайдер</span>
                            </label>
                        </li>
                        <li class="modal-search__settings_list_item">
                            <label class="check">
                                <input class="check__input" type="checkbox">
                                <span class="check__box"></span>
                                <span class="checkbox__label">Провайдеры</span>
                            </label>
                        </li>
                        <li class="modal-search__settings_list_item">
                            <label class="check">
                                <input class="check__input" type="checkbox">
                                <span class="check__box"></span>
                                <span class="checkbox__label">Провайдеры Провайдер</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.modal-search__accordion -->
    </div>
    <div class="modal-search__list">
        <div class="modal-search__list_item_title">Рекомендации для вас</div>
        <a href="#" class="modal-search__list_item">
            <div class="modal-search__list_item_img">
                <img src="../../../assets/img/all-games-1.png" alt="">
            </div>
            <div class="modal-search__list_item_name">Dead or Alive 2</div>
            <div class="modal-search__list_item_arrow">
                <img src="../../../assets/img/svg/arrow-right.svg" alt="">
            </div>
        </a>
        <a href="#" class="modal-search__list_item">
            <div class="modal-search__list_item_img">
                <img src="../../../assets/img/all-games-2.png" alt="">
            </div>
            <div class="modal-search__list_item_name">Book of Ra</div>
            <div class="modal-search__list_item_arrow">
                <img src="../../../assets/img/svg/arrow-right.svg" alt="">
            </div>
        </a>
        <a href="#" class="modal-search__list_item">
            <div class="modal-search__list_item_img">
                <img src="../../../assets/img/all-games-3.png" alt="">
            </div>
            <div class="modal-search__list_item_name">Jammin' Jars</div>
            <div class="modal-search__list_item_arrow">
                <img src="../../../assets/img/svg/arrow-right.svg" alt="">
            </div>
        </a>
        <a href="#" class="modal-search__list_item">
            <div class="modal-search__list_item_img">
                <img src="../../../assets/img/all-games-4.png" alt="">
            </div>
            <div class="modal-search__list_item_name">Wild West Gold</div>
            <div class="modal-search__list_item_arrow">
                <img src="../../../assets/img/svg/arrow-right.svg" alt="">
            </div>
        </a>
        <a href="#" class="modal-search__list_item">
            <div class="modal-search__list_item_img">
                <img src="../../../assets/img/all-games-5.png" alt="">
            </div>
            <div class="modal-search__list_item_name">Game of Thrones </div>
            <div class="modal-search__list_item_arrow">
                <img src="../../../assets/img/svg/arrow-right.svg" alt="">
            </div>
        </a>
    </div>
    <!-- /.modal-search__list -->
</div>
<!-- /.modal-search -->