.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 18em;
  height: 5em;
  padding: 0 1.5em;
  border-radius: 1em;
  background-color: $green;
  font-family: 'SF Pro Display Semibold', sans-serif;
  color: $white;
  box-sizing: border-box;
  transition: .3s;
  span {
    font-size: 1.6em;
  }
  img {
    width: 2em;
    margin-right: 1em;
  }
  &:hover {
    background-color: darken($green, 10);
  }
  &.btn-mini {
    min-width: auto;
    padding: 0 2.5em;
  }
  &.btn-outline {
    font-family: 'SF Pro Display Meduim', sans-serif;
    border: 1px solid $gray;
    background-color: transparent;
  }
}