.fancybox-active {
  overflow: hidden !important;
}

.fancybox-bg {
  backdrop-filter: blur(0.7em);
  background-image: linear-gradient(to bottom, #20242e, #232734 51%, rgba(38, 42, 57, 0.66));
}

@media (max-width: 767.98px) {
  .fancybox-bg {
    backdrop-filter: none;
    background-color: #1e212b;
  }
  .fancybox-is-open .fancybox-bg {
    opacity: 1;
  }
}