.slick-prev,
.slick-next {
  font-size: 0.52vw;
  width: 4.2em;
  height: 4em;
  border: 1px solid #70747a;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5em;
  transition: .5s;
  z-index: 2000;
  &:before {
    content: '';
  }
  &:focus {
    outline: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5em;
  }
  &:hover {
    border-color: $white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5em;
    z-index: 2001;
  }
}

.slick-prev {
  top: -2.5em;
  left: auto;
  right: 4.1em;
  border-radius: 2em 0 0 2em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.903' height='12.825' viewBox='0 0 15.903 12.825'%3E%3Cg id='arrow-left-icon' transform='translate(1.413 1.413)'%3E%3Cline id='Line_21' data-name='Line 21' x1='5.49' y2='5' fill='none' stroke='%23fafdff' stroke-linecap='round' stroke-width='2'/%3E%3Cline id='Line_22' data-name='Line 22' x1='13.49' transform='translate(0 5)' fill='none' stroke='%23fafdff' stroke-linecap='round' stroke-width='2'/%3E%3Cline id='Line_23' data-name='Line 23' x1='5.49' y1='5' transform='translate(0 5)' fill='none' stroke='%23fafdff' stroke-linecap='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E");
  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.903' height='12.825' viewBox='0 0 15.903 12.825'%3E%3Cg id='arrow-left-icon' transform='translate(1.413 1.413)'%3E%3Cline id='Line_21' data-name='Line 21' x1='5.49' y2='5' fill='none' stroke='%23fafdff' stroke-linecap='round' stroke-width='2'/%3E%3Cline id='Line_22' data-name='Line 22' x1='13.49' transform='translate(0 5)' fill='none' stroke='%23fafdff' stroke-linecap='round' stroke-width='2'/%3E%3Cline id='Line_23' data-name='Line 23' x1='5.49' y1='5' transform='translate(0 5)' fill='none' stroke='%23fafdff' stroke-linecap='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E");
  }
  &:focus {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.903' height='12.825' viewBox='0 0 15.903 12.825'%3E%3Cg id='arrow-left-icon' transform='translate(1.413 1.413)'%3E%3Cline id='Line_21' data-name='Line 21' x1='5.49' y2='5' fill='none' stroke='%23fafdff' stroke-linecap='round' stroke-width='2'/%3E%3Cline id='Line_22' data-name='Line 22' x1='13.49' transform='translate(0 5)' fill='none' stroke='%23fafdff' stroke-linecap='round' stroke-width='2'/%3E%3Cline id='Line_23' data-name='Line 23' x1='5.49' y1='5' transform='translate(0 5)' fill='none' stroke='%23fafdff' stroke-linecap='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E");
  }
}

.slick-next {
  top: -2.5em;
  right: 0;
  border-radius: 0 2em 2em 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.903' height='12.825' viewBox='0 0 15.903 12.825'%3E%3Cg id='arrow-right-icon' transform='translate(15344.5 -11574.087)'%3E%3Cline id='Line_21' data-name='Line 21' x2='5.49' y2='5' transform='translate(-15335.5 11575.5)' fill='none' stroke='%23fafdff' stroke-linecap='round' stroke-width='2'/%3E%3Cline id='Line_22' data-name='Line 22' x2='13.49' transform='translate(-15343.5 11580.5)' fill='none' stroke='%23fafdff' stroke-linecap='round' stroke-width='2'/%3E%3Cline id='Line_23' data-name='Line 23' y1='5' x2='5.49' transform='translate(-15335.5 11580.5)' fill='none' stroke='%23fafdff' stroke-linecap='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E");
  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.903' height='12.825' viewBox='0 0 15.903 12.825'%3E%3Cg id='arrow-right-icon' transform='translate(15344.5 -11574.087)'%3E%3Cline id='Line_21' data-name='Line 21' x2='5.49' y2='5' transform='translate(-15335.5 11575.5)' fill='none' stroke='%23fafdff' stroke-linecap='round' stroke-width='2'/%3E%3Cline id='Line_22' data-name='Line 22' x2='13.49' transform='translate(-15343.5 11580.5)' fill='none' stroke='%23fafdff' stroke-linecap='round' stroke-width='2'/%3E%3Cline id='Line_23' data-name='Line 23' y1='5' x2='5.49' transform='translate(-15335.5 11580.5)' fill='none' stroke='%23fafdff' stroke-linecap='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E");
  }
  &:focus {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.903' height='12.825' viewBox='0 0 15.903 12.825'%3E%3Cg id='arrow-right-icon' transform='translate(15344.5 -11574.087)'%3E%3Cline id='Line_21' data-name='Line 21' x2='5.49' y2='5' transform='translate(-15335.5 11575.5)' fill='none' stroke='%23fafdff' stroke-linecap='round' stroke-width='2'/%3E%3Cline id='Line_22' data-name='Line 22' x2='13.49' transform='translate(-15343.5 11580.5)' fill='none' stroke='%23fafdff' stroke-linecap='round' stroke-width='2'/%3E%3Cline id='Line_23' data-name='Line 23' y1='5' x2='5.49' transform='translate(-15335.5 11580.5)' fill='none' stroke='%23fafdff' stroke-linecap='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E");
  }
}

.slick-dots {
  bottom: 1em;
  li {
    width: 3em;
    height: 0.8em;
    margin: 0 1em;
    border-radius: 0.4em;
    background-color: rgba($white, .25);
    &.slick-active {
      background-color: $green;
    }
    button {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      &:before {
        display: none;
      }
    }
  }
}

.section__slider {
  .slick-list {
    margin: 0 -1em;
    padding: 2em 0;
  }
  .slick-slide {
    padding: 0 1em;
    &:focus {
      outline: none;
    }
  }
  a {
    &:focus {
      outline: none;
    }
  }
}