.h2 {
  margin: 0;
  font-family: 'SF Pro Display Semibold', sans-serif;
  font-size: 2.8em;
  color: $white;
}

.section__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.section__title_icon {
  width: 5em;
  margin-right: 2em;
}