@media (max-width: 1700px) {

  // Customs
  .page-home {
    padding-right: 0;
  }

  .scroll-top {
    display: none !important;
  }

  // Header
  .header {
    padding: 0 20px 0 0;
  }

  // Section 1
  .section-1 {
    margin-right: 0;
  }

  // Section 2
  .section-2 {
    -ms-grid-columns: minmax(0, 1fr);
    grid-template-columns: minmax(0, 1fr);
    margin-right: 0;
  }
  .section-2__title {
    margin-right: 0;
  }
  .section-2__slider {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
  }

  // Section 3
  .section-3 {
    margin-right: 0;
  }

  // Section 4
  .section-4 {
    margin-right: 0;
    padding: 0 30px;
  }

}

@media (max-width: 1500px) {

  // Customs
  .page-home {
    padding-left: 90px;
  }
  .fast-deposit {
    padding: 10px 5px 20px;
  }

  // Header
  .header__login {
    margin-right: 10px;
    margin-left: 20px;
  }
  .navigation__list_item {
    margin-right: 15px;
  }
  .header__hamburger {
    width: 90px;
  }

  // Side Menu
  .side-menu {
    width: 90px;
  }
  .side-menu__label {
    bottom: -2px;
    font-size: 12px;
  }
  .fast-deposit__desc {
    margin-top: 10px;
    font-size: 16px;
  }

  // Section 2
  .section-2__slider {
    .slick-slide {
      padding: 0 5px;
    }
  }

  // Section 3
  .section-3__list_item {
    margin-right: 50px;
  }

}

@media (max-width: 1300px) {

  // Customs
  .h2 {
    font-size: 20px;
  }
  .btn {
    min-width: auto;
    height: 35px;
    padding: 0 10px;
    font-size: 12px;
    &.btn-mini {
      padding: 0 10px;
    }
  }
  .section__slider {
    .slick-list {
      margin: 0 -5px;
      padding: 15px 0;
    }
    .slick-slide {
      padding: 0 5px;
    }
  }
  .section__title_icon {
    margin-right: 10px;
    img {
      width: 30px;
    }
  }
  .slick-prev, .slick-next {
    top: -15px;
    height: 30px;
  }
  .card__badge {
    top: 5px;
    right: 5px;
    padding: 3px 8px;
    font-size: 8px;
  }

  // Header
  .header {
    padding: 0 10px 0 0;
  }
  .header__hamburger {
    height: 50px;
  }
  .header__logo_img {
    img {
      width: 60px;
    }
  }
  .header__logo_text {
    font-size: 20px;
  }
  .header__search {
    width: 30px;
    height: 30px;
    img {
      width: 15px;
    }
  }
  .navigation__list_item {
    height: 50px;
    margin-right: 10px;
  }
  .navigation__list_item_link {
    font-size: 14px;
  }
  .header__login {
    margin-right: 5px;
    margin-left: 10px;
  }

  // Side Menu
  .side-menu {
    top: 50px;
  }

  // Section 1
  .section-1 {
    padding: 65px 0 15px;
  }
  .section-1__slider_item {
    padding: 15px 25px 45px;
  }
  .section-1__slider_subtitle {
    font-size: 30px;
  }
  .section-1__slider_title {
    font-size: 45px;
  }
  .section-1__slider_desc {
    font-size: 16px;
    color: $white;
  }
  .section-1__slider_btn {
    .btn {
      width: 180px;
      height: 50px;
      font-size: 16px;
    }
  }

  // Section 2
  .section-2 {
    padding: 15px 10px;
  }
  .section-2__slider {
    .slick-list {
      margin: 0 -10px;
    }
  }

  // Section 3
  .section-3__list_item {
    margin-right: 25px;
  }

  // Section 4, 5, 6, 7, 8, 9
  .section-4,
  .section-5,
  .section-6,
  .section-7,
  .section-8,
  .section-9,
  {
    padding: 15px 10px;
  }

  // All Games
  .all-games {
    padding: 15px 10px;
  }
  .all-games__list {
    margin: -5px;
    .card {
      width: calc(20% - 10px);
      margin: 5px;
    }
  }
  .all-games__btn {
    margin-top: 0;
  }

  // Footer
  .footer {
    padding: 0;
  }
  .footer__lvl1_link {
    font-size: 15px;
  }
  .footer__text {
    font-size: 15px;
  }
  .footer__lvl1 {
    padding: 25px 10px;
  }
  .footer__lvl2 {
    padding: 15px 10px;
  }
  .footer__lvl3 {
    padding: 15px 10px;
    .footer__icons_list {
      margin-right: 30px;
    }
    .footer__icons_list_item {
      margin-right: 10px;
    }
    .footer__text {
      font-size: 12px;
    }
  }
  .footer__lvl4 {
    padding: 15px 10px;
  }

}

@media (max-width: 1023.98px) {

  // Customs
  .page-home {
    padding: 0;
  }

  // Side Menu
  .side-menu {
    display: none;
  }

  // Header
  .navigation {
    display: none;
  }

  // Section 1
  .section-1 {
    padding: 50px 0 0;
  }
  .section-1__slider {
    .slick-slide {
      margin: 0;
    }
  }

  // Section 2
  .section-2__slider {
    .slick-slide {
      width: 260px !important;
    }
  }

  // Section 3
  .section-3__list {
    justify-content: space-between;
    padding: 0 50px;
  }
  .section-3__list_item_img {
    width: 60px;
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
  }
  .section-3__list_item_title {
    bottom: -5px;
    font-size: 10px;
  }

  // Footer
  .footer__lvl1_link {
    font-size: 12px;
  }

}

@media (max-width: 767.98px) {

  // Customs
  .header__hamburger {
    width: 60px;
    background-color: transparent;
  }
  .section__title {
    margin-bottom: 10px;
  }

  // Header
  .header__left {
    justify-content: space-between;
    width: 100%;
  }
  .header__login {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 55px;
    margin: 0;
    border-radius: 0;
    font-size: 14px;
    z-index: 88888;
    &.btn-outline {
      border: none;
      background-color: #3b444d;
    }
  }
  .header__register {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 55px;
    margin: 0;
    border-radius: 0;
    font-size: 14px;
    z-index: 88888;
    img {
      display: none;
    }
  }

  // Section 3
  .section-3 {
    overflow-x: auto;
    padding: 25px 25px 50px;
  }
  .section-3__list {
    padding: 0;
  }
  .section-3__list_item {
    &:last-child {
      padding-right: 25px;
      .section-3__list_item_title {
        padding-right: 25px;
      }
    }
  }

  // All Games
  .all-games {
    .section__title {
      margin-bottom: 0;
    }
  }
  .all-games__list {
    padding: 15px 0;
    .card {
      width: calc(50% - 10px);
    }
  }

  // Footer
  .footer {
    padding-bottom: 55px;
  }
  .footer__lvl1 {
    flex-wrap: wrap;
    padding: 15px 10px 25px;
  }
  .footer__lvl1_link {
    margin-top: 10px;
    font-size: 15px;
  }
  .footer__lvl2 {
    flex-wrap: wrap;
    .footer__icons {
      &:first-child {
        padding-bottom: 15px;
      }
      &:last-child {
        margin: 0 -10px;
        padding: 15px 10px 0;
        border-top: 1px solid #61656B;
        .footer__icons_list {
          flex-wrap: wrap;
          margin-top: -10px;
        }
        .footer__icons_list_item {
          margin-top: 10px;
        }
      }
    }
  }
  .footer__icons_title {
    text-align: center;
  }
  .footer__icons_list {
    justify-content: center;
    width: 100%;
  }
  .footer__icons_list_item {
    filter: none;
  }
  .footer__lvl3 {
    flex-wrap: wrap;
    padding: 15px 10px 70px;
    .footer__icons_list {
      margin-right: 0;
      margin-bottom: 10px;
    }
    .footer__text {
      font-size: 15px;
      text-align: center;
    }
  }
  .footer__lvl4 {
    position: relative;
    flex-wrap: wrap;
  }
  .footer__lvl4_left {
    justify-content: center;
  }
  .footer__lvl4_mid {
    margin: 15px 0;
  }
  .footer__lvl4_right {
    position: absolute;
    top: -15px;
    left: 0;
    transform: translateY(-100%);
    justify-content: center;
  }

}