@media (min-width: 768px) {
  body {
    font-size: 0.52vw;
  }
}

@media (max-width: 767.98px) {

  // Customs
  .h2 {
    font-size: 2em;
  }
  .section__slider {
    .slick-list {
      padding: 0;
    }
  }
  .card__badge {
    top: 0.5em;
    right: 0.5em;
    padding: 0.4em 0.8em;
    span {
      font-size: 1em;
    }
  }
  .section__title_icon {
    width: 3em;
    margin-right: 1em;
  }
  .page-home {
    padding: 0;
  }
  .scroll-top {
    display: none !important;
  }
  .section__title {
    margin-bottom: 0.5em;
  }
  .check {
    &:hover {
      .checkbox__label {
        color: #909397;
      }

      .check__box {
        background-color: $white;
      }
    }
  }
  .check__input {
    &:checked + .check__box {
      background-color: $green;
    }

    &:checked + .check__box + .checkbox__label {
      color: $white;
    }
  }
  .check__box {
    background-color: $white;
  }
  .btn {
    min-width: auto;
    height: 3.5em;
    padding: 0 1em;
    span {
      font-size: 1.2em;
    }

    &.btn-mini {
      padding: 0 10px;
    }
  }
  .slick-dots {
    li {
      width: 2.5em;
      height: 0.6em;
      margin: 0 0.8em;
      border-radius: 0.3em;
    }
  }

  // Side Menu
  .side-menu {
    display: none;
    padding: 4em 0;
    overflow-y: auto;
    &.active {
      display: block;
      width: 100%;
      background-color: #1e212b;
      .side-menu__list {
        display: block;
      }
      .side-menu__list_item {
        margin-bottom: 3em;
        padding-left: 2em;
        box-sizing: border-box;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .side-menu__label {
        white-space: nowrap;
        color: #888c8e;
      }
      .fast-deposit {
        display: none;
      }
    }
  }

  // Header
  .header {
    padding: 0 1em;
  }
  .header__hamburger {
    width: 60px;
    background-color: transparent;
  }
  .header__left {
    width: 100%;
  }
  .header__logo_text {
    font-size: 2em;
  }
  .header__search {
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
    width: 4em;
  }
  .header__search_text {
    display: none;
  }
  .header__login {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 55px;
    margin: 0;
    border-radius: 0;
    z-index: 88888;

    span {
      font-size: 1.4em;
    }

    &.btn-outline {
      border: none;
      background-color: #3b424d;
      &:hover {
        background-color: #3b424d;
      }
    }
  }
  .header__register {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 55px;
    margin: 0;
    border-radius: 0;
    z-index: 88888;

    span {
      font-size: 1.4em;
    }
  }
  .navigation {
    display: none;
    position: inherit;
  }
  .user__dropdown {
    position: inherit;
  }
  .user__content, .notification__content {
    left: 0;
    right: auto;
    top: 7em;
    bottom: auto;
    transform: none;
    width: 100%;
    &:before {
      display: none;
    }
  }

  // Section 1
  .section-1 {
    margin: 0;
    padding: 8em 1em 1em;
  }
  .section-1__slider {
    .slick-slide {
      margin: 0;
    }
  }
  .section-1__slider_item {
    padding: 12em 2em 5em;
    background-image: url(../../../assets/img/banner-mobile.png);
  }
  .section-1__slider_subtitle {
    font-size: 30px;
    text-align: center;
  }
  .section-1__slider_title {
    font-size: 35px;
    text-align: center;
  }
  .section-1__slider_desc {
    text-align: center;

    span {
      font-size: 16px;
    }
  }
  .section-1__slider_btn {
    display: flex;
    align-items: center;
    justify-content: center;

    .btn {
      width: 180px;
      height: 50px;

      span {
        font-size: 16px;
      }
    }
  }

  // Section 2
  .section-2 {
    -ms-grid-columns: minmax(0, 1fr);
    grid-template-columns: minmax(0, 1fr);
    margin: 0;
    padding: 1.5em 0;
  }
  .section-2__title {
    margin-right: 0;
  }
  .section-2__slider {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    overflow: hidden;
    .slick-current {
      .section-2__slider_item {
        &.yellow {
          border-color: #fea429;
          background-image: linear-gradient(to bottom, rgba(40, 21, 24, 0.3) 53%, rgba(#fea429, .5));
          &:before {
            background-color: #fea429;
          }
        }
        &.orange {
          border-color: #ec5a3c;
          background-image: linear-gradient(to bottom, rgba(40, 21, 24, 0) 53%, rgba(#ff4b00, .4));
          &:before {
            background-color: #ec5a3c;
          }
        }
        &.red {
          border-color: #fe4141;
          background-image: linear-gradient(to bottom, rgba(40, 21, 24, 0) 53%, rgba(254, 65, 65, 0.4));
          &:before {
            background-color: #fe4141;
          }
        }
        &.blue {
          border-color: #3072bb;
          background-image: linear-gradient(to bottom, rgba(40, 21, 24, 0) 53%, rgba(#2f77c2, .5));
          &:before {
            background-color: #3072bb;
          }
        }
      }
    }
  }

  // Section 3
  .section-3 {
    overflow-x: auto;
    display: flex;
    align-items: center;
    height: 6em;
    margin: 0;
    padding: 0;
    border: 1px solid rgba(#38414b, .2);
    background-color: rgba($black, .2);
    &.active {
      height: 4em;
      padding: 0;
    }
  }
  .section-3__list {
    justify-content: flex-start;
    height: auto;
    padding: 0 2em;
    border: none;
    background-color: transparent;
  }
  .section-3__list_item {
    margin-right: 1em;
    &.dropdown {
      display: none;
    }
    &:nth-child(7) {
      margin-right: 0;
    }
    span {
      font-size: 1.2em;
    }
  }
  .section-3__list_item_link {
    height: 3em;
  }
  .section-3__list_item_img {
    width: 2em;
    height: 2em;
  }

  // Section 4, 5, 6, 7, 8, 9
  .section-4,
  .section-5,
  .section-6,
  .section-7,
  .section-8,
  .section-9,
  {
    margin: 0;
    padding: 1em;
  }
  .section-7 {
    .all-games__list {
      .card {
        max-width: 14em;
        min-width: 14em;
      }
    }
  }
  .section-9__card_logo {
    img {
      max-width: 80px;
    }
  }

  // All Games
  .all-games {
    padding: 1em;
    overflow: hidden;
    .section__title {
      margin-bottom: 0;
    }
  }
  .all-games__list {
    overflow-x: auto;
    flex-wrap: nowrap;
    margin: 0 -1em;
    padding: 0 0.5em 1em;
    .card {
      display: block !important;
      min-width: 20em;
      margin: 0.5em;
      &:hover {
        transform: none;
      }
      &:last-child {
        padding-right: 1em;
        .card__badge {
          right: 1.5em;
        }
      }
      .card__overflow {
        display: none;
      }
      .card__play {
        display: none;
      }
      .card__demo {
        display: none;
      }
    }
  }
  .all-games__title {
    margin-bottom: 1em;
  }
  .all-games__title_btn {
    .btn {
      height: 3em;
      span {
        font-size: 1.2em;
      }
    }
  }
  .all-games__btn {
    margin-top: 1em;
    .btn {
      max-width: 28em;
    }
  }
  .view-all {
    display: none;
  }

  // Footer
  .footer {
    padding: 3em 0 5.5em;
  }
  .footer__lvl1 {
    flex-wrap: wrap;
    padding: 15px 10px 25px;
  }
  .footer__lvl1_link {
    margin-top: 10px;
  }
  .footer__lvl2 {
    flex-wrap: wrap;

    .footer__icons {
      &:first-child {
        padding-bottom: 15px;
      }

      &:last-child {
        margin: 0 -10px;
        padding: 15px 10px 0;
        border-top: 1px solid #363e47;

        .footer__icons_list {
          flex-wrap: wrap;
          margin-top: -10px;
        }

        .footer__icons_list_item {
          margin-top: 10px;
        }
      }
    }
  }
  .footer__icons_title {
    text-align: center;
  }
  .footer__icons_list {
    justify-content: center;
    width: 100%;
  }
  .footer__icons_list_item {
    filter: none;
  }
  .footer__lvl3 {
    flex-wrap: wrap;
    padding: 15px 10px 70px;

    .footer__icons_list {
      margin-right: 0;
      margin-bottom: 10px;
    }

    .footer__text {
      font-size: 15px;
      text-align: center;
    }
  }
  .footer__lvl4 {
    position: relative;
    flex-wrap: wrap;
  }
  .footer__lvl4_left {
    justify-content: center;
  }
  .footer__lvl4_mid {
    margin: 15px 0;
  }
  .footer__lvl4_right {
    position: absolute;
    top: -15px;
    left: 0;
    transform: translateY(-100%);
    justify-content: center;
  }
  body.login-version {
    .header__logo_text {
      display: none;
    }
    .header__search {
      display: none;
    }
    .header__login {
      display: none;
    }
    .notification {
      display: none;
    }
    .user {
      border-color: transparent;
    }
    .mobile-navigation {
      display: flex;
    }
  }

}

@media (max-width: 380px) {
  .header__logo_img {
    img {
      width: 6em;
    }
  }
  .header__hamburger {
    width: 4em;
  }
}

@media (max-height: 630px) {
  .user__content_title {
    padding: 1em;
  }
  .user__content_list {
    padding: 1em;
  }
  .user__content_item {
    margin-bottom: 1em;
  }
  .user__content_link {
    font-size: 1.5em;
  }
  .user__content_info {
    padding: 1em;
  }
  .user__content_info_title {
    font-size: 1.5em;
  }
  .user__content_info_desc {
    font-size: 1.2em;
    line-height: 1.3;
  }
  .user__content_logout {
    padding: 1em;
  }
  .user__content_logout_link {
    font-size: 1.5em;
  }
}