<div class="pagination">
    <div class="pagination__arrow prev">
        <img src="../../assets/img/svg/arrow-right.svg" alt="">
    </div>
    <ul class="pagination__list">
        <li class="pagination__list_item">
            <a href="#" class="pagination__list_item_link active">1</a>
        </li>
        <li class="pagination__list_item">
            <a href="#" class="pagination__list_item_link">2</a>
        </li>
        <li class="pagination__list_item">
            <a href="#" class="pagination__list_item_link">3</a>
        </li>
        <li class="pagination__list_item">
            <a href="#" class="pagination__list_item_link">4</a>
        </li>
        <li class="pagination__list_item">
            <div class="pagination__list_item_space">...</div>
        </li>
        <li class="pagination__list_item">
            <a href="#" class="pagination__list_item_link">8</a>
        </li>
    </ul>
    <div class="pagination__arrow next">
        <img src="../../assets/img/svg/arrow-right.svg" alt="">
    </div>
</div>
<!-- /.pagination -->