<div class="modal-form modal-bonus-cancel" id="modal-bonus-cancel">

    <div class="modal-bonus-cancel__title">
        <div class="modal-bonus-cancel__logo">
            <img src="../../../assets/img/icons/logo.png" alt="">
        </div>
        <div class="form-title">Отмена бонуса</div>
    </div>
    <div class="modal-bonus-cancel__content">
        <span>
            Вы уверены, что хотите отменить бонус <br> "Приветственный бонус"?
        </span>
    </div>
    <div class="modal-bonus-cancel__btn">
        <a href="#" class="btn">
            <span>Отключить бонус</span>
        </a>
    </div>

</div>
<!-- /.modal-bonus-cancel -->