<div class="section-1">
    <div class="section-1__slider">
        <div class="section-1__slider_item">
            <div class="section-1__slider_subtitle">Горяяячий привет</div>
            <div class="section-1__slider_title">от Гринго!</div>
            <div class="section-1__slider_desc">
                <span>Бонус всем новым пользователям 300% бонус к депо и 150 FS!</span>
            </div>
            <div class="section-1__slider_btn">
                <a href="#" class="btn"><span>Забрать бонусы</span></a>
            </div>
        </div>
        <!-- /.section-1__slider_item -->
        <div class="section-1__slider_item">
            <div class="section-1__slider_subtitle">Горяяячий привет</div>
            <div class="section-1__slider_title">от Гринго!</div>
            <div class="section-1__slider_desc">
                <span>Бонус всем новым пользователям 300% бонус к депо и 150 FS!</span>
            </div>
            <div class="section-1__slider_btn">
                <a href="#" class="btn"><span>Забрать бонусы</span></a>
            </div>
        </div>
        <!-- /.section-1__slider_item -->
        <div class="section-1__slider_item">
            <div class="section-1__slider_subtitle">Горяяячий привет</div>
            <div class="section-1__slider_title">от Гринго!</div>
            <div class="section-1__slider_desc">
                <span>Бонус всем новым пользователям 300% бонус к депо и 150 FS!</span>
            </div>
            <div class="section-1__slider_btn">
                <a href="#" class="btn"><span>Забрать бонусы</span></a>
            </div>
        </div>
        <!-- /.section-1__slider_item -->
    </div>
    <!-- /.section-1__slider -->
</div>
<!-- /.section-1 -->