.section-1 {
  margin-right: -130px;
  padding: 85px 0 15px;
}

.section-1__slider {
  &.slick-slider {
    margin-bottom: 0;
  }
  .slick-slide {
    margin: 0 8px;
    &:focus {
      outline: none;
    }
  }
}

.section-1__slider_item {
  position: relative;
  padding: 45px 90px;
  box-sizing: border-box;
  background-image: url(../../assets/img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  &:focus {
    outline: none;
  }
}

.section-1__slider_subtitle {
  font-family: 'SF Pro Display Meduim', sans-serif;
  font-size: 45px;
  color: rgba($white, .7);
}

.section-1__slider_title {
  font-family: 'SF Pro Display Bold', sans-serif;
  font-size: 60px;
  color: $white;
}

.section-1__slider_desc {
  margin-top: 15px;
  font-size: 22px;
  color: rgba($white, .6);
}

.section-1__slider_btn {
  margin-top: 30px;
  .btn {
    width: 300px;
    height: 70px;
    border-radius: 35px;
    font-size: 21px;
  }
}